<template>
    <v-navigation-drawer id="app-drawer" v-model="inputValue" app dark floating persistent mobile-break-point="991" width="260">
        <v-img :src="image" height="100%">
            <v-layout class="fill-height" tag="v-list" column style="overflow-y: scroll;">
                <v-list-tile avatar>
                    <v-list-tile-avatar color="white">
                        <v-img :src="logo" height="34" contain/>
                    </v-list-tile-avatar>
                    <v-list-tile-title class="title">
                        Popertee
                    </v-list-tile-title>
                </v-list-tile>
                <v-divider/>
                <v-list-tile v-if="responsive">
                    <v-text-field class="purple-input search-input" label="Search..." color="purple"/>
                </v-list-tile>
                <v-list-tile v-for="(link, i) in links" :key="i" :to="link.to" active-class="primary" avatar class="v-list-item">
                    <v-list-tile-action>
                        <v-icon>{{ link.icon }}</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-title v-text="link.text"/>
                </v-list-tile>
                <v-list-tile class="mb-2">
                </v-list-tile>

            </v-layout>
        </v-img>
    </v-navigation-drawer>
</template>

<script>
  // Utilities
  import {mapMutations, mapState} from 'vuex'

  export default {
    data: () => ({
      logo: '/img/poperteeLogoBlackNonTransparant.png',
      links: [
      	{to: '/dashboard', icon: 'mdi-view-dashboard', text: 'Dashboard'},
        {to: '/users', icon: 'mdi-account-multiple', text: 'Users'},
        {to: '/spaces', icon: 'mdi-store', text: 'Spaces'},
        // {to: '/featuredSpaces', icon: 'mdi-store', text: 'Featured Spaces'},
        {to: '/scrapers', icon: 'mdi-store', text: 'Scrapers'},
        {to: '/enquires', icon: 'mdi-email-check-outline', text: 'Enquires'},
        {to: '/blog', icon: 'mdi-email-check-outline', text: 'Blog'},
        {to: '/careers', icon: 'mdi-briefcase', text: 'Careers'},
        {to: '/newsletter', icon: 'mdi-book-open', text: 'Newsletter'},
        {to: '/partners', icon: 'mdi-account-multiple-outline', text: 'Partners'},
        {to: '/team', icon: 'mdi-account-group', text: 'Team'},
        {to: '/caseStudies', icon: 'mdi-account-card-details', text: 'Case Studies'},
        {to: '/reports', icon: 'mdi-file-chart', text: 'Reports'},
        //  {to: '/locations-xmode', icon: 'mdi-map-marker', text: 'Locations-Xmode'},
        // {to: '/locations-predicio', icon: 'mdi-map-marker', text: 'Locations-Predicio'},
        {to: '/logout', icon: 'mdi-logout-variant', text: 'Logout'},
      ],
      responsive: false
    }),
    computed: {
      ...mapState('app', ['image', 'color']),
      inputValue: {
        get() {
          return this.$store.state.app.drawer
        },
        set(val) {
          // this.setDrawer(val)
        }
      },
      items() {
        return this.$t('Layout.View.items')
      }
    },
    mounted() {
      this.onResponsiveInverted()
      window.addEventListener('resize', this.onResponsiveInverted)
    },
    beforeDestroy() {
      window.removeEventListener('resize', this.onResponsiveInverted)
    },
    methods: {
      ...mapMutations('app', ['setDrawer', 'toggleDrawer']),
      onResponsiveInverted() {
        if (window.innerWidth < 991) {
          this.responsive = true
        } else {
          this.responsive = false
        }
      }
    }
  }
</script>

<style lang="scss">
    #app-drawer {
        .v-list__tile {
            border-radius: 4px;

            &--buy {
                margin-top: auto;
                margin-bottom: 17px;
            }
        }

        .v-image__image--contain {
            top: 9px;
            height: 60%;
        }

        .search-input {
            margin-bottom: 30px !important;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
</style>
