<template>
  <v-footer
    id="core-footer"
    absolute
    height="82"
  >


  </v-footer>
</template>

<script>
export default {
  data: () => ({
    links: [
      { name: 'Home', Link: '/dashboard' },
    ]
  })
}
</script>

<style>
#core-footer {
  z-index: 0;
}
</style>
