<!-- Stacked Bar Chart Age -->
<!-- Description: Includes the declaration of the stacked bar chart -->
<template>
    <div class="fill" style="position: relative">
        <chartist ratio="none" class="age-chart" type="Bar" :data="chartData" :options="chartOptions"
                  :event-handlers="eventHandlers"></chartist>
    </div>
</template>

<!-- Adding Typescript code -->
<script>
  import 'chartist/dist/chartist.min.css';

  export default {
    name: 'BarChartAge',
    props: {
      ageData: Array,
    },
    data() {
      return {
        chartOptions: {
          // width: 400,
          // stackBars: true,
          // height: 200,
          axisX: {
            showGrid: false,
            showLabel: true,
          },
          axisY: {
            showGrid: false,
            showLabel: false,
            offset: 0,
          },
          plugins: [
            this.$chartist.plugins.tooltip(),
          ],
        },
        eventHandlers: [{
          event: 'draw',
          fn(ctx) {
            if (ctx.type === 'bar') {
              ctx.element.attr({
                x1: ctx.x1 + 0.001,
              });
            }
          }
        }, {
          event: 'created',
          fn(ctx) {
            var defs = ctx.svg.elem('defs');
            defs.elem('linearGradient', {
              id: 'gradient',
              x1: 0,
              y1: 1,
              x2: 0,
              y2: 0,
            }).elem('stop', {
              offset: 0,
              'stop-color': '#198EFF'
            }).parent().elem('stop', {
              offset: 1,
              'stop-color': 'red'
            });
          }
        }],
      };
    },
    computed: {
      chartData() {
        return {
          labels: ['18-24', '25-34', '35-44', '45-54', '55-64', '65+'],
          series: [
            {
              data: [
                this.ageData[0].totalVolume.toFixed(0),
                this.ageData[1].totalVolume.toFixed(0),
                this.ageData[2].totalVolume.toFixed(0),
                this.ageData[3].totalVolume.toFixed(0),
                this.ageData[4].totalVolume.toFixed(0),
                this.ageData[5].totalVolume.toFixed(0),
              ]
            },
          ]
        };
      }
    },
    mounted() {
      // console.log(this.ageData[0]);
    }
  }
</script>

<!-- Adding scoped styled scss -->
<style lang="scss">
    .age-chart .ct-bar {
        //stroke: url(#gradient);
        stroke-width: 40px;
        @media (max-width: 1888px) {
            stroke-width: 30px !important;
        }
        @media (max-width: 1425px) {
            stroke-width: 25px !important;
        }
        @media (max-width: 1263px) {
            stroke-width: 55px !important;
        }
        @media (max-width: 1085px) {
            stroke-width: 50px !important;
        }
    }

    .age-chart {
        .ct-series-a {
            .ct-bar {
                stroke: #01b4b5;
            }
        }

        flex: 1 1 0 !important;
        overflow: hidden !important;
        height: auto;
        @media screen and (min-color-index: 0) and(-webkit-min-device-pixel-ratio: 0) {
            height: calc(100% - 15px) !important;
            /*
              Define here the CSS styles applied only to Safari browsers
              (any version and any device)
             */
        }
    }

    .fill {
        //min-height: 100%;
        margin-top: 0;
        height: 250px;
        display: flex;
        flex-flow: column;
        @media (max-width: 1263px) {
            height: 250px !important;
        }
        @media (min-height: 900px) {
            height: 245px;
        }
        @media (min-height: 975px) {
            height: 271px;
            margin-top: 25px;
        }
        @media (min-height: 1075px) {
            height: 291px;
            margin-top: 35px;
        }
        @media (min-height: 1125px) {
            height: calc(100% - 61px) !important;
            margin-top: 0;
        }
    }
</style>