<!-- Pie Chart -->
<!-- Description: Includes the declaration of the pie chart -->
<template>
    <v-container fill-height style="height: calc(100% - 55px); position: relative">
        <v-layout column justify-center align-center>
            <div>
                    <chartist ratio="none" class="pie-chart" type="Pie" :data="chartData" :options="chartOptions" :event-handlers="eventHandlers"></chartist>
            </div>
        </v-layout>
    </v-container>
</template>

<!-- Adding Typescript code -->
<script>
    import 'chartist/dist/chartist.min.css';

    export default {
        name: 'PieChart',
        props: {
            pieData: Array,
        },
        data() {
            return {
                chartOptions: {
                    donut: true,
                    donutWidth: 50,
                    height: 210,
                    donutSolid: true,
                    startAngle: 270,
                    showLabel: true,
                    labelInterpolationFnc: (value, index) => {
                        this.chartData.series[index].value
                        return Math.round(parseInt(this.chartData.series[index].value) / this.chartData.series.reduce(this.sum) * 100) + '%';
                    },
                    plugins: [
                        this.$chartist.plugins.legend({
                            legendNames: ['Male', 'Female'],
                        }),
                      this.$chartist.plugins.tooltip()
                    ],
                },
                eventHandlers: [],
            };
        },
        computed: {
            chartData() {
                return {
                    labels: ['Female', 'Male'],
                    series: [
                        this.pieData[1].totalVolume.toFixed(0),
                        this.pieData[0].totalVolume.toFixed(0),
                    ]
                };
            }
        },
        methods: {
            sum(a, b) { return parseInt(a.value) + parseInt(b.value); }
        },
        mounted() {
            //console.log({ series: [this.pieData[1].totalVolume.toFixed(0), this.pieData[0]].totalVolume.toFixed(0) });
        }
    }
</script>

<!-- Adding scoped styled scss -->
<style lang="scss">
    .pie-chart >>> .ct-bar {
        //stroke: url(#gradient);
        stroke-width: 35px;
    }

    .pie-chart {
        .ct-legend {
            padding-left: calc(50% - 75px);
        }
        .ct-series-a {
            .ct-slice-donut-solid {
                fill: #01b4b5;
            }
        }
        .ct-series-b {
            .ct-slice-donut-solid {
                fill: #016061;
            }
        }
        .ct-label {
            fill: white;
        }
        flex:1 1 0;
        overflow:hidden;
        height: auto;
    }
</style>