<!-- Pie Chart -->
<!-- Description: Includes the declaration of the pie chart -->
<template>
    <v-container fill-height style="height: calc(100% - 55px); position: relative">
        <v-layout column justify-center align-center>
            <div>
                    <chartist ratio="none" class="pie-chart-spend" type="Pie" :data="chartData" :options="chartOptions" :event-handlers="eventHandlers"></chartist>
            </div>
        </v-layout>
    </v-container>
</template>

<!-- Adding Typescript code -->
<script>
    import 'chartist/dist/chartist.min.css';
    import vctLegend from 'vchartist-plugin-legend';

    export default {
        name: 'PieChartSpend',
        props: {
            pieData: Array,
        },
        data() {
            return {
                // chartData: {
                //     series: [20, 10],
                // },
                chartOptions: {
                    donut: true,
                    donutWidth: 50,
                    height: 210,
                    donutSolid: true,
                    startAngle: 270,
                    showLabel: true,
                    labelInterpolationFnc: (value, index) => {
                        this.chartData.series[index].value
                        const sum = parseInt(this.chartData.series[0].value) + parseInt(this.chartData.series[1].value) + parseInt(this.chartData.series[2].value);
                        return Math.round(parseInt(this.chartData.series[index].value) / sum * 100) + '%';
                    },
                    plugins: [
                        this.$chartist.plugins.legend({
                            legendNames: ['High', 'Medium', 'Low'],
                        }),
                      this.$chartist.plugins.tooltip()
                    ],
                },
                eventHandlers: [],
            };
        },
        computed: {
            chartData() {
                return {
                    labels: ['High', 'Medium', 'Low'],
                    series: [
                        (this.pieData[0].totalVolume + this.pieData[1].totalVolume).toFixed(0),
                        (this.pieData[2].totalVolume + this.pieData[3].totalVolume).toFixed(0),
                        (this.pieData[4].totalVolume).toFixed(0),
                    ]
                };
            },
        },
        mounted() {
            //console.log({ series: [this.pieData[1].totalVolume.toFixed(0), this.pieData[0]].totalVolume.toFixed(0) });
        },
        methods: {
            // sum(a, b) { return parseInt(a.value) + parseInt(b.value); }
        },
    }
</script>

<!-- Adding scoped styled scss -->
<style lang="scss">
    .pie-chart >>> .ct-bar {
        //stroke: url(#gradient);
        stroke-width: 35px;
    }

    .pie-chart-spend {
        .ct-legend {
            padding-left: calc(50% - 100px);
        }
        .ct-series-a {
            .ct-slice-donut-solid {
                fill: #01d0d2;
            }
        }
        .ct-series-b {
            .ct-slice-donut-solid {
                fill: #01b4b5;
            }
        }
        .ct-series-c {
            .ct-slice-donut-solid {
                fill: #016061;
            }
        }
        .ct-label {
            fill: white;
        }
    }
</style>