<!-- Stacked Bar Chart -->
<!-- Description: Includes the declaration of the stacked bar chart -->
<template>
    <div class="fill" style="position: relative">
        <chartist ratio="none" class="stacked-chart" type="Bar" :data="chartData" :options="chartOptions"
                  :event-handlers="eventHandlers"></chartist>
    </div>
</template>

<!-- Adding Typescript code -->
<script>
  import 'chartist/dist/chartist.min.css';

  export default {
    name: 'StackedBarChart',
    components: {},
    props: {
      stackedData: Array,
    },
    data() {
      return {
        chartOptions: {
          //width: 400,
          stackBars: true,
          // height: 200,
          axisX: {
            showGrid: false,
            showLabel: true,
          },
          axisY: {
            showGrid: false,
            showLabel: true,
          },
          plugins: [
            this.$chartist.plugins.tooltip(),
          ],
        },
        eventHandlers: [{
          event: 'draw',
          fn(ctx) {
            if (ctx.type === 'bar') {
              ctx.element.attr({
                x1: ctx.x1 + 0.001,
              });
            }
          }
        }, {
          event: 'created',
          fn(ctx) {
            var defs = ctx.svg.elem('defs');
            defs.elem('linearGradient', {
              id: 'gradient',
              x1: 0,
              y1: 1,
              x2: 0,
              y2: 0,
            }).elem('stop', {
              offset: 0,
              'stop-color': '#198EFF'
            }).parent().elem('stop', {
              offset: 1,
              'stop-color': 'red'
            });
          }
        }],
      };
    },
    computed: {
      chartData() {
        return {
          labels: ['Mon', 'Tue', 'Wed', 'Thr', 'Frd', 'Sat', 'Sun'],
          series: [
            {
              data: [
                this.stackedData[0].totalVolume === null ? 0 : this.stackedData[0].totalVolume.toFixed(0),
                this.stackedData[1].totalVolume === null ? 0 : this.stackedData[1].totalVolume.toFixed(0),
                this.stackedData[2].totalVolume === null ? 0 : this.stackedData[2].totalVolume.toFixed(0),
                this.stackedData[3].totalVolume === null ? 0 : this.stackedData[3].totalVolume.toFixed(0),
                this.stackedData[4].totalVolume === null ? 0 : this.stackedData[4].totalVolume.toFixed(0),
                this.stackedData[5].totalVolume === null ? 0 : this.stackedData[5].totalVolume.toFixed(0),
                this.stackedData[6].totalVolume === null ? 0 : this.stackedData[6].totalVolume.toFixed(0),
              ],
            },
          ]
        };
      }
    },
    mounted() {
    }
  }
</script>

<!-- Adding scoped styled scss -->
<style lang="scss">
    .stacked-chart .ct-bar {
        //stroke: url(#gradient);
        stroke-width: 40px;
        @media (max-width: 1955px) {
            stroke-width: 30px !important;
        }
        @media (max-width: 1545px) {
            stroke-width: 25px !important;
        }
        @media (max-width: 1263px) {
            stroke-width: 55px !important;
        }
        @media (max-width: 1195px) {
            stroke-width: 40px !important;
        }
    }

    .stacked-chart {
        .ct-series-a {
            .ct-bar {
                stroke: #016061;
            }
        }

        .ct-series-b {
            .ct-bar {
                stroke: #01b4b5;
            }
        }

        .ct-series-c {
            .ct-bar {
                stroke: #acc2ff;
            }
        }

        flex: 1 1 0;
        overflow: hidden;
        height: auto;
        @media screen and (min-color-index: 0) and(-webkit-min-device-pixel-ratio: 0) {
            height: calc(100% - 15px) !important;
            /*
              Define here the CSS styles applied only to Safari browsers
              (any version and any device)
             */
        }
    }

</style>