@import "material-dashboard/mixins";
@import "material-dashboard/variables";
@import "material-dashboard/typography";
@import "material-dashboard/sidebar";
@import "material-dashboard/toolbar";
@import "material-dashboard/misc";
@import "material-dashboard/inputs";
@import "material-dashboard/footer";
@import "material-dashboard/cards";
@import "material-dashboard/tables";
@import "material-dashboard/tabs";
@import "material-dashboard/checkboxes";
@import "material-dashboard/tooltips";
@import "material-dashboard/buttons";
@import "material-dashboard/alerts";
@import "material-dashboard/fixed-plugin";
@import "material-dashboard/dropdown";
.popover{
  display: none !important;
}
table.v-table{
  overflow: hidden;
}
.userLoginHistory{
  position: relative;
}
.userLoginHistory .v-expansion-panel__body{
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  background: #fff;
  z-index: 3;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);

}

.ct-legend {
  padding-bottom: 10px;
  padding-left: calc(50% - 123px);
  position: relative;
  z-index: 10;

  li {
    position: relative;
    padding-left: 23px;
    margin-bottom: 3px;
    display: inline;
    margin-left: 5px;
  }

  li:before {
    width: 12px;
    height: 12px;
    position: absolute;
    left: 7px;
    top: 3px;
    content: '';
    border: 3px solid transparent;
    border-radius: 2px;
  }

  li.inactive:before {
    background: transparent;
  }

  &.ct-legend-inside {
    //position: absolute;
    //top: 0;
    //left: 0;
  }

  $ct-series-colors: (
          #016061,
          #01b4b5,
          #01d0d2,
          #d17905,
          #453d3f,
          #59922b,
          #0544d3,
          #6b0392,
          #f05b4f,
          #dda458,
          #eacf7d,
          #86797d,
          #b2c326,
          #6188e2,
          #a748ca
  ) !default;

  @for $i from 0 to length($ct-series-colors) {
    .ct-series-#{$i}:before {
      background-color: nth($ct-series-colors, $i + 1);
      border-color: nth($ct-series-colors, $i + 1);
    }
  }
}

.ct-tooltip {
  background: linear-gradient(60deg, #fcff3c, #fb8c00);
  color: black;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
}