<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,300italic,400italic' rel="stylesheet" type="text/css">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxQdMhP6rg6WhH9QoeoCpftwp2cDe-pH4&region=GB&libraries=places,visualization&language=en" type="text/javascript" charset="utf-8" async defer></script>
    <title>Popertee Admin</title>
  </head>
  <body>
    <noscript>
      <strong>Javascript is needed for the site to run..</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
