<template>
    <v-container fill-height fluid grid-list-xl>
        <v-layout justify-center wrap>
            <v-flex>

                <v-btn depressed color="green" @click="createNewBlogPost">Create a blog post</v-btn>
            </v-flex>
            <v-text-field class="mr-4 mt-2 purple-input" label="Search by title" hide-details color="purple"
                          @input="updateMainFilter()" v-model="blogSearchFilter"></v-text-field>
            <v-flex md12>
                <material-card color="blue" title="Blog Posts">
                    <v-data-table :headers="headers" :items="filteredBlogPosts" hide-actions>
                        <template slot="headerCell" slot-scope="{ header }">
                            <span class="subheading font-weight-light  text--darken-3" v-text="header.text"/>
                        </template>
                        <template slot="items" slot-scope="{ item }">
                            <td>{{item.title}}</td>
                            <td>{{item.published}}</td>
                            <td>
                                <v-img :src="imageToThumbnailMedium(item.picture)"></v-img>
                            </td>
                            <td>{{item.updatedAt}}</td>
                            <td>{{item.createdAt}}</td>
                            <td>
                                <v-btn depressed color="green" @click="details(item)">Details</v-btn>
                            </td>
                        </template>
                    </v-data-table>
                </material-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
  export default {
    components: {},
    data() {
      return {
        generalOptions: {
          shouldSort: true,
          threshold: 0.2,
          location: 0,
          distance: 100,
          maxPatternLength: 32,
          minMatchCharLength: 1,
          keys: ["title"]
        },
        headers: [
          {sortable: false, text: 'Title', value: 'title'},
          {sortable: false, text: 'published', value: 'published'},
          {sortable: false, text: 'Image', value: 'Image'},
          {sortable: false, text: 'Last updated', value: 'lastUpdated'},
          {sortable: false, text: 'Created at', value: 'createdAt'},
          {sortable: false, text: 'Action', value: 'action'},
        ],
        blogSearchFilter: '',
        blogPosts: [],
        filteredBlogPosts: []
      }
    },
    created() {
    },
    mounted() {
    },
    methods: {

      createNewBlogPost() {
        this.$router.push({path: 'blog/create'})
      },
      details(post) {
        this.$router.push({path: 'blog/details', query: {id: post.id}})
      },
      updateMainFilter() {
        var self = this;
        var fuse = new Fuse(self.blogPosts, self.generalOptions);
        var result = fuse.search(self.blogSearchFilter);
        this.filteredBlogPosts = result;
        if (self.blogSearchFilter === '') self.filteredBlogPosts = self.blogPosts
      },
    },
    beforeRouteEnter(to, from, next) {
      next(vm => {
        axiosPopertee.get('v3/blog/allPosts').then(response => {
          vm.blogPosts = response.data.posts;
          vm.filteredBlogPosts = response.data.posts;
        })
      })
    },
  }
</script>
