<template>
    <v-container fill-height grid-list-md>
        <v-layout justify-center wrap>
            <material-card color="blue" title="Edit blog post" style="width:100%">

                <v-card-text>
                    <v-form ref="form" v-model="valid">
                        <p v-if="errors.length">
                            <span>Please correct the following error(s):</span>
                            <v-flex xs12 sm12 md12 v-for="(error, index) in errors" :key=index>
                                <v-alert :value="true" type="error" outline>{{error}}</v-alert>
                            </v-flex>
                        </p>
                        <v-btn style="z-index:144;top:10px;right:10px;" round icon absolute flat small @click="blogPostDialog = false">
                        </v-btn>
                        <v-layout wrap>
                            <v-flex xs12 sm12 md12>
                                <v-text-field light hint="Please enter post title" v-model="blogPost.title" label="Title"
                                              :rules="blogPostTitleRules" required></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm12 md6>
                                <v-checkbox label="Publish?" v-model="blogPost.published"></v-checkbox>
                            </v-flex>
                            <v-flex v-if="blogPost.picture" xs12>
                                <v-layout wrap row justify-start>
                                    <v-flex md3 xs6 class="postDetailsImgWrapper"> Featured image:
                                        <img :src="image(blogPost.picture)" alt="" class="postDetailsImg">
                                        <v-btn color="error" small round absolute top right floating icon
                                               @click="removeOldImage(blogPost.picture)">
                                            <v-icon>mdi-close</v-icon>
                                        </v-btn>
                                    </v-flex>
                                </v-layout>
                            </v-flex>
                            <v-flex xs12 sm12 md12> Upload new featured image
                                <vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions"
                                              @vdropzone-file-added="newImageUploaded"
                                              @vdropzone-removed-file="removeNewImage"></vue-dropzone>
                            </v-flex>

                            <v-flex xs12 sm12 md12>
                                <div id="summernote">{{blogPost.post}}</div>
                            </v-flex>
                        </v-layout>
                    </v-form>
                </v-card-text>
                <v-card-actions class="addPostButton">
                    <v-flex xs6 sm4 md2>
                        <v-btn block color="blue" class="submitButton" type="submit" @click="saveBlogPost()">Update</v-btn>
                    </v-flex>
                    <v-flex xs6 sm4 md2>
                        <v-btn class="mx-3 font-weight-light" color="error" @click="deletePost()"> Delete post</v-btn>
                    </v-flex>
                </v-card-actions>
            </material-card>
            <v-dialog v-model="messageDialog" max-width="500">
                <v-card>
                    <v-card-title class="headline">Message</v-card-title>
                    <v-card-text>
                        {{message}}
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="green darken-1" flat="flat" @click="redirectToBlog()">Okay
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            <v-dialog v-model="confirmDialog" max-width="500">
                <v-card>
                    <v-card-title class="headline">Caution!</v-card-title>
                    <v-card-text>
                        Are you sure you want to delete this post - {{blogPost.title}} ?
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="red darken-1" flat="flat" @click="confirmDeletePost(false)">Cancel
                        </v-btn>
                        <v-btn color="red darken-1" flat="flat" @click="confirmDeletePost(true)">Okay
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-layout>
    </v-container>
</template>
<script>
  import summernote from 'summernote';
  import vue2Dropzone from 'vue2-dropzone'
  import 'vue2-dropzone/dist/vue2Dropzone.min.css'
  import $ from "jquery"


  export default {
    components: {vueDropzone: vue2Dropzone, summernote},
    data() {
      return {
        dropzoneOptions: {
          maxFilesize: 500, // in MB
          maxFiles: 1,
          acceptedFiles: "image/*",
          clickable: true,
          sortable: true,
          cursor: 'move',
          addRemoveLinks: true,
          thumbnailWidth: 350,
          autoProcessQueue: false,
          url: 'https://httpbin.org/post',
        },
        images: [],
        valid: true,
        blogPostTitleRules: [(v) => !!v || 'Post title must be added', (v) => v.length >= 3 ||
          'Post title must not be less than 3 characters'],
        blogPost: {"title": "", "description": ""},
        blogPostImage: undefined,
        message: "",
        messageDialog: false,
        confirmDialog: false,
        errors: [],
      }
    },
    created() {
    },
    mounted() {
      let self = this;
      $('#summernote').summernote({
        placeholder: 'Enter post text',
        tabsize: 2,
        height: 600,
        callbacks: {
          onImageUpload: function (files) {
            for (let i = 0; i < files.length; i++) {
              self.sendFIle(files[i]);
            }
          },
          onInit: function () {
            console.log('Summernote is launched');
          },
          onMediaDelete: function ($target, $editable) {
            self.deleteFile($target.attr('src'));
          }
        }
      });
    },
    methods: {
      removeOldImage() {
        this.blogPost.picture = undefined;
      },
      newImageUploaded(file) {
        this.blogPostImage = file;
      },
      removeNewImage() {
        this.blogPostImage = undefined;
      },
      image(card) {
        return 'https://s3.eu-west-2.amazonaws.com/popertee/images/' + card
      },
      deletePost() {
        this.confirmDialog = true;
      },
      confirmDeletePost(status) {
        this.confirmDialog = false;
        if (status) {
          axiosPopertee.delete('v3/blog/delete?id=' + this.blogPost.id).then(response => {
            this.message = response.data.message;
            this.messageDialog = true;
          }).catch(error => {
            this.message = "Something went wrong. Please let the dev team know - " + error + " - " + error.response.data.message;
            this.messageDialog = true;
          });
        }
      },
      redirectToBlog() {
        this.messageDialog = false;
        this.$router.push({path: '/blog'})
      },
      sendFIle(file) {
        let data = new FormData();
        data.append("image", file);
        axiosPopertee.post('v3/blog/uploadImage', data)
          .then(response => {
            if (response.data.status) {
              let image = $('<img>').attr('src', 'https://s3.eu-west-2.amazonaws.com/popertee/images/' + response.data.url);
              $('#summernote').summernote("insertNode", image[0]);
            } else {
              this.message = "Something went wrong while saving image. Please let the dev team know - " + response.data.message;
              this.messageDialog = true;
            }
          }).catch(error => {
          this.message = "Something went wrong while saving image. Please let the dev team know - " + error + " - " + error.response.data.message;
          this.messageDialog = true;
        });

      },
      deleteFile(fileName) {
        let data = new FormData();
        data.append("url", fileName);
        axiosPopertee.post('v3/blog/deleteImage', data)
          .then(response => {
            if (!response.data.status) {
              this.message = "Something went wrong while removing image. Please let the dev team know - " + response.data.message;
              this.messageDialog = true;
            }
          }).catch(error => {
          this.message = "Something went wrong while removing image. Please let the dev team know - " + error + " - " +
            error.response.data.message;
          this.messageDialog = true;
        });
      },

      saveBlogPost() {
        this.errors = [];
        let post = $('#summernote').summernote('code');
        if (this.blogPost.title.trim().length === 0) this.errors.push("Post title is required.");
        if (post.trim().length === 0) this.errors.push("Post text is required.");
        if (this.errors.length > 0) {
          window.scrollTo(0, 0);
          return;
        }
        let formData = new FormData();
        if (this.blogPost.picture !== "" && this.blogPost.picture !== undefined) {
          formData.append("imageString", this.blogPost.picture);
        }
        if (this.blogPostImage !== undefined) {
          formData.append("image", this.blogPostImage);
        }
        formData.append("post", post);
        formData.append("title", this.blogPost.title);
        formData.append("status", this.blogPost.published);
        formData.append("id", this.blogPost.id);

        axiosPopertee.post('v3/blog', formData)
          .then(response => {
            if (response.data.status) {
              this.blogPost = response.data.post;
            }
            this.message = response.data.message;
            this.messageDialog = true;
          }).catch(error => {
          this.message = "Something went wrong. Please let the dev team know - " + error + " - " + error.response.data.message;
          this.messageDialog = true;
        });
      }
    },
    beforeRouteEnter(to, from, next) {
      next(vm => {
        axiosPopertee.get('v3/blog/getById?id=' + vm.$route.query.id).then(response => {
          if (response.data.status) {
            vm.blogPost = response.data.post;
            $('#summernote').summernote('code', vm.blogPost.post);
          } else {
            vm.messageDialog = true;
            vm.message = response.data.message;
          }
        }).catch(error => {
          vm.messageDialog = true;
          vm.message = "Something went wrong. Please let the dev team know - " + error + " - " + error.response.data.message;
        });
      })
    }
  }
</script>
<style scoped>
    .addPostButton {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px !important;
    }

    .postDetailsImgWrapper {
        position: relative;
    }

    .postDetailsImg {
        width: 100%;
        height: 140px;
        object-fit: cover;
    }

</style>
