<template>
    <v-container fill-height grid-list-md>
        <material-card color="green" title="Create new blog post" style="width:100%">
            <v-card-text>
                <v-form ref="form" v-model="valid">
                    <p v-if="errors.length">
                        <span>Please correct the following error(s):</span>
                        <v-flex xs12 sm12 md12 v-for="(error, index) in errors" :key=index>
                            <v-alert :value="true" type="error" outline>{{error}}</v-alert>
                        </v-flex>
                    </p>
                    <v-btn round icon absolute flat small @click="blogPostDialog = false">
                        <v-icon class="material-icon">clear</v-icon>
                    </v-btn>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex xs12 sm12 md12>
                                <v-text-field light hint="Please enter post title" v-model="blogPost.title" label="Title"
                                              :rules="blogPostTitleRules" required></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm12 md12>
                                <v-checkbox label="Publish?" v-model="blogPost.published"></v-checkbox>
                            </v-flex>
                            <v-flex xs12 sm12 md12> Featured image
                                <vue-dropzone ref="myVueDropzone" id="images" :options="dropzoneOptions"></vue-dropzone>
                            </v-flex>
                            <v-flex xs12 sm12 md12>
                                <div id="summernote"></div>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-form>
            </v-card-text>
            <v-card-actions>
                <v-btn block color="blue" class="submitButton" type="submit" @click="createBlogPost()">Submit</v-btn>
            </v-card-actions>
        </material-card>
        <v-dialog v-model="messageDialog" max-width="500">
            <v-card>
                <v-card-title class="headline">Message</v-card-title>
                <v-card-text>
                    {{message}}
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" flat="flat" @click="redirectToBlog()">Okay
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-container>
</template>
<script>
  import summernote from 'summernote';
  import vue2Dropzone from 'vue2-dropzone'
  import 'vue2-dropzone/dist/vue2Dropzone.min.css'

  export default {
    components: {summernote, vueDropzone: vue2Dropzone},
    data() {
      return {
        images: [],
        blogPostTitleRules: [(v) => !!v || 'Post title must be added', (v) => v.length >= 3 ||
          'Post title must not be less than 3 characters'],
        blogPost: {
          "title": "",
          "published": true
        },
        valid: true,
        message: "",
        messageDialog: false,
        confirmDialog: false,
        errors: [],
        dropzoneOptions: {
          maxFilesize: 500, // in MB
          maxFiles: 1, acceptedFiles: "image/*",
          clickable: true,
          addRemoveLinks: true,
          url: 'https://httpbin.org/post',
          thumbnailWidth: 350,
          autoProcessQueue: false
        },
      }
    },
    created() {
    },
    mounted() {
      let self = this;
      $('#summernote').summernote({
        placeholder: 'Enter post text',
        tabsize: 2,
        height: 400,
        callbacks: {
          onImageUpload: function (files) {
            for (let i = 0; i < files.length; i++) {
              self.sendFile(files[i]);
            }
          },
          onInit: function () {
            console.log('Summernote is launched');
          },
          onMediaDelete: function ($target, $editable) {
            self.deleteFile($target.attr('src'));
          }
        }
      });
    },
    methods: {
      redirectToBlog() {
        this.messageDialog = false;
        this.$router.push({path: '/blog'})
      },
      sendFile(file) {
        let data = new FormData();
        data.append("image", file);
        axiosPopertee.post('v3/blog/uploadImage', data)
          .then(response => {
            if (response.data.status) {
              let image = $('<img>').attr('src', 'https://s3.eu-west-2.amazonaws.com/popertee/images/' + response.data.url);
              $('#summernote').summernote("insertNode", image[0]);
            } else {
              this.message = "Something went wrong while saving image. Please let the dev team know - " + response.data.message;
              this.messageDialog = true;
            }
          }).catch(error => {
          this.message = "Something went wrong while saving image. Please let the dev team know - " + error + " - " + error.response.data.message;
          this.messageDialog = true;
        });

      },
      deleteFile(fileName) {
        let data = new FormData();
        data.append("url", fileName);
        axiosPopertee.post('v3/blog/deleteImage', data)
          .then(response => {
            if (!response.data.status) {
              this.message = "Something went wrong while removing image. Please let the dev team know - " + response.data.message;
              this.messageDialog = true;
            }
          }).catch(error => {
          this.message = "Something went wrong while removing image. Please let the dev team know - " + error + " - " +
            error.response.data.message;
          this.messageDialog = true;
        });
      },
      createBlogPost() {
        this.errors = [];
        let formData = new FormData();
        let post = $('#summernote').summernote('code');
        if (this.blogPost.title.trim().length === 0) this.errors.push("Post title is required.");
        if (post.trim().length === 0) this.errors.push("Post text is required.");
        if (this.$refs.myVueDropzone.getAcceptedFiles().length === 0) this.errors.push("Featured image is required.");
        if (this.errors.length > 0) {
          window.scrollTo(0, 0);
          return;
        }
        $.each(this.$refs.myVueDropzone.getAcceptedFiles(), function (index, file) {
          formData.append('image', file)
        })
        formData.append("post", post);
        formData.append("title", this.blogPost.title);
        formData.append("status", this.blogPost.published);

        axiosPopertee.post('v3/blog', formData)
          .then(response => {
            if (response.data.status) {
              this.blogPost = response.data.post;
            }
            this.message = response.data.message;
            this.messageDialog = true;
          }).catch(error => {
          this.message = "Something went wrong. Please let the dev team know - " + error + " - " + error.response.data.message;
          this.messageDialog = true;
        });
      }
    }
  }
</script>

<style scoped>
    #summernote {
        position: relative;
    }

</style>
