<template>
    <v-container fill-height fluid grid-list-xl>
        <v-layout justify-center wrap>
            <v-flex xs12 md10>
                <material-card color="blue" title="Career Details" text="Edit Career Details">
                    <v-card-text>
                        <v-form>
                            <p v-if="errors.length">
                                <span>Please correct the following error(s):</span>
                                <v-flex xs12 sm12 md12 v-for="(error, index) in errors" :key=index>
                                    <v-alert :value="true" type="error" outline>{{error}}</v-alert>
                                </v-flex>
                            </p>
                            <v-container py-0>
                                <v-layout wrap>
                                    <v-flex xs12 md12>
                                        <v-text-field label="Title" class="purple-input" v-model="career.title"/>
                                    </v-flex>
                                    <v-flex xs12 sm12 md12> Description
                                        <div id="summernote"></div>
                                    </v-flex>
                                    <v-flex xs12>
                                        <v-layout row wrap>
                                            <v-flex>
                                                <v-checkbox color="success" label="Published" v-model="career.published"/>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-form>
                    </v-card-text>
                    <v-card-actions class="addCareerBtn">
                        <v-btn color="blue" class="submitButton" type="submit" @click="updateCareer()">Update Career
                        </v-btn>
                        <v-flex xs6 sm4 md2>
                            <v-btn class="mx-3 font-weight-light" color="error" @click="deleteCareer()"> Delete Career
                            </v-btn>
                        </v-flex>
                    </v-card-actions>
                </material-card>
            </v-flex>
            <v-dialog v-model="messageDialog" max-width="500">
                <v-card>
                    <v-card-title class="headline">Message</v-card-title>
                    <v-card-text>
                        {{message}}
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="green darken-1" flat="flat" @click="redirectToCareers()">Okay
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            <v-dialog v-model="confirmDialog" max-width="500">
                <v-card>
                    <v-card-title class="headline">Caution!</v-card-title>
                    <v-card-text>
                        Are you sure you want to delete this career ?
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="red darken-1" flat="flat" @click="confirmDeleteCareer(false)">Cancel
                        </v-btn>
                        <v-btn color="red darken-1" flat="flat" @click="confirmDeleteCareer(true)">Okay
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-layout>
    </v-container>
</template>
<script>
  import summernote from 'summernote';

  export default {
    components: {summernote},
    data() {
      return {
        message: "",
        messageDialog: false,
        confirmDialog: false,
        errors: [],
        career: {}
      }
    },
    created() {
    },
    mounted() {
      let self = this;
      $('#summernote').summernote({
        placeholder: 'Enter career text',
        tabsize: 2,
        height: 600,
        callbacks: {
          onInit: function () {
            console.log('Summernote is launched');
          }
        }
      });
    },
    methods: {
      updateCareer() {
        var self = this;
        self.errors = [];
        let post = $('#summernote').summernote('code');
        self.career.description = post;
        if (self.career.title.trim().length === 0) self.errors.push("Title name required.");
        if (self.career.description.trim().length === 0) self.errors.push("Description required.");
        if (self.errors.length > 0) {
          window.scrollTo(0, 0);
          return
        }
        axiosPopertee.put('v3/jobs', self.career)
          .then(response => {
            if (response.data.status) {
              this.career = response.data.jobOpening;
            }
            this.message = response.data.message;
            this.messageDialog = true;
          }).catch(error => {
          this.message = "Something went wrong. Please let the dev team know - " + error + " - " + error.response.data.message;
          this.messageDialog = true;
        });
      },
      deleteCareer() {
        this.confirmDialog = true;
      },
      confirmDeleteCareer(status) {
        this.confirmDialog = false;
        if (status) {
          axiosPopertee.delete('v3/jobs?id=' + this.career.jobRef).then(response => {
            this.message = response.data.message;
            this.messageDialog = true;
          }).catch(error => {
            this.message = "Something went wrong. Please let the dev team know - " + error + " - " + error.response.data.message;
            this.messageDialog = true;
          });
        }
      },
      redirectToCareers() {
        this.messageDialog = false;
        this.$router.push({path: '/careers'})
      }
    },
    beforeRouteEnter(to, from, next) {
      next(vm => {
        vm.careerId = vm.$route.query.id;
        axiosPopertee.get('v3/jobs/getById?jobRef=' + vm.careerId).then(response => {
          if (response.data.status) {
            vm.career = response.data.jobOpening;
            $('#summernote').summernote('code', vm.career.description);
          } else {
            vm.messageDialog = true;
            vm.message = response.data.message;
          }
        }).catch(error => {
          vm.messageDialog = true;
          vm.message = "Something went wrong. Please let the dev team know - " + error + " - " + error.response.data.message
        })
      })
    }
  }
</script>
<style>
    .addCareerBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px !important;
    }
</style>