<template>
    <v-container fill-height fluid grid-list-xl>
        <v-layout justify-center wrap>
            <v-flex xs12 md10>
                <material-card color="blue" title="New Career" text="Create New Career">
                    <v-card-text>
                        <v-form>
                            <p v-if="errors.length">
                                <span>Please correct the following error(s):</span>
                                <v-flex xs12 sm12 md12 v-for="(error, index) in errors" :key=index>
                                    <v-alert :value="true" type="error" outline>{{error}}</v-alert>
                                </v-flex>
                            </p>
                            <v-container py-0>
                                <v-layout wrap>
                                    <v-flex xs12 md12>
                                        <v-text-field label="Title" class="purple-input" v-model="career.title"/>
                                    </v-flex>
                                    <v-flex xs12 sm12 md12> Description
                                        <div id="summernote"></div>
                                    </v-flex>
                                    <v-flex xs12>
                                        <v-layout row wrap>
                                            <v-flex>
                                                <v-checkbox color="success" label="Published" v-model="career.published"/>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-form>
                    </v-card-text>
                    <v-card-actions>
                        <v-btn block color="blue" class="submitButton" type="submit" @click="createCareer()">Submit</v-btn>
                    </v-card-actions>
                </material-card>
            </v-flex>
            <v-dialog v-model="messageDialog" max-width="500">
                <v-card>
                    <v-card-title class="headline">Message</v-card-title>
                    <v-card-text>
                        {{message}}
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="green darken-1" flat="flat" @click="redirectToCareers()">Okay
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-layout>
    </v-container>
</template>
<script>
  import summernote from 'summernote';

  export default {
    components: {summernote},
    data() {
      return {
        message: "",
        messageDialog: false,
        confirmDialog: false,
        errors: [],
        career: {title: "", description: "", published: true}
      }
    },
    created() {
    },
    mounted() {
      $('#summernote').summernote({
        placeholder: 'Enter career text',
        tabsize: 2,
        height: 600,
        callbacks: {
          onInit: function () {
            console.log('Summernote is launched');
          }
        }
      });
    },
    methods: {
      createCareer() {
        var self = this;
        self.errors = [];
        let post = $('#summernote').summernote('code');
        self.career.description = post;
        if (self.career.title.trim().length === 0) self.errors.push("Title name required.");
        if (self.career.description.trim().length === 0) self.errors.push("Description required.");
        if (self.errors.length > 0) {
          window.scrollTo(0, 0);
          return
        }
        self.career.status = true;
        axiosPopertee.post('v3/jobs', self.career)
          .then(response => {
            if (response.data.status) {
              this.career = response.data.jobOpening;
            }
            this.message = response.data.message;
            this.messageDialog = true;
          }).catch(error => {
          this.message = "Something went wrong. Please let the dev team know - " + error + " - " + error.response.data.message;
          this.messageDialog = true;
        });
      },
      redirectToCareers() {
        this.messageDialog = false;
        this.$router.push({path: '/careers'})
      }
    }
  }
</script>
