<template>
    <v-container fill-height fluid  grid-list-md>
        <v-layout justify-center wrap>
            <v-flex xs4>
                <v-btn depressed color="green" @click="createNewCareer">Create new career</v-btn>
            </v-flex>
            <v-text-field class="mr-4 mt-2 purple-input" label="Search by title" hide-details color="purple"
                          @input="updateMainFilter" v-model="careerSearchFilter"/>
            <v-flex md12>
                <material-card color="blue" title="Careers">
                    <v-data-table :headers="headers" :items="filteredCareers" hide-actions>
                        <template slot="headerCell" slot-scope="{ header }">
                            <span class="subheading font-weight-light text-success text--darken-3" v-text="header.text"/>
                        </template>
                        <template slot="items" slot-scope="{ item }">
                            <td>{{item.title}}</td>
                            <td>{{item.published}}</td>
                            <td>{{item.publishedDate}}</td>
                            <td>{{item.creationDate}}</td>
                            <td>
                                <v-btn depressed color="blue" @click="details(item)">Details</v-btn>
                            </td>
                        </template>
                    </v-data-table>
                </material-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
  export default {
    components: {},
    data() {
      return {
        generalOptions: {
          shouldSort: true,
          threshold: 0.2,
          location: 0,
          distance: 100,
          maxPatternLength: 32,
          minMatchCharLength: 1,
          keys: ["title"]
        },
        headers: [
          {sortable: false, text: 'Title', value: 'title'},
          {sortable: false, text: 'Published', value: 'published'},
          {sortable: false, text: 'Published At', value: 'publishedDate'},
          {sortable: false, text: 'Create at', value: 'creationDate'},
          {sortable: false, text: 'Action', value: 'action'},
        ],
        careerSearchFilter: '',
        careers: [],
        filteredCareers: [],
      }
    },
    created() {
    },
    mounted() {
    },
    methods: {
      createNewCareer() {
        this.$router.push({path: 'careers/create'})
      },
      updateMainFilter() {
        var self = this;
        var fuse = new Fuse(self.careers, self.generalOptions);
        var result = fuse.search(self.careerSearchFilter);
        this.filteredCareers = result;
        if (self.careerSearchFilter === '') self.filteredCareers = self.careers
      },
      details(career) {
        this.$router.push({path: '/careers/details', query: {id: career.jobRef}});
      }
    },
    beforeRouteEnter(to, from, next) {
      next(vm => {
        axiosPopertee.get('v3/jobs/all').then(response => {
          vm.careers = response.data.jobOpenings;
          vm.filteredCareers = response.data.jobOpenings;
        })
      })
    }
  }
</script>
