<template>
    <v-container fill-height fluid grid-list-xl>
        <v-layout justify-center wrap>
            <v-flex>
                <v-btn depressed color="green" @click="createNewCaseStudy()">Create a case study</v-btn>
            </v-flex>
            <v-text-field class="mr-4 mt-2 purple-input" label="Search by title" hide-details color="purple"
                          @input="updateMainFilter()" v-model="caseStudySearchFilter"></v-text-field>
            <v-flex md12>
                <material-card color="blue" title="Case Studies" text="Case Studies">
                    <v-data-table :headers="headers" :items="filteredCaseStudies" hide-actions>
                        <template slot="headerCell" slot-scope="{ header }">
                            <span class="subheading font-weight-light  text--darken-3" v-text="header.text"/>
                        </template>
                        <template slot="items" slot-scope="{ item }">
                            <td>{{item.title}}</td>
                            <td>{{item.published}}</td>
                            <td>
                                <v-img :src="imageToThumbnailMedium(item.picture)"></v-img>
                            </td>
                            <td>{{item.updatedAt}}</td>
                            <td>{{item.createdAt}}</td>
                            <td>

                                <v-layout class="text-md-left featuredSpaceLayout" wrap row>
                                    <v-flex md12>
                                        <v-btn depressed color="green" @click="details(item)">Details</v-btn>
                                        <!--<v-btn depressed color="blue" @click="editCaseStudy(item)">Edit </v-btn>-->
                                    </v-flex>
                                </v-layout>
                            </td>
                        </template>
                    </v-data-table>
                </material-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
  export default {
    components: {},
    data() {
      return {
        generalOptions: {
          shouldSort: true,
          threshold: 0.2,
          location: 0,
          distance: 100,
          maxPatternLength: 32,
          minMatchCharLength: 1,
          keys: ["title"]
        },
        headers: [
          {sortable: false, text: 'Title', value: 'title'},
          {sortable: false, text: 'published', value: 'published'},
          {sortable: false, text: 'Image', value: 'Image'},
          {sortable: false, text: 'Last updated', value: 'lastUpdated'},
          {sortable: false, text: 'Created at', value: 'createdAt'},
          {sortable: false, text: 'Action', value: 'action'},
        ],
        caseStudySearchFilter: '',
        caseStudies: [],
        filteredCaseStudies: []
      }
    },
    created() {
    },
    mounted() {
    },
    methods: {

      createNewCaseStudy() {
        this.$router.push({path: 'caseStudies/create'})
      },
      details(caseStudy) {
        this.$router.push({path: 'caseStudies/details', query: {id: caseStudy.id}})
      },
      updateMainFilter() {
        var self = this;
        var fuse = new Fuse(self.caseStudies, self.generalOptions);
        var result = fuse.search(self.caseStudySearchFilter);
        this.filteredCaseStudies = result;
        if (self.caseStudySearchFilter === '') self.filteredCaseStudies = self.caseStudies
      },
    },
    beforeRouteEnter(to, from, next) {
      next(vm => {
        axiosPopertee.get('v3/caseStudy/all').then(response => {
          vm.caseStudies = response.data.caseStudies;
          vm.filteredCaseStudies = response.data.caseStudies;
        })
      })
    },
  }
</script>
