<template>
    <v-container fill-height grid-list-md>
        <v-layout justify-center wrap>
            <material-card color="blue" title="Create new case study" style="width:100%">

                <v-card-text>
                    <v-form ref="form" v-model="valid">
                        <p v-if="errors.length">
                            <span>Please correct the following error(s):</span>
                            <v-flex xs12 sm12 md12 v-for="(error, index) in errors" :key=index>
                                <v-alert :value="true" type="error" outline>{{error}}</v-alert>
                            </v-flex>
                        </p>
                        <v-btn style="z-index:144;top:10px;right:10px;" round icon absolute flat small @click="caseStudyDialog = false">
                        </v-btn>
                        <v-layout wrap>
                            <v-flex xs12 sm12 md12>
                                <v-text-field light hint="Please enter title" v-model="caseStudy.title" label="Title"
                                              :rules="caseStudyTitleRules" required></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm12 md6>
                                <v-checkbox label="Publish?" v-model="caseStudy.published"></v-checkbox>
                            </v-flex>
                            <v-flex xs12 sm12 md12> Upload featured image
                                <vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions"
                                              @vdropzone-file-added="newImageUploaded"></vue-dropzone>
                            </v-flex>
                            <v-flex xs12 sm12 md12> Upload logo
                                <vue-dropzone ref="myVueDropzone" id="dropzoneLogo" :options="dropzoneOptions"
                                              @vdropzone-file-added="newLogoUploaded"></vue-dropzone>
                            </v-flex>
                            <v-flex xs12> Gallery - insert images in the editor
                                <v-layout wrap row justify-start>
                                    <v-flex md3 xs6 v-for="img in caseStudy.gallery" :key="img" class="caseStudyDetailsImgWrapper">
                                        <img :src="image(img)" alt="" class="caseStudyDetailsImg">
                                        <v-btn color="error" small round absolute top right floating icon
                                               @click="deleteFile(img)">
                                            <v-icon>mdi-close</v-icon>
                                        </v-btn>
                                    </v-flex>
                                </v-layout>
                            </v-flex>
                            <v-flex xs12 sm12 md12>
                                <div id="summernote">{{caseStudy.content}}</div>
                            </v-flex>
                        </v-layout>
                    </v-form>
                </v-card-text>
                <v-card-actions class="addCaseStudyButton">
                    <v-flex xs6 sm4 md2>
                        <v-btn block color="blue" class="submitButton" type="submit" @click="saveCaseStudy()">Save case study</v-btn>
                    </v-flex>
                </v-card-actions>
            </material-card>
            <v-dialog v-model="messageDialog" max-width="500">
                <v-card>
                    <v-card-title class="headline">Message</v-card-title>
                    <v-card-text>
                        {{message}}
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="green darken-1" flat="flat" @click="messageDialog=false">Okay
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-layout>
    </v-container>
</template>
<script>
  import summernote from 'summernote';
  import vue2Dropzone from 'vue2-dropzone'
  import 'vue2-dropzone/dist/vue2Dropzone.min.css'
  import $ from "jquery"


  export default {
    components: {vueDropzone: vue2Dropzone, summernote},
    data() {
      return {
        dropzoneOptions: {
          maxFilesize: 500, // in MB
          maxFiles: 1,
          acceptedFiles: "image/*",
          clickable: true,
          sortable: true,
          cursor: 'move',
          addRemoveLinks: true,
          thumbnailWidth: 350,
          autoProcessQueue: false,
          url: 'https://httpbin.org/post',
        },
        images: [],
        valid: true,
        caseStudyTitleRules: [(v) => !!v || 'Post title must be added', (v) => v.length >= 3 ||
          'Post title must not be less than 3 characters'],
        caseStudy: {
          title: "",
          content: "",
          gallery: [],
          published: true
        },
        logoImage: undefined,
        caseStudyImage: undefined,
        message: "",
        messageDialog: false,
        errors: [],
      }
    },
    created() {
    },
    mounted() {
      let self = this;
      $('#summernote').summernote({
        placeholder: 'Enter case study content',
        tabsize: 2,
        height: 600,
        callbacks: {
          onImageUpload: function (files) {
            for (let i = 0; i < files.length; i++) {
              self.sendFIle(files[i]);
            }
          },
          onInit: function () {
            console.log('Summernote is launched');
          },
          onMediaDelete: function ($target, $editable) {
            self.deleteFile($target.attr('src'));
          }
        }
      });
    },
    methods: {
      newImageUploaded(file) {
        this.caseStudyImage = file;
      },
      newLogoUploaded(file) {
        this.logoImage = file;
      },
      sendFIle(file) {
        let data = new FormData();
        data.append("image", file);
        axiosPopertee.post('v3/caseStudy/uploadImage', data)
          .then(response => {
            if (response.data.status) {
              this.caseStudy.gallery.push(response.data.url);
            } else {
              this.message = "Something went wrong while saving image. Please let the dev team know - " + response.data.message;
              this.messageDialog = true;
            }
          }).catch(error => {
          this.message = "Something went wrong while saving image. Please let the dev team know - " + error + " - " + error.response.data.message;
          this.messageDialog = true;
        });
      },
      deleteFile(fileName) {
        let data = new FormData();
        data.append("url", fileName);
        axiosPopertee.post('v3/caseStudy/deleteImage', data)
          .then(response => {
            if (response.data.status) {
              this.caseStudy.gallery.pop(fileName);
            } else {
              this.message = "Something went wrong while removing image. Please let the dev team know - " + response.data.message;
              this.messageDialog = true;
            }
          }).catch(error => {
          this.message = "Something went wrong while removing image. Please let the dev team know - " + error + " - " +
            error.response.data.message;
          this.messageDialog = true;
        });
      },
      image(card) {
        return 'https://s3.eu-west-2.amazonaws.com/popertee/images/' + card
      },

      saveCaseStudy() {
        this.errors = [];
        let post = $('#summernote').summernote('code');
        if (this.caseStudy.title.trim().length === 0) this.errors.push("Case study title is required.");
        if (post.trim().length === 0) this.errors.push("Case study content is required.");
        if (this.caseStudyImage === undefined) this.errors.push("Featured image is required.");
        if (this.logoImage === undefined) this.errors.push("Logo is required.");
        if (this.errors.length > 0) {
          window.scrollTo(0, 0);
          return;
        }
        let formData = new FormData();
        formData.append("image", this.caseStudyImage);
        formData.append("logoImage", this.logoImage);
        formData.append("gallery", this.caseStudy.gallery);
        formData.append("content", post);
        formData.append("title", this.caseStudy.title);
        formData.append("status", this.caseStudy.published);

        axiosPopertee.post('v3/caseStudy', formData)
          .then(response => {
            if (response.data.status) {
              this.caseStudy = response.data.caseStudy;
            }
            this.message = response.data.message;
            this.messageDialog = true;
          }).catch(error => {
          this.message = "Something went wrong. Please let the dev team know - " + error + " - " + error.response.data.message;
          this.messageDialog = true;
        });
      }
    }
  }
</script>
<style scoped>
    .addCaseStudyButton {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px !important;
    }

    .caseStudyDetailsImgWrapper {
        position: relative;
    }

    .caseStudyDetailsImg {
        width: 100%;
        height: 140px;
        object-fit: cover;
    }

</style>
