<template>
    <v-container fill-height grid-list-md>
        <v-layout justify-center wrap>
            <material-card color="blue" title="Edit case study" style="width:100%">

                <v-card-text>
                    <v-form ref="form" v-model="valid">
                        <p v-if="errors.length">
                            <span>Please correct the following error(s):</span>
                            <v-flex xs12 sm12 md12 v-for="(error, index) in errors" :key=index>
                                <v-alert :value="true" type="error" outline>{{error}}</v-alert>
                            </v-flex>
                        </p>
                        <v-btn style="z-index:144;top:10px;right:10px;" round icon absolute flat small @click="caseStudyDialog = false">
                        </v-btn>
                        <v-layout wrap>
                            <v-flex xs12 sm12 md12>
                                <v-text-field light hint="Please enter title" v-model="caseStudy.title" label="Title"
                                              :rules="caseStudyTitleRules" required></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm12>
                                <v-checkbox label="Publish?" v-model="caseStudy.published"></v-checkbox>
                            </v-flex>
                            <v-flex xs12 sm6 md3 v-if="caseStudy.picture">
                              <span class="subheading">
                                Featured image
                              </span>
                                <v-layout wrap row justify-start>
                                    <v-flex xs12 class="caseStudyDetailsImgWrapper mb-2">
                                        <img :src="image(caseStudy.picture)" alt="" class="caseStudyDetailsImg">
                                        <v-btn color="error" small round absolute top right floating icon
                                               @click="removeImage(caseStudy.picture)">
                                            <v-icon>mdi-close</v-icon>
                                        </v-btn>
                                    </v-flex>

                                </v-layout>
                            </v-flex>
                            <v-flex v-if="!caseStudy.picture" xs12 sm12 md12> Upload new featured image
                                <vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions"
                                              @vdropzone-file-added="newImageUploaded"
                                              @vdropzone-removed-file="removeNewImage"></vue-dropzone>
                            </v-flex>
                            <v-flex xs12 sm6 md3 v-if="caseStudy.logo">
                                <span class="subheading">Logo</span>
                                <v-layout wrap row justify-start>
                                    <v-flex xs12 class="caseStudyDetailsImgWrapper">
                                        <img :src="image(caseStudy.logo)" alt="" class="caseStudyDetailsImg">
                                        <v-btn color="error" small round absolute top right floating icon
                                               @click="removeLogo(caseStudy.logo)">
                                            <v-icon>mdi-close</v-icon>
                                        </v-btn>
                                    </v-flex>
                                </v-layout>
                            </v-flex>
                            <v-flex v-if="!caseStudy.logo" xs12 sm12 md12> Upload new logo
                                <vue-dropzone ref="myVueDropzone" id="dropzoneLogo" :options="dropzoneOptions"
                                              @vdropzone-file-added="newLogoUploaded"
                                              @vdropzone-removed-file="removeNewLogo"></vue-dropzone>
                            </v-flex>
                            <v-flex xs12 class="mb-2 pa-2 pb-3" style="background:#e2e2e2; ">
                                <span class="subheading">Gallery</span>
                                <v-layout wrap row justify-start>
                                    <v-flex md3 xs6 v-for="img in caseStudy.gallery" :key="img" class="caseStudyDetailsImgWrapper">
                                        <img :src="image(img)" alt="" class="caseStudyDetailsImg">
                                        <v-btn color="error" small round absolute top right floating icon
                                               @click="deleteFile(img)">
                                            <v-icon>mdi-close</v-icon>
                                        </v-btn>
                                    </v-flex>
                                </v-layout>
                            </v-flex>
                            <v-flex xs12 sm12 md12>
                                <div id="summernote">{{caseStudy.content}}</div>
                            </v-flex>
                        </v-layout>
                    </v-form>
                </v-card-text>
                <v-card-actions class="addCaseStudyButton">
                    <v-flex xs6 sm4 md2>
                        <v-btn block color="blue" class="submitButton" type="submit" @click="saveCaseStudy()">Update</v-btn>
                    </v-flex>
                    <v-flex xs6 sm4 md2>
                        <v-btn class="mx-3 font-weight-light" color="error" @click="deleteCaseStudy()"> Delete case study</v-btn>
                    </v-flex>
                </v-card-actions>
            </material-card>
            <v-dialog v-model="messageDialog" max-width="500">
                <v-card>
                    <v-card-title class="headline">Message</v-card-title>
                    <v-card-text>
                        {{message}}
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="green darken-1" flat="flat" @click="redirectToCaseStudy()">Okay
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            <v-dialog v-model="confirmDialog" max-width="500">
                <v-card>
                    <v-card-title class="headline">Caution!</v-card-title>
                    <v-card-text>
                        Are you sure you want to delete this space - {{caseStudy.title}} ?
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="red darken-1" flat="flat" @click="confirmDeleteCaseStudy(false)">Cancel
                        </v-btn>
                        <v-btn color="red darken-1" flat="flat" @click="confirmDeleteCaseStudy(true)">Okay
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-layout>
    </v-container>
</template>
<script>
  import summernote from 'summernote';
  import vue2Dropzone from 'vue2-dropzone'
  import 'vue2-dropzone/dist/vue2Dropzone.min.css'
  import $ from "jquery"


  export default {
    components: {vueDropzone: vue2Dropzone, summernote},
    data() {
      return {
        dropzoneOptions: {
          maxFilesize: 500, // in MB
          maxFiles: 1,
          acceptedFiles: "image/*",
          clickable: true,
          sortable: true,
          cursor: 'move',
          addRemoveLinks: true,
          thumbnailWidth: 350,
          autoProcessQueue: false,
          url: 'https://httpbin.org/post',
        },
        images: [],
        valid: true,
        caseStudyTitleRules: [(v) => !!v || 'Post title must be added', (v) => v.length >= 3 ||
          'Post title must not be less than 3 characters'],
        caseStudy: {
          title: "",
          description: ""
        },
        caseStudyNewImage: undefined,
        caseStudyNewLogo: undefined,
        message: "",
        messageDialog: false,
        confirmDialog: false,
        errors: []
      }
    },
    created() {
    },
    mounted() {
      let self = this;
      $('#summernote').summernote({
        placeholder: 'Enter case study content',
        tabsize: 2,
        height: 600,
        callbacks: {
          onImageUpload: function (files) {
            for (let i = 0; i < files.length; i++) {
              self.sendFIle(files[i]);
            }
          },
          onInit: function () {
            console.log('Summernote is launched');
          },
          onMediaDelete: function ($target, $editable) {
            self.deleteFile($target.attr('src'));
          }
        }
      });
    },
    methods: {
      removeImage() {
        this.caseStudy.picture = undefined;
      },
      removeLogo() {
        this.caseStudy.logo = undefined;
      },
      removeNewImage() {
        this.caseStudyNewImage = undefined;
      },
      removeNewLogo() {
        this.caseStudyNewLogo = undefined;
      },
      newImageUploaded(file) {
        this.caseStudyNewImage = file;
      },
      newLogoUploaded(file) {
        this.caseStudyNewLogo = file;
      },
      image(card) {
        return 'https://s3.eu-west-2.amazonaws.com/popertee/images/' + card
      },
      deleteCaseStudy() {
        this.confirmDialog = true;
      },
      confirmDeleteCaseStudy(status) {
        this.confirmDialog = false;
        if (status) {
          axiosPopertee.delete('v3/caseStudy/delete?id=' + this.caseStudy.id).then(response => {
            this.message = response.data.message;
            this.messageDialog = true;
          }).catch(error => {
            this.message = "Something went wrong. Please let the dev team know - " + error + " - " + error.response.data.message;
            this.messageDialog = true;
          });
        }
      },
      redirectToCaseStudy() {
        this.messageDialog = false;
        this.$router.push({path: '/caseStudies'})
      },
      sendFIle(file) {
        let data = new FormData();
        data.append("image", file);
        axiosPopertee.post('v3/caseStudy/uploadImage', data)
          .then(response => {
            if (response.data.status) {
              this.caseStudy.gallery.push(response.data.url);
            } else {
              this.message = "Something went wrong while saving image. Please let the dev team know - " + response.data.message;
              this.messageDialog = true;
            }
          }).catch(error => {
          this.message = "Something went wrong while saving image. Please let the dev team know - " + error + " - " + error.response.data.message;
          this.messageDialog = true;
        });

      },
      deleteFile(fileName) {
        let data = new FormData();
        data.append("url", fileName);
        axiosPopertee.post('v3/caseStudy/deleteImage', data)
          .then(response => {
            if (response.data.status) {
              this.caseStudy.gallery.pop(fileName);
            } else {
              this.message = "Something went wrong while removing image. Please let the dev team know - " + response.data.message;
              this.messageDialog = true;
            }
          }).catch(error => {
          this.message = "Something went wrong while removing image. Please let the dev team know - " + error + " - " +
            error.response.data.message;
          this.messageDialog = true;
        });
      },

      saveCaseStudy() {
        let formData = new FormData();
        this.errors = [];
        let post = $('#summernote').summernote('code');
        // let post = $('#summernote').val();
        if (this.caseStudy.title.trim().length === 0) this.errors.push("Case study title is required.");
        if (post.trim().length === 0) this.errors.push("Case study content is required.");
        if (this.errors.length > 0) {
          window.scrollTo(0, 0);
          return;
        }
        if (this.caseStudyNewImage !== undefined) {
          formData.append("image", this.caseStudyNewImage);
        }
        if (this.caseStudyNewLogo !== undefined) {
          formData.append("logoImage", this.caseStudyNewLogo);
        }
        if (this.caseStudy.picture !== "" && this.caseStudy.picture !== undefined) {
          formData.append("imageString", this.caseStudy.picture);
        }
        if (this.caseStudy.logo !== "" && this.caseStudy.logo !== undefined) {
          formData.append("logoImageString", this.caseStudy.logo);
        }
        formData.append("gallery", this.caseStudy.gallery);
        formData.append("content", post);
        formData.append("title", this.caseStudy.title);
        formData.append("status", this.caseStudy.published);
        formData.append("id", this.caseStudy.id);

        axiosPopertee.post('v3/caseStudy', formData)
          .then(response => {
            if (response.data.status) {
              this.caseStudy = response.data.caseStudy;
            }
            this.message = response.data.message;
            this.messageDialog = true;
          }).catch(error => {
          this.message = "Something went wrong. Please let the dev team know - " + error + " - " + error.response.data.message;
          this.messageDialog = true;
        });
      }
    },
    beforeRouteEnter(to, from, next) {
      next(vm => {
        axiosPopertee.get('v3/caseStudy/getById?id=' + vm.$route.query.id).then(response => {
          if (response.data.status) {
            vm.caseStudy = response.data.caseStudy;
            $('#summernote').summernote('code', vm.caseStudy.content);
          } else {
            vm.messageDialog = true;
            vm.message = response.data.message;
          }
        }).catch(error => {
          vm.messageDialog = true;
          vm.message = "Something went wrong. Please let the dev team know - " + error + " - " + error.response.data.message;
        });
      })
    }
  }
</script>
<style scoped>
    .addCaseStudyButton {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px !important;
    }

    .caseStudyDetailsImgWrapper {
        position: relative;
    }

    .caseStudyDetailsImg {
        width: 100%;
        height: 140px;
        object-fit: cover;
    }

</style>
