<template>
    <v-container fill-height fluid grid-list-xl>

        <v-layout wrap row>
            <infinite-slide-bar duration="6s" direction="reverse" delay="1s" :barStyle="{ background: '#2196f3', padding: '5px 0' }">
                <span style="color: white;">Hello Popertee Team!</span>
            </infinite-slide-bar>

            <v-flex md6 xs12>
                <material-card color="blue" title="Search terms" text="Check out what users are searching for">
                    <v-data-table :headers="headers" :items="searchTerms" hide-actions class="materialCardScroll">
                        <template slot="headerCell" slot-scope="{ header }">
                            <span class="font-weight-light text--darken-3" v-text="header.text"/>
                        </template>
                        <template slot="items" slot-scope="{ index, item }">
                            <td>{{ item.searchWords }}</td>
                            <td class="text-xs-right">{{ item.page }}</td>
                            <td class="text-xs-right">{{ item.total }}</td>
                        </template>
                    </v-data-table>
                </material-card>
            </v-flex>
            <v-flex md6 xs12>
                <material-card color="green" title="Space clicks" text="Check out what users are looking at">
                    <v-data-table :headers="headersClicks" :items="spaceClicks" hide-actions class="materialCardScroll">
                        <template slot="headerCell" slot-scope="{ header }">
                            <span class="font-weight-light  text--darken-3" v-text="header.text"/>
                        </template>
                        <template slot="items" slot-scope="{ index, item }">

                            <td class="text-xs-right, table-space-clicks">{{ item.spaceTitle }}</td>
                            <td
                                    class="text-xs-right, table-space-clicks">
                                <router-link :to="'/spaces/details?spaceId=' + item.spaceId" target="_blank">
                                    Open space page
                                </router-link>
                            </td>
                            <td class="text-xs-right, table-space-clicks">{{ item.clicks }}</td>
                        </template>
                    </v-data-table>
                </material-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
  import InfiniteSlideBar from 'vue-infinite-slide-bar'

  export default {
    components: {InfiniteSlideBar},
    data() {
      return {
        headersClicks: [
          {sortable: false, text: 'Space Title', value: 'spaceTitle'},
          {sortable: false, text: 'Space Link', value: 'spaceClicks'},
          {sortable: false, text: 'Clicks', value: 'clicks'},
        ],
        headers: [
          {sortable: false, text: 'Search Terms', value: 'searchTerms'},
          {sortable: false, text: 'Page', value: 'page'},
          {sortable: false, text: 'Count', value: 'count'},
        ],
        items: [],
        searchTerms: [],
        spaceClicks: [],
        tabs: 0,
        list: {
          0: false,
          1: false,
          2: false
        }
      }
    },
    methods: {
      complete(index) {
        this.list[index] = !this.list[index]
      }
    },
    beforeRouteEnter(to, from, next) {
      next(vm => {
        axiosPopertee.get('tracker/searchTerms').then(response => {
          vm.searchTerms = response.data.searchTerms;
        });
        axiosPopertee.get('tracker/spaceClicks').then(response => {
          vm.spaceClicks = response.data.spaceClicks;
        })
      })
    }
  }
</script>
<style>
    .materialCardScroll {
        height: 550px;
        overflow-x: hidden;
        overflow-y: auto;
        padding-right: 18px;
    }

    /* .materialCardScroll  {
      -ms-overflow-style: none;
      overflow: -moz-scrollbars-none;
    }
    .materialCardScroll::-webkit-scrollbar {
        display: none;
    } */
    .table-space-clicks {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 150px;
    }
</style>
