<template>
    <v-container fill-height  grid-list-md>
        <v-layout justify-center wrap>
            <v-layout grid-list-md row wrap class="py-4 spacesWrapper text-xs-center text-md-center">
            </v-layout>
            <v-flex md12>
                <material-card color="blue" title="Enquiries" text="Enquiries">
                    <v-data-table :headers="headers" :items="enquiries" hide-actions>
                        <template slot="headerCell" slot-scope="{ header }">
                            <span class="subheading font-weight-light   text--darken-3" v-text="header.text"/>
                        </template>
                        <template slot="items" slot-scope="{ item }">
                            <td>{{item.brandName}}</td>
                            <td>
                                {{item.url}}
                            </td>
                            <td>{{timeConverter(item.timestamp)}}</td>
                            <v-layout class="text-md-left featuredSpaceLayout" wrap row>
                                <v-flex md12>
                                    <v-btn depressed color="blue" @click="getEnquiry(item)">Details</v-btn>
                                </v-flex>
                            </v-layout>
                        </template>
                    </v-data-table>
                </material-card>
            </v-flex>
            <v-flex xs12>
                <v-layout grid-list-md row wrap class="py-4 spacesWrapper text-xs-center text-md-center">
                    <v-pagination style="margin:10px auto;" color="blue" light v-model="activePage" total-visible="10"
                                  :length="paginationAmount" @input="newPage"></v-pagination>
                </v-layout>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
  export default {
    components: {},
    data() {
      return {
        headers: [
          {sortable: false, text: 'From', value: 'from'},
          {sortable: false, text: 'Space', value: 'space'},
          {sortable: false, text: 'Received at', value: 'received_at'},
          {sortable: false, text: 'Action', value: 'action'},
        ],
        enquiries: [],
        displayOnPage: 100,
        activePage: 1,
        paginationAmount: 0
      }
    },
    created() {

    },
    mounted() {
    },
    methods: {
      getEnquiry(enquiry) {
        this.$router.push({path: '/enquires/details', query: {enquiryId: enquiry.id}})
      }
      ,
      newPage() {
        window.scrollTo(0, 0);
        var self = this;
        self.enquiries = [];
        if (self.activePage === 1) self.getInitialEnquiries();
        else {
          axiosPopertee.get(`v3/enquiries/all?page=${self.activePage - 1}`).then(response => {
            self.enquiries = response.data.enquiries
          })
        }
      },
      getInitialEnquiries() {
        axiosPopertee.get('v3/enquiries/all?page=0').then(response => {
          this.enquiries = response.data.enquiries
        })
      },
    },
    beforeRouteEnter(to, from, next) {
      next(vm => {
        vm.getInitialEnquiries();
        axiosPopertee.get('v3/enquiries/all').then(response => {
          vm.spacesCount = response.data.enquiries.length;
          vm.paginationAmount = Math.ceil(vm.spacesCount / vm.displayOnPage)
        })
      })
    },
  }
</script>
