<template>
    <v-container fill-height fluid grid-list-xl>
        <v-layout justify-center wrap>
            <v-flex xs12 md10>
                <material-card color="blue" title="Enquiry Details" text="Enquiry Details">
                    <v-form ref="form" v-model="valid">
                        <v-container py-0>
                            <v-layout wrap>
                                <v-flex xs12 md6>
                                    <v-text-field label="Enquiry Id" v-model="enquiry.id" readonly/>
                                </v-flex>
                                <v-flex xs12 md6>
                                    <v-text-field label="Email Address" class="purple-input" v-model="enquiry.email" readonly/>
                                </v-flex>
                                <v-flex xs12 md6>
                                    <v-text-field label="Full Name" class="purple-input" v-model="enquiry.name" readonly/>
                                </v-flex>
                                <v-flex xs12 md6>
                                    <v-text-field label="Brand Name" class="purple-input" v-model="enquiry.brandName" readonly/>
                                </v-flex>
                                <v-flex xs12 md6>
                                    <v-text-field label="Phone" class="purple-input" v-model="enquiry.phone" readonly/>
                                </v-flex>
                                <v-flex xs12 md6>
                                    <v-text-field label="Website" class="purple-input" v-model="enquiry.www" readonly/>
                                </v-flex>
                                <v-flex xs12 md6>
                                    <v-text-field label="Period Date" class="purple-input" v-model="enquiry.periodDate" readonly/>
                                </v-flex>
                                <v-flex xs12 md6>
                                    <v-text-field label="Budget" class="purple-input" v-model="enquiry.budget" readonly/>
                                </v-flex>
                                <v-flex xs12 md6>
                                    <v-text-field label="Space" class="purple-input" v-model="enquiry.url" readonly/>
                                </v-flex>
                                <v-flex xs12 md12>
                                    <v-flex md12>Enquiry Message:</v-flex>
                                    {{enquiry.about}}
                                </v-flex>
                                <v-flex xs12 text-xs-right>
                                    <v-layout row wrap justify-end>
                                        <v-flex v-if="spaceId.length > 0" xs6 sm4 md2>
                                            <v-btn class="mx-0 font-weight-light" color="success" @click="goToSpace()">Go to space
                                            </v-btn>
                                        </v-flex>
                                        <v-flex xs6 sm4 md2>
                                            <v-btn class="mx-0 font-weight-light" color="success" @click="redirectToEnquires()">Go Back
                                            </v-btn>
                                        </v-flex>
                                    </v-layout>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-form>
                </material-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
  export default {
    components: {},
    data() {
      return {
        valid: true,
        enquiry: {},
        spaceId: ""
      }
    },
    created() {
    },
    mounted() {
    },
    methods: {
      redirectToEnquires() {
        this.messageDialog = false;
        this.$router.push({path: '/enquires'})
      },
      goToSpace() {
        this.$router.push({path: '/spaces/details', query: {spaceId: this.spaceId}});
      }
    },
    beforeRouteEnter(to, from, next) {
      next(vm => {
        vm.enquiryId = vm.$route.query.enquiryId;
        axiosPopertee.get('v3/enquiries/get?id=' + vm.enquiryId).then(response => {
          vm.enquiry = response.data.enquiry;
          if (vm.enquiry.spaceId !== null && vm.enquiry.spaceId !== undefined) {
            vm.spaceId = vm.enquiry.spaceId;
            return
          }
          axiosPopertee.get('search/spaces/webscraper/name?title=' + vm.enquiry.url).then(response => {
            if (response.data.space !== undefined) {
              vm.spaceId = response.data.space._id
            }
          })
        })
      });
    }
  }
</script>
