<template>
    <v-container fill-height fluid grid-list-xl>
        <v-layout justify-center wrap>
            <v-flex md4>
                <v-btn depressed color="green" @click="updateSpaces()">Update Order</v-btn>
            </v-flex>
            <v-flex md8>
        		Use mouse Drag 'n' Drop to reorder the position of elements on the page
        	</v-flex>
            <v-flex md12>
                <material-card color="blue" title="Featured Spaces">
                    <v-layout row wrap class="py-3 px-0 mx-2 mb-2 tableHeader">
                        <v-flex xs1>Position</v-flex>
                        <v-flex xs3>Title</v-flex>
                        <v-flex xs2>Featured image</v-flex>
                        <v-flex xs1>Scraper</v-flex>
                        <v-flex xs1>Status</v-flex>
                        <v-flex xs1>City</v-flex>
                        <v-flex xs1>Country</v-flex>
                        <v-flex xs2 class="text-xs-center">Actions</v-flex>
                    </v-layout>
                    <v-layout class="px-3" row wrap>
                        <v-flex xs12>
                            <draggable v-model="spaces" :options="{draggable:'.item'}">
                                <div v-for="(item, index) in spaces" :key="index" class="item tableRow py-2">
                                    <v-layout row wrap>
                                        <v-flex xs1>{{item.featuredPositionNumber=index + 1}}</v-flex>
                                        <v-flex xs3>{{item.title}}</v-flex>
                                        <v-flex xs2>
                                            <v-img style="height:120px;width:90%;margin:0 auto;"
                                                   :src="newImageToThumbnailMedium(item.featuredImage, item.scraper)"></v-img>
                                        </v-flex>
                                        <v-flex xs1>{{item.scraper}}</v-flex>
                                        <v-flex xs1>{{item.status}}</v-flex>
                                        <v-flex xs1>{{item.address.city}}</v-flex>
                                        <v-flex xs1>{{item.address.country}}</v-flex>
                                        <v-flex xs2 class="text-xs-center">
                                            <v-btn depressed color="blue" @click="details(item)">Details</v-btn>
                                        </v-flex>

                                    </v-layout>
                                </div>
                            </draggable>
                        </v-flex>
                    </v-layout>
                </material-card>
                <v-dialog v-model="messageDialog" max-width="500">
                    <v-card>
                        <v-card-title class="headline">Message</v-card-title>
                        <v-card-text>{{message}}</v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="green darken-1" flat="flat" @click="messageDialog=false">Okay
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
  import draggable from 'vuedraggable'

  export default {
    components: {draggable},
    data() {
      return {
        spaces: [],
        messageDialog: false,
        message: ""
      }
    },
    created() {
    },
    mounted() {
    },
    methods: {
      details(space) {
        this.$router.push({path: 'spaces/details', query: {spaceId: space._id}})
      },
      updateSpaces() {
        let data = {
          spaces: this.spaces
        }
        axiosPopertee.put('spaces/multiple', data).then(response => {
          if (response.data.status) {
            this.spaces = response.data.spaces;
          }
          this.message = response.data.message;
          this.messageDialog = true;
        }).catch(error => {
          this.message = "Something went wrong. Please let the dev team know - " + error + " - " + error.response.data.message;
          this.messageDialog = true;
        });
      },
    },
    beforeRouteEnter(to, from, next) {
      next(vm => {
        axiosPopertee.get('spaces?featured=true').then(response => {
          vm.spaces = response.data.spaces
        })
      })
    }

  }
</script>
<style>
    .tableHeader {
        border-bottom: 1px solid #ddd;
    }

    .tableRow {
        border-bottom: 1px solid #eee;
    }
</style>
