<template>
    <v-container fill-height grid-list-md>
        <v-layout justify-center wrap>
            <material-card color="blue" :title="'Reorder '+ space.title +' Images'" style="width:100%">
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex xs12>
                                <span d-flex>Space gallery </span>
                            </v-flex>
                            <v-flex xs12>
                                <v-layout wrap row justify-start>
                                    <draggable v-model="space.images" :options="{draggable:'.item'}" class="spaceDetailsImgWrapper">
                                        <div v-for="img in space.images" :key="img" class="item">
                                            <v-flex>
                                                <img :src="newImageToThumbnailMedium(img , space.scraper)" alt="" class="spaceDetailsImg">
                                            </v-flex>
                                        </div>
                                    </draggable>
                                </v-layout>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>
                <v-card-actions class="addSpaceBtn">
                    <v-btn color="blue" class="submitButton" type="submit" @click="saveOrder()">Save Order</v-btn>
                </v-card-actions>
            </material-card>
            <v-dialog v-model="messageDialog" max-width="500">
                <v-card>
                    <v-card-title class="headline">Message</v-card-title>
                    <v-card-text>
                        {{message}}
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="green darken-1" flat="flat" @click="messageDialog=false">Okay
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-layout>
    </v-container>
</template>
<script>
  import draggable from 'vuedraggable'

  export default {
    components: {draggable},
    data() {
      return {
        space: {},
        messageDialog: false,
        message: ""
      }
    },
    created() {
    },
    mounted() {

    },
    methods: {
      saveOrder() {
        let formData = new FormData();
        formData.append('space', new Blob([JSON.stringify(this.space)], {type: "application/json"}));
        formData.append('imageReorder', new Blob([JSON.stringify(true)], {type: "application/json"}));
        axiosPopertee.put('spaces', formData)
          .then(response => {
            if (response.data.status) {
              this.space = response.data.space;
            }
            this.message = response.data.message;
            this.messageDialog = true;
          }).catch(error => {
          this.message = "Something went wrong. Please let the dev team know - " + error + " - " + error.response.data.message;
          this.messageDialog = true;
        });
      }
    },
    beforeRouteEnter(to, from, next) {
      next(vm => {
        vm.spaceId = vm.$route.query.spaceId
        axiosPopertee.get('spaces/getById?id=' + vm.spaceId).then(response => {
          vm.space = response.data.space;

        })
      })
    }
  }

</script>
<style>

    .addSpaceBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px !important;
    }

    .spaceDetailsImgWrapper {
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }

    .spaceDetailsImgWrapper .item {
        margin: 5px;
        flex-basis: calc(25% - 10px);
    }

    @media (max-width: 640px) {
        .spaceDetailsImgWrapper .item {
            flex-basis: calc(50% - 10px) !important;
        }
    }

    .spaceDetailsImg {
        width: 100%;
        height: 140px;
        object-fit: cover;
    }
</style>
