<template>
    <v-container fill-height fluid grid-list-xl>
        <v-layout justify-center wrap>
            <v-flex>

                <v-btn depressed color="#01d0d2" @click="addNewLocation">Create new Xmode location report</v-btn>
            </v-flex>
            <v-flex xs12 sm6 md8>
                <v-layout row wrap>
                    <v-flex>
                        <v-text-field class="mr-4 mt-2 purple-input" label="Search locations.." hide-details color="purple"
                                      v-model="locationsSearchFilter"/>
                    </v-flex>
                    <v-flex style="flex-grow:0">
                        <v-btn depressed color="#01d0d2" @click="search()">Search</v-btn>
                    </v-flex>
                </v-layout>
            </v-flex>
            <v-flex md12>
                <material-card color="#016061" :title="'Xmode processed locations: ' + locationsCount">
                    <v-data-table :headers="headers" :items="locations" hide-actions>
                        <template slot="headerCell" slot-scope="{ header }">
                            <span class="subheading font-weight-light  text--darken-3" v-text="header.text"/>
                        </template>
                        <template slot="items" slot-scope="{ item, index }">
                            <td>{{index + 1 + ((activePage-1) * 10)}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.yearMonth}}</td>
                            <td>{{item.submittedAt}}</td>
                            <td v-if="item.processedAt !== undefined">{{item.processedAt}}</td>
                            <td v-if="item.processedAt === undefined">N/A</td>
                            <td>
                                <v-btn v-if="item.processedAt !== undefined" depressed color="#01b4b5" @click="details(item)">Data</v-btn>
                            </td>
                        </template>
                    </v-data-table>
                </material-card>
            </v-flex>
            <v-flex xs12>
                <v-layout grid-list-md row wrap class="py-4 spacesWrapper text-xs-center text-md-center">
                    <v-pagination color="#016061" class="pagination" light v-model="activePage" total-visible="10"
                                  :length="paginationAmount"
                                  @input="newPage()"></v-pagination>
                </v-layout>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
  export default {
    components: {},
    data() {
      return {
        generalOptions: {
          shouldSort: true,
          threshold: 0.2,
          location: 0,
          distance: 100,
          maxPatternLength: 32,
          minMatchCharLength: 1,
          keys: ["id"]
        },
        headers: [
          {sortable: false, text: '#', value: 'index'},
          {sortable: false, text: 'Id', value: 'id'},
          {sortable: false, text: 'Year and month', value: 'yearMonth'},
          {sortable: false, text: 'Submitted at', value: 'submittedAt'},
          {sortable: false, text: 'Processed at', value: 'processedAt'},
          {sortable: false, text: 'Action', value: 'action'},
        ],
        locationsSearchFilter: '',
        locations: [],
        displayOnPage: 10,
        activePage: 1,
        paginationAmount: 0,
        locationsCount: 0,
      }
    },
    created() {
      this.getInitialLocations();
    },
    mounted() {
    },
    methods: {

      addNewLocation() {
        this.$router.push({path: 'locations/create'})
      },
      details(location) {
        this.$router.push({path: 'locations/details', query: {id: location.id, yearMonth: location.yearMonth, provider: 'xmode'}})
      },
      newPage() {
        window.scrollTo(0, 0);
        var self = this;
        self.locations = [];
        if (self.activePage === 1 && self.locationsSearchFilter !== '') this.getInitialLocations();
        else {
          let searchParam = '';
          if (this.locationsSearchFilter !== '') {
            searchParam = 'keywords=' + encodeURIComponent(this.locationsSearchFilter) + "&";
          }
          axiosDataApi.get(`/location/get-processed-locations?` + searchParam + `page=${self.activePage - 1}&provider=xmode`).then(response => {
            self.locations = response.data.locations

          })
        }
      },
      getInitialLocations() {
        let searchParam = '';
        if (this.locationsSearchFilter !== '') {
          searchParam = 'keywords=' + encodeURIComponent(this.locationsSearchFilter) + "&";
        }
        axiosDataApi.get('location/get-processed-locations/count?' + searchParam + '&provider=xmode').then(response => {
          this.locationsCount = response.data.locationsCount;
          this.paginationAmount = Math.ceil(this.locationsCount / this.displayOnPage);
          axiosDataApi.get('location/get-processed-locations?' + searchParam + 'page=0&provider=xmode').then(response => {
            this.locations = response.data.locations
          })
        })
      },
      search() {
        if (this.locationsSearchFilter !== '') {
          this.activePage = 1;
        }
        this.newPage();
      },
    },

    beforeRouteEnter(to, from, next) {
      next(vm => {
      })
    },
  }
</script>
