<template>
    <v-container fill-height grid-list-md>
        <v-layout justify-center wrap>
            <material-card color="#01b4b5" :title="'Fill out form to add location for data processing'"
                           style="width:100%">
                <v-card-text>
                    <v-form ref="form" v-model="valid">
                        <p v-if="errorList.length">
                            <span>Please correct the following error(s):</span>
                            <v-flex xs12 sm12 md12 v-for="(error, index) in errorList" :key=index>
                                <v-alert :value="true" type="error" outline>{{error}}</v-alert>
                            </v-flex>
                        </p>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12 sm12 md12>
                                    <v-text-field light hint="Please enter email to get notification " v-model="email"
                                                  label="Email"
                                                  :rules="emailRules" required></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm12 md12>
                                    <v-text-field light hint="Please enter unique location name" v-model="location.id" label="Location name"
                                                  :rules="locationNameRules" required></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm12 md12>
                                    <v-text-field light
                                                  hint="Please enter year and month which you would like the data for in the format YYYY_XX"
                                                  v-model="yearMonth"
                                                  label="Year and month" :rules="yearAndMonthRules" required></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm12 md12>
                                    <v-text-field light
                                                  hint="Please paste a valid GeoJson - only the part after geometry"
                                                  v-model="inputGeoJsonGeometry"
                                                  @input="updateCoordinates()"
                                                  label="GeoJson" required></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm12 md12>
                                    <v-checkbox label="Use weekly AVG scale factor?" v-model="weeklySf"></v-checkbox>
                                </v-flex>
                                <v-flex xs12 sm12 md12>
                                    <v-select class="custom-v-card currency"
                                              v-model="selectedProvider" :items="providers" label="Select Data Provider" persistent-hint
                                              required></v-select>
                                </v-flex>
                                <v-flex xs12 sm12 class="ma-0 py-0">
                                    <div id="mapS"></div>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-form>
                </v-card-text>
                <v-card-actions class="addSpaceBtn">
                    <v-btn color="blue" class="submitButton" type="submit" @click="addLocation()">Generate report</v-btn>
                </v-card-actions>
            </material-card>
            <v-dialog v-model="messageDialog" max-width="500">
                <v-card>
                    <v-card-title class="headline">Message</v-card-title>
                    <v-card-text>
                        {{message}}
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="green darken-1" flat="flat" @click="details()">Okay
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-layout>
    </v-container>
</template>

<script>

  export default {
    components: {},
    computed: {},
    data() {
      return {
        mapOptions: {
          center: {"lat": 51.5073509, "lng": -0.118092},
          zoom: 15,
          mapTypeId: 'terrain',
          streetViewControl: true,
          noClear: true,
          rotateControl: true,
          panControl: true,
          zoomControl: false,
          overviewMapControl: true,
          backgroundColor: '#007BB1',
          linksControl: true,
          minZoom: 9,
          disableDoubleClickZoom: false,
        },
        valid: true,
        emailRules: [(v) => !!v || 'Email address should be selected', (v) => /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(v) || 'Email address must be valid'],
        locationNameRules: [(v) => !!v || 'Location name should be added', (v) => v.length >= 3 ||
          'Location name must not be less than 3 characters'],
        yearAndMonthRules: [(v) => !!v || 'Year and month should be added', (v) => /\d{4}_\d{2}/.test(v) ||
          'Year and month should match the format YYYY_MM'],
        map: '',
        marker: '',
        location: {
          id: "",
          geoJsonObject:""
        },
        geoJson: {
          type: "Feature",
          properties: {},
          geometry: {}
        },
        inputGeoJsonGeometry:"",
        weeklySf: false,
        formattedAddress: '',
        email: "",
        yearMonth: "",
        message: "",
        messageDialog: false,
        added: false,
        errorList: [],
        providers: ['xmode', 'predicio'],
        selectedProvider: "",
      }
    },
    beforeRouteEnter(to, from, next) {
      next(vm => {
        vm.initMap();
      })
    },
    created() {

    },
    mounted() {
      const vm = this;
    },
    methods: {
      initMap() {
        let self = this;
        self.map = new google.maps.Map(document.getElementById('mapS'), self.mapOptions)
        self.map.data.addGeoJson(self.geoJson);
      },
      updateCoordinates() {
        var self = this;
        if (self.inputGeoJsonGeometry !== null) {
          self.geoJson.geometry = JSON.parse(self.inputGeoJsonGeometry);
          let lng = self.geoJson.geometry.coordinates[0][0][0];
          let lat = self.geoJson.geometry.coordinates[0][0][1];

          self.mapOptions.center.lng = lng;
          self.mapOptions.center.lat = lat;

          this.initMap()
          this.map.setZoom(14)
        }
      },
      handleEvent(event) {
        var self = this
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({'latLng': event.latLng}, function (results, status) {
          if (status === google.maps.GeocoderStatus.OK) {
            self.setAddressFromMap(results[0])
          } else {
            // alert('Cannot determine address at this location. '+status)
          }
        })
      },
      addLocation() {
        let self = this;
        self.errorList = [];
        if (self.location.id.trim().length === 0) self.errorList.push("Location title is required.");
        if (self.email.trim().length === 0 || !self.email.match(/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/))
          self.errorList.push("Email is required.");
        if (self.yearMonth.trim().length === 0 || !self.yearMonth.match(/\d{4}_\d{2}/))
          self.errorList.push("Year and month is required in the format YYYY_MM.");
        if (self.geoJson.geometry === null || self.geoJson.geometry=== "") self.errorList.push("GeoJson is required.");
        if (self.selectedProvider.trim().length === 0) self.errorList.push("Data provider is required.");
        if (self.errorList.length > 0) {
          window.scrollTo(0, 0);
          return;
        }

        var myJSONString = JSON.stringify(self.geoJson.geometry, null, 2);
        //var myEscapedJSONString = JSON.stringify(myJSONString).slice(1, -1);
        self.location.geoJsonObject = myJSONString;

        self.location.id = self.location.id.trim()
        self.yearMonth = self.yearMonth.trim();
        self.email = self.email.trim();
        let scaleFactor = 'new-regular';
        if (self.weeklySf) {
          scaleFactor = 'weekly-average'
        }
        ;
        axiosDataApi.post('location/add-geojson-location', {
          location: self.location,
          yearAndMonth: self.yearMonth,
          email: self.email,
          provider: self.selectedProvider,
          scaleFactor: scaleFactor
        }).then(response => {
          if (response.data.status) {
            this.added = true;
          }
          this.message = response.data.message;
          this.messageDialog = true;
        }).catch(error => {
          this.message = "Something went wrong. Please let the dev team know - " + error + " - " + error.response.data.message;
          this.messageDialog = true;
        });
      },
      details() {
        this.messageDialog = false;
        if (this.added) {
          this.$router.push({path: '/locations-' + this.provider})
        }
      }
    },

  }
  ;
</script>
<style>
    #mapS {
        width: 100%;
        height: 350px;
    }

    .addSpaceBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px !important;
    }
</style>
