<template>
    <v-container fill-height fluid grid-list-xl>
        <v-layout justify-center wrap>
            <v-flex xs12 md6>
                <material-card color="blue" title="Login To Admin">
                    <v-form v-model="valid" ref="form">
                        <v-container py-0>
                            <v-layout wrap>
                                <v-flex xs12 md10 offset-md1>
                                    <v-text-field name="user.mail" hint="Your Popertee Email Address" label="Email address" v-model="user.mail" :rules="[rules.emailRequired, rules.emailRequired]" />
                                    <span>{{ errors.first('email') }}</span>
                                </v-flex>
                                <v-flex xs12 md10 offset-md1>
                                    <v-text-field class="purple-input" label="Password" v-model="user.pass"  :rules="[rules.passowordRequired, rules.passwordMin]" type="password" name="user.pass" hint="Your Password At Least 6 Characters" counter  />
                                </v-flex>
                                <v-flex xs12 text-xs-right>
                                    <v-btn class="mx-0 font-weight-light" color="blue" type="submit" :disabled="!valid" @click.prevent="loginAuthenticate($event)">
                                        Login
                                    </v-btn>
                                </v-flex>
                                <v-flex xs8 offset-xs2>
                                    <v-alert :value="basicLoginAlert !== ''" type="warning">{{basicLoginAlert}}</v-alert>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-form>
                </material-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
  import {mapActions} from 'vuex'
  export default {
    data: () => ({
    	rules: {
			emailRequired: value => !!value || 'Email is required',
          	emailRules: [(v) => !!v || 'Email address should be selected', (v) => /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(v) || 'Email address must be valid'],
          	passowordRequired: value => !!value || 'Password is required',
          	passwordMin: v => v.length >= 6 || 'Minimum of 6 characters is required for password',
        },
        redirectRef: '',
      	basicLoginAlert: '',
      	user: {
        	pass: '',
        	mail: "",
        	rememberMe: false,
      	},
      	valid: true,
    }),
    created() {

      	this.logout().then(() => { })
    },
    mounted() { },
    methods: {
      	...mapActions(['login', 'logout']),
      	loginAuthenticate(e) {
        	var self = this
        	self.basicLoginAlert = ''
        	axiosPopertee.post('/v3/authenticate', self.user)
          	.then(response => {
            	var setup = self.setupResponsePayload(response)
            	if (setup.status) {
              		self.login(setup.payload).then(() => {
	                	if (setup.payload.roles.includes("ADMIN")) {
	                		if(this.redirectRef !== undefined){
	                			window.location.href = this.redirectRef
	                		} else {
	                			self.$router.push('/dashboard')
	                		}
		                } else {
		                  	self.basicLoginAlert = 'You don\'t currently have permission to access the admin cms'
		                }
             		})
            	} else
              	self.basicLoginAlert = setup.message
          	}).catch(error => {
          		self.basicLoginAlert = "Something went wrong. Please let the dev team know - " + error + " - " + error.response.d
        	})
      	},
      	setupResponsePayload(response) {
        	if (response.data.status === true) {
          		var payload = JSON.parse(window.atob(response.data.access_token.split(".")[1]))
          		var isAdmin = payload.roles.includes("ADMIN")
          		payload.accessToken = response.data.access_token
          		payload.refreshToken = response.data.refresh_token
          		return {"status": true, "payload": payload, "message": response.data.message}
        	} else return {"status": false, "message": response.data.message}
      	},
    },
    beforeRouteEnter(to, from, next) {
      next(vm => {
      	if(vm.$route.query.ref !== undefined || vm.$route.query.ref !== '')
      		vm.redirectRef =  vm.$route.query.ref
       })
    },
  }
</script>
