<template>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
  export default {
    computed: {

    }, data() {
      return {

      }
    },
    created() {

    },
    mounted() {


    },
    	beforeRouteEnter(to, from, next) {
		next(vm => {
			vm.$router.push({path: '/login'})
		})
	},
    methods: {
    	...mapActions(['login', 'logout']),
	}
}
</script>
