<template>
    <v-container fill-height grid-list-md>
        <v-layout justify-center wrap>
            <v-flex md12>
                <material-card color="blue" title=" All newsletter subscribers " text="All newsletter users">
                    <v-data-table :headers="headers" :items="items" hide-actions class="table-header ">
                        <template slot="headerCell" slot-scope="{ header }">
                            <span class="subheading font-weight-light    text--darken-3" v-text="header.text"/>
                        </template>
                        <template slot="items" slot-scope="{ item }">
                            <td>{{item.id}}</td>
                            <td>{{item.mail}}</td>
                            <td>{{timeConverter(item.createdAt)}}</td>
                            <td>{{item.status}}</td>
                        </template>
                    </v-data-table>

                </material-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
  export default {
    components: {},
    data() {
      return {
        headers: [
          {sortable: false, text: 'ID', value: 'id'},
          {sortable: false, text: 'Email', value: 'email'},
          {sortable: false, text: 'Created At', value: 'createdAt'},
          {sortable: false, text: 'Status', value: 'status', align: 'right'}
        ],
        items: [],
        displayOnPage: 100,
        activePage: 1,
        paginationAmount: 0,
        spacesCount: 0,
      }
    },
    created() {
    },
    mounted() {
    },
    methods: {},
    //todo add pagination (also in the API)
    beforeRouteEnter(to, from, next) {
      next(vm => {
        axiosPopertee.get('v3/newsletter')
          .then(response => {
            vm.items = response.data.newsletter
          })
      })
    }
  }
</script>
<style>
    .table-header * {
        text-align: left !important;
    }
</style>
