<template>
    <v-container fill-height grid-list-md>
        <material-card color="blue" title="Create new partner" style="width:100%">
            <v-card-text>
                <v-form ref="form" v-model="valid">
                    <p v-if="errors.length">
                        <span>Please correct the following error(s):</span>
                        <v-flex xs12 sm12 md12 v-for="(error, index) in errors" :key=index>
                            <v-alert :value="true" type="error" outline>{{error}}</v-alert>
                        </v-flex>
                    </p>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex xs12 sm6 md6 class="ma-0 py-0 mt-2 pt-1">
                                <v-select class="custom-v-card currency"
                                          v-model="partner.category" :items="categories" autocomplete
                                          @keyup.native.enter="addValue"
                                          item-text="name" item-value="name"
                                          label="Category" persistent-hint required></v-select>
                            </v-flex>
                            <v-flex xs12 sm12 md6>
                                <v-checkbox label="Publish?" v-model="partner.status"></v-checkbox>
                            </v-flex>
                            <v-flex xs12 sm12 md12>
                                <v-text-field light hint="Website" v-model="partner.websiteUrl" label="Website" required></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm12 md12> Logo
                                <vue-dropzone ref="myVueDropzone" id="images" :options="dropzoneOptions"></vue-dropzone>
                            </v-flex>
                            <v-flex xs12 sm12 md12>Describe the partner
                                <v-textarea v-model="partner.text" auto-grow box color="deep-purple" label="Text" rows="3"
                                ></v-textarea>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-form>
            </v-card-text>
            <v-card-actions>
                <v-btn block color="blue" class="submitButton" type="submit" @click="createPartner()">Submit</v-btn>
            </v-card-actions>
        </material-card>
        <v-dialog v-model="messageDialog" max-width="500">
            <v-card>
                <v-card-title class="headline">Message</v-card-title>
                <v-card-text>
                    {{message}}
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" flat="flat" @click="redirectToPartners()">Okay
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-container>
</template>
<script>
  import vue2Dropzone from 'vue2-dropzone'
  import 'vue2-dropzone/dist/vue2Dropzone.min.css'

  export default {
    components: {vueDropzone: vue2Dropzone},
    data() {
      return {
        categories: [],
        partner: {
          text: "",
          status: true,
          category: "",
          websiteUrl: ""
        },
        valid: true,
        message: "",
        messageDialog: false,
        errors: [],
        dropzoneOptions: {
          maxFilesize: 500, // in MB
          maxFiles: 1, acceptedFiles: "image/*",
          clickable: true,
          addRemoveLinks: true,
          url: 'https://httpbin.org/post',
          thumbnailWidth: 350,
          autoProcessQueue: false
        },
      }
    },
    created() {
    },
    mounted() {
    },
    methods: {
      addValue: function (e) {
        this.categories.push(e.target.value)
      },
      createPartner() {
        this.errors = [];
        let formData = new FormData();
        if (this.partner.text.trim().length === 0) this.errors.push("Text is required.");
        if (this.partner.category.trim().length === 0) this.errors.push("Category is required.");
        if (this.partner.websiteUrl.trim().length === 0) this.errors.push("Website is required.");
        if (this.$refs.myVueDropzone.getAcceptedFiles().length === 0) this.errors.push("Logo is required.");
        if (this.errors.length > 0) {
          window.scrollTo(0, 0);
          return;
        }
        $.each(this.$refs.myVueDropzone.getAcceptedFiles(), function (index, file) {
          formData.append('image', file)
        });
        formData.append("text", this.partner.text);
        formData.append("category", this.partner.category);
        formData.append("websiteUrl", this.partner.website);
        formData.append("status", this.partner.status);

        axiosPopertee.post('v3/partners', formData)
          .then(response => {
            if (response.data.status) {
              this.partner = response.data.partner;
            }
            this.message = response.data.message;
            this.messageDialog = true;
          }).catch(error => {
          this.message = "Something went wrong. Please let the dev team know - " + error + " - " + error.response.data.message;
          this.messageDialog = true;
        });
      },
      redirectToPartners() {
        this.messageDialog = false;
        this.$router.push({path: '/partners'})
      }
    },
    beforeRouteEnter(to, from, next) {
      next(vm => {
        axiosPopertee.get('v3/partners/categories').then(response => {
          vm.categories = response.data.categories;
        });
      });
    }
  }
</script>

