<template>
    <v-container fill-height fluid grid-list-xl>
        <v-layout justify-center wrap>
            <v-flex>
                <v-btn depressed color="green" @click="createPartner">Create new partner</v-btn>
            </v-flex>
            <v-flex md12>
                <material-card color="blue" title="Partners ">
                    <v-data-table :headers="headers" :items="partners" hide-actions>
                        <template slot="headerCell" slot-scope="{ header }">
                            <span class="subheading font-weight-light text--darken-3" v-text="header.text"/>
                        </template>
                        <template slot="items" slot-scope="{ item }">
                            <td>{{item.id}}</td>
                            <td>{{item.status}}</td>
                            <td>{{item.creationDate}}</td>
                            <td>
                                <v-img :src="imageToThumbnailMedium(item.picture)"></v-img>
                            </td>
                            <td>{{item.category.name}}</td>
                            <td>{{item.websiteUrl}}</td>
                            <td>
                                <v-layout class="text-md-left featuredSpaceLayout" wrap row>
                                    <v-flex md12>
                                        <v-btn depressed color="blue" @click="getPartner(item)">Details</v-btn>
                                    </v-flex>
                                </v-layout>
                            </td>
                        </template>
                    </v-data-table>
                </material-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
  export default {
    components: {},
    data() {
      return {
        headers: [
          {sortable: false, text: 'Id', value: 'Id'},
          {sortable: false, text: 'Status', value: 'status'},
          {sortable: false, text: 'Created at', value: 'creationDate'},
          {sortable: false, text: 'Picture', value: 'picture'},
          {sortable: false, text: 'Category', value: 'category'},
          {sortable: false, text: 'Website', value: 'websiteUrl'},
          {sortable: false, text: 'Action', value: 'action'},
        ],
        partners: [],
      }
    },
    created() {
    },
    mounted() {
    },
    methods: {
      getPartner(partner) {
        this.$router.push({path: '/partners/details', query: {partnerId: partner.id}})
      },
      createPartner() {
        this.$router.push({path: '/partners/create'})
      }
    },
    beforeRouteEnter(to, from, next) {
      next(vm => {
        axiosPopertee.get('v3/partners').then(response => {
          vm.partners = response.data.partners
        })
      })
    },
  }
</script>
