<template>
    <v-container fill-height grid-list-md>
        <material-card color="blue" title="Edit partner" style="width:100%">
            <v-card-text>
                <v-form ref="form" v-model="valid">
                    <p v-if="errors.length">
                        <span>Please correct the following error(s):</span>
                        <v-flex xs12 sm12 md12 v-for="(error, index) in errors" :key=index>
                            <v-alert :value="true" type="error" outline>{{error}}</v-alert>
                        </v-flex>
                    </p>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex xs12 sm6 md6 class="ma-0 py-0 mt-2 pt-1">
                                <v-select class="custom-v-card currency"
                                          v-model="partner.category.name" :items="categories" autocomplete
                                          @keyup.native.enter="addValue"
                                          item-text="name" item-value="name"
                                          label="Category" persistent-hint required></v-select>
                            </v-flex>
                            <v-flex xs12 sm12 md12>
                                <v-checkbox label="Publish?" v-model="partner.status"></v-checkbox>
                            </v-flex>
                            <v-flex xs12 sm12 md12>
                                <v-text-field light hint="Website" v-model="partner.websiteUrl" label="Website" required></v-text-field>
                            </v-flex>
                            <v-flex xs12 v-if="partner.picture">
                                <span class="subheading">Logo</span>
                                <v-layout wrap row justify-start>
                                    <v-flex md3 xs6 class="partnerDetailsImgWrapper">
                                        <img :src="imageToThumbnailMedium(partner.picture)" alt="" class="partnerDetailsImg">
                                        <v-btn color="error" small round absolute top right floating icon
                                               @click="removeOldImage(partner.picture)">
                                            <v-icon>mdi-close</v-icon>
                                        </v-btn>
                                    </v-flex>
                                </v-layout>
                            </v-flex>
                            <v-flex xs12 sm12 md12> Upload new featured image
                                <vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions"
                                              @vdropzone-file-added="newImageUploaded"
                                              @vdropzone-removed-file="removeNewImage"></vue-dropzone>
                            </v-flex>
                            <v-flex xs12 sm12 md12>Describe the partner
                                <v-textarea v-model="partner.text" auto-grow box color="deep-purple" label="Text" rows="3"
                                ></v-textarea>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-form>
            </v-card-text>
            <v-card-actions class="addPartnerButton">
                <v-flex xs6 sm4 md2>
                    <v-btn block color="blue" class="submitButton" type="submit" @click="createPartner()">Update</v-btn>
                </v-flex>
                <v-flex xs6 sm4 md2>
                    <v-btn class="mx-3 font-weight-light" color="error" @click="deletePartner()"> Delete partner</v-btn>
                </v-flex>
            </v-card-actions>
        </material-card>
        <v-dialog v-model="messageDialog" max-width="500">
            <v-card>
                <v-card-title class="headline">Message</v-card-title>
                <v-card-text>
                    {{message}}
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" flat="flat" @click="redirectToPartners()">Okay
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="confirmDialog" max-width="500">
            <v-card>
                <v-card-title class="headline">Caution!</v-card-title>
                <v-card-text>
                    Are you sure you want to delete this partner ?
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="red darken-1" flat="flat" @click="confirmDeletePartner(false)">Cancel
                    </v-btn>
                    <v-btn color="red darken-1" flat="flat" @click="confirmDeletePartner(true)">Okay
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-container>
</template>
<script>
  import vue2Dropzone from 'vue2-dropzone'
  import 'vue2-dropzone/dist/vue2Dropzone.min.css'

  export default {
    components: {vueDropzone: vue2Dropzone},
    data() {
      return {
        categories: [],
        partner: {},
        newLogo: undefined,
        valid: true,
        message: "",
        messageDialog: false,
        confirmDialog: false,
        errors: [],
        dropzoneOptions: {
          maxFilesize: 500, // in MB
          maxFiles: 1, acceptedFiles: "image/*",
          clickable: true,
          addRemoveLinks: true,
          url: 'https://httpbin.org/post',
          thumbnailWidth: 350,
          autoProcessQueue: false
        },
      }
    },
    created() {
    },
    mounted() {
    },
    methods: {
      removeOldImage() {
        this.partner.picture = undefined;
      },
      removeNewImage() {
        this.newLogo = undefined;
      },
      newImageUploaded(file) {
        this.newLogo = file;
      },
      addValue: function (e) {
        this.categories.push(e.target.value)
      },
      deletePartner() {
        this.confirmDialog = true;
      },
      confirmDeletePartner(status) {
        this.confirmDialog = false;
        if (status) {
          axiosPopertee.delete('v3/partners?id=' + this.partner.id).then(response => {
            this.message = response.data.message;
            this.messageDialog = true;
          }).catch(error => {
            this.message = "Something went wrong. Please let the dev team know - " + error + " - " + error.response.data.message;
            this.messageDialog = true;
          });
        }
      },
      redirectToPartners() {
        this.messageDialog = false;
        this.$router.push({path: '/partners'})
      },
      createPartner() {
        this.errors = [];
        if (this.partner.text.trim().length === 0) this.errors.push("Text is required.");
        if (this.partner.category.name.trim().length === 0) this.errors.push("Category is required.");
        if (this.partner.websiteUrl.trim().length === 0) this.errors.push("Website is required.");
        if (this.errors.length > 0) {
          window.scrollTo(0, 0);
          return;
        }
        let formData = new FormData();
        if (this.logoImage !== undefined) {
          formData.append("image", this.logoImage);
        }
        if (this.partner.picture !== "" && this.partner.picture !== undefined) {
          formData.append("imageString", this.partner.picture);
        }
        formData.append("text", this.partner.text);
        formData.append("category", this.partner.category);
        formData.append("websiteUrl", this.partner.websiteUrl);
        formData.append("status", this.partner.status);
        formData.append("id", this.partner.id);

        axiosPopertee.post('v3/partners', formData)
          .then(response => {
            if (response.data.status) {
              this.partner = response.data.partner;
            }
            this.message = response.data.message;
            this.messageDialog = true;
          }).catch(error => {
          this.message = "Something went wrong. Please let the dev team know - " + error + " - " + error.response.data.message;
          this.messageDialog = true;
        });
      }
    },
    beforeRouteEnter(to, from, next) {
      next(vm => {
        axiosPopertee.get('v3/partners/getById?id=' + vm.$route.query.partnerId).then(response => {
          if (response.data.status) {
            vm.partner = response.data.partner;
            axiosPopertee.get('v3/partners/categories').then(response => {
              vm.categories = response.data.categories;
            });
          } else {
            vm.messageDialog = true;
            vm.message = response.data.message;
          }
        }).catch(error => {
          vm.messageDialog = true;
          vm.message = "Something went wrong. Please let the dev team know - " + error + " - " + error.response.data.message;
        });
      })
    }
  }
</script>
<style scoped>
    .addPartnerButton {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px !important;
    }

    .partnerDetailsImgWrapper {
        position: relative;
    }

    .partnerDetailsImg {
        width: 100%;
        height: 140px;
        object-fit: cover;
    }

</style>
