<template>
    <v-container fill-height grid-list-md>
        <template>
            <v-layout justify-center wrap>
                <material-card color="blue" title="Tracking Reports" style="width:100%">
                    <v-card-text>
                        <v-layout row wrap>
                            <v-flex xs12 sm12 md8>
                                <p class="subheading mb-2">Select users</p>
                                <v-text-field class="mb-2 purple-input" solo label="Search name or email" hide-details color="purple"
                                              @input="updateMainFilter()" v-model="userSearchFilter"></v-text-field>
                                <v-data-table :headers="headers" :items="filteredUsers" hide-actions class="materialCardScroll">
                                    <template slot="headerCell" slot-scope="{ header }">
                                        <span class="subheading font-weight-light    text--darken-3" v-text="header.text"/>
                                    </template>
                                    <template slot="items" slot-scope="{ item }">
                                        <td>{{item.firstName}} {{item.lastName}}</td>
                                        <td>{{item.email}}</td>
                                        <td>
                                            <v-btn color="blue" small @click="addUser(item)">Add user</v-btn>
                                        </td>
                                    </template>
                                </v-data-table>
                            </v-flex>
                            <v-flex xs12 sm12 md4 class=""> Select time frame
                                <v-select class="mt-2" v-model="selectedTimeFrame" :items="timeFrames" item-text="frameText"
                                          item-value="frameValue" label="Select Time Frame" persistent-hint solo required></v-select>
                            </v-flex>
                            <v-flex v-if="selectedUsers.length > 0" xs12 md6>Selected users
                                <p class="px-3" v-for="(user, key) in selectedUsers" :key="key">
                                    {{ user.email }} - {{ user.firstName + " " + user.lastName}}
                                    <button class="btn" @click="removeUser(user)">
                                        <v-icon>mdi-delete</v-icon>
                                    </button>
                                </p>
                            </v-flex>
                            <v-flex xs12>Select event types</v-flex>
                            <v-flex md4 xs6 class="ma-0 py-0" v-for="type in eventTypes" :key="type">
                                <v-switch v-model="selectedTypes" color="success" :value="type" :label="type"></v-switch>
                            </v-flex>
                        </v-layout>
                    </v-card-text>
                    <v-card-actions class="addSpaceBtn">
                        <v-btn color="blue" class="submitButton" type="submit" @click="excelExport('type')">Event type per sheet</v-btn>
                        <v-btn v-if="selectedUsers.length >0" color="blue" class="submitButton" type="submit" @click="excelExport('user')">
                            User per sheet
                        </v-btn>
                    </v-card-actions>
                </material-card>
            </v-layout>
        </template>
        <v-dialog v-model="messageDialog" max-width="500">
            <v-card>
                <v-card-title class="headline">Message</v-card-title>
                <v-card-text>{{message}}</v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" flat="flat" @click="messageDialog=false">Okay</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-container>
</template>

<script>
  export default {
    components: {},
    data() {
      return {
        generalOptions: {
          shouldSort: true,
          threshold: 0.2,
          location: 0,
          distance: 100,
          maxPatternLength: 32,
          minMatchCharLength: 1,
          keys: ["firstName", "lastName", "email"]
        },
        headers: [
          {sortable: false, text: 'Name', value: 'name'},
          {sortable: false, text: 'Email', value: 'email'},
          {sortable: false, text: 'Actions', value: 'actions'},

        ],
        timeFrames: [
          {frameText: "No Time Frame", frameValue: "null"},
          {frameText: "Yearly", frameValue: "yearly"},
          {frameText: "Monthly", frameValue: "monthly"},
          {frameText: "Weekly", frameValue: "weekly"}
        ],
        selectedTimeFrame: "",
        eventTypes: [],
        userSearchFilter: "",
        selectedTypes: [],
        users: [],
        filteredUsers: [],
        selectedUsers: [],
        selectedUserIds: [],
        message: "",
        messageDialog: false
      };
    },
    created() {
    },
    mounted() {
    },
    methods: {
      updateMainFilter() {
        var self = this;
        var fuse = new Fuse(self.users, self.generalOptions);
        var result = fuse.search(self.userSearchFilter);
        this.filteredUsers = result;
        if (self.userSearchFilter.trim() === "") self.filteredUsers = self.users;
      },
      addUser(user) {
        this.selectedUsers.push(user);
        this.selectedUserIds.push(user.id);
      },
      removeUser(user) {
        this.selectedUsers.splice(this.selectedUsers.indexOf(user), 1);
        this.selectedUserIds.splice(this.selectedUserIds.indexOf(user.id), 1);
      },
      excelExport(type) {
        let data = {
          userIds: this.selectedUserIds,
          type: type,
          timeFrame: this.selectedTimeFrame
        };
        for (let i = 0; i < this.selectedTypes.length; i++) {
          data[this.selectedTypes[i]] = true;
        }

        axiosPopertee
          .post("tracker/export", data, {responseType: "arraybuffer"})
          .then(response => {
            if (response.status === 200) {
              const contentDisposition = response.headers["content-disposition"];
              const fileName = contentDisposition
                .split("=")[1]
                .replace(/\"/gi, "");
              const url = window.URL.createObjectURL(new Blob([response.data]));
              const link = document.createElement("a");
              link.href = url;
              link.setAttribute("download", fileName);
              document.body.appendChild(link);
              link.click();
            } else if (response.status === 204) {
              this.messageDialog = true;
              this.message = "No events found. Try another search.";
            }
            this.selectedUsers = [];
            this.selectedTypes = [];
            this.selectedUserIds = [];
            this.selectedTimeFrame = "";
          })
          .catch(error => {
            this.message = "Something went wrong. Please let the dev team know - " + error + " - " + error.response.data.message;
            this.messageDialog = true;
          });
      }
    },
    beforeRouteEnter(to, from, next) {
      next(vm => {
        axiosPopertee.get("tracker/eventTypes").then(response => {
          vm.eventTypes = response.data.eventTypes;
        });
        axiosPopertee.get("v3/users/all").then(response => {
          vm.users = response.data.users;
          vm.filteredUsers = response.data.users;
        });
      });
    }
  };
</script>
<style scoped>
    .materialCardScroll {
        height: 300px;
        overflow-x: hidden;
        overflow-y: auto;
        padding-right: 18px;
        margin-bottom: 10px;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    }
</style>