<template>
    <v-container fill-height grid-list-md>
        <template>
            <v-layout justify-center wrap>
                <material-card color="blue" title="Enable scrapers" style="width:100%">
                    <v-card-text>
                        <v-container fluid>
                            <v-layout row wrap>
                                <v-flex md4 xs6 class="ma-0 py-0" v-for="scraper in scrapers" :key="scraper.scraper">
                                    <v-switch v-model="scraper.status" color="success" :value="scraper.status"
                                              :label="scraper.scraper"></v-switch>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>
                    <v-card-actions class="addSpaceBtn">
                        <v-btn color="blue" class="submitButton" type="submit" @click="enableScrapers()">Save</v-btn>
                    </v-card-actions>
                </material-card>
            </v-layout>
        </template>
        <v-dialog v-model="confirmDialog" max-width="500">
            <v-card>
                <v-card-title class="headline">Caution!</v-card-title>
                <v-card-text>
                    This action will hide/show scraped spaces on the website. Are you sure you want to continue?
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="red darken-1" flat="flat" @click="confirmScrapersChange(false)">Cancel
                    </v-btn>
                    <v-btn color="red darken-1" flat="flat" @click="confirmScrapersChange(true)">Okay
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="messageDialog" max-width="500">
            <v-card>
                <v-card-title class="headline">Message</v-card-title>
                <v-card-text>
                    {{message}}
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" flat="flat" @click="messageDialog=false">Okay
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-container>
</template>
<script>
  export default {
    components: {},
    data() {
      return {
        scrapers: [],
        confirmDialog: false,
        messageDialog: false,
        message: ""
      }
    },
    created() {

    },
    mounted() {

    },
    methods: {
      confirmScrapersChange(status) {
        this.confirmDialog = false;
        if (status) {
          let data = {
            scrapers: this.scrapers
          }
          this.messageDialog = true;
          if (process.env.NODE_ENV === 'production') {
            axiosPopertee.put('spaces/scrapers', data).then(response => {
              this.message = response.data.message;
              this.scrapers = response.data.scrapers;
              //change scrapers also on staging for consistency
              axiosPoperteeStaging.put('spaces/scrapers', data).then(response => {
                console.log(response)
              })
            }).catch(error => {
              this.message = "Something went wrong. Please let the dev team know - " + error + " - " + error.response.data.message;
            });
          }
          this.message = "This is only available on production admin panel.";
        }
      },
      enableScrapers() {
        this.confirmDialog = true;
      }
    },
    beforeRouteEnter(to, from, next) {
      next(vm => {
        axiosPopertee.get('spaces/scrapers').then(response => {
          vm.scrapers = response.data.scrapers;

        })
      })
    }
  }

</script>

