<template>
    <div>
        <v-container fill-height grid-list-md>
            <v-layout justify-center wrap>
                <material-card color="#01b4b5" :title="'Space data for ' + _id "
                               style="width:100%">

                    <v-layout v-if="!missingData" wrap class="content">
                        <div id="map"></div>
                        <div style="transform: scale(0.85); margin-top: -5px; margin-left: -20px">
                            <v-layout>
                                <v-flex>
                                    <div class="footfall"></div>
                                </v-flex>
                                <v-flex>
                                    <p class="estimated-footfall">
                                        Est. Weekly Total Footfall <br>
                                        <span class="number">{{
                                                totalVolume.toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ", ") }}</span>
                                        <br>
                                    </p>
                                </v-flex>
                            </v-layout>
                        </div>
                        <div style="transform: scale(0.85); margin-top: -5px; margin-left: -20px">
                            <v-layout>
                                <v-flex>
                                    <div class="info"></div>
                                </v-flex>
                                <v-flex>
                                    <p class="info-text" >
                                       Does data meet all criteria and requirements?<br>
                                        <span class="boolean">{{
                                                qualified.toString().toUpperCase()}}</span>
                                        <br>
                                    </p>
                                </v-flex>
                            </v-layout>
                        </div>
                    </v-layout>
                    <v-layout v-if="missingData">
                        <v-container fill-height>
                            <v-layout column justify-center align-center>
                                <h3>Missing data</h3>
                                <h3>{{message}}</h3>
                            </v-layout>
                        </v-container>
                    </v-layout>
                    <v-layout wrap style="overflow-y: auto; height: calc(100vh - 200px);" v-if="!loading && !missingData">
                        <v-flex sm12 md12 lg6 xl6 class="normalize">
                            <div class="light-border mt-3 mr-3 ml-3">
                                <p class="estimated-footfall mt-3" style="text-align: center; margin-left: 0;">Footfall Overview
                                    <stacked-bar-chart :stacked-data="chartData.footfall"></stacked-bar-chart>

                                </p>
                            </div>
                        </v-flex>
                        <v-flex sm12 md12 lg6 xl6 class="normalize">
                            <div class="light-border mt-3 mr-3 add-margin">
                                <p class="estimated-footfall mt-3" style="text-align: center; margin-left: 0;">Gender</p>
                                <pie-chart :pie-data="chartData.gender"></pie-chart>
                            </div>
                        </v-flex>

                        <v-flex sm12 md12 lg6 xl6 class="normalize">
                            <div class="light-border mt-3 mr-3 ml-3">
                                <p class="estimated-footfall mt-3" style="text-align: center; margin-left: 0;">Propensity to Spend</p>
                                <pie-chart-spend :pie-data="chartData.affluence"></pie-chart-spend>
                            </div>
                        </v-flex>
                        <v-flex sm12 md12 lg6 xl6 column class="normalize">
                            <div class="light-border mt-3 mr-3 add-margin">
                                <p class="estimated-footfall mt-3" style="text-align: center; margin-left: 0;">Age</p>
                                <bar-chart-age :age-data="chartData.age"></bar-chart-age>
                            </div>
                        </v-flex>
                        <v-card-actions class="addSpaceBtn">
                            <v-btn color="blue" class="submitButton" type="submit" @click="excelExport()">Download Report</v-btn>
                        </v-card-actions>
                    </v-layout>
                </material-card>
            </v-layout>
        </v-container>
    </div>
</template>

<!-- Adding Typescript code -->
<script>
  // Importing Components
  import StackedBarChart from '../components/charts/StackedBarChart';
  import PieChart from "../components/charts/PieChart";
  // Importing functions
  import {getSpaceData} from '../assets/js/map-requests';
  import PieChartSpend from "../components/charts/PieChartSpend";
  import BarChartAge from "../components/charts/BarChartAge";


  export default {
    name: 'MapSidebar',
    components: {
      BarChartAge,
      PieChartSpend,
      PieChart,
      StackedBarChart,
    },
    props: {},
    data() {
      return {
        map: '',
        mapOptions: {
          center: {"lat": 51.5073509, "lng": -0.118092},
          zoom: 16,
          mapTypeId: 'terrain',
          streetViewControl: true,
          spaceClusterMarkers: [],
          scrollwheel: false,
          noClear: true,
          rotateControl: true,
          panControl: true,
          zoomControl: false,
          overviewMapControl: true,
          backgroundColor: '#007BB1',
          linksControl: true,
          minZoom: 9,
          disableDoubleClickZoom: false,
        },
        message: '',
        loading: true,
        missingData: false,
        _id: '',
        totalVolume: 10000,
        qualified: false,
        scaleFactor: '',
        chartData: {
          gender: [
            {totalVolume: 0},
            {totalVolume: 0}
          ],
          footfall: [
            {totalVolume: 0},
            {totalVolume: 0},
            {totalVolume: 0},
            {totalVolume: 0},
            {totalVolume: 0},
            {totalVolume: 0},
            {totalVolume: 0},
          ],
          age: [
            {totalVolume: 0},
            {totalVolume: 0},
            {totalVolume: 0},
            {totalVolume: 0},
            {totalVolume: 0},
            {totalVolume: 0},
            {totalVolume: 0},
          ],
        },
      };
    },
    methods: {
      initMap() {
        var self = this
        google.maps.event.trigger(self.map, "idle")
        self.map = new google.maps.Map(document.getElementById('map'), self.mapOptions)
        self.map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(new self.zoomControl(self))
        self.map.setCenter(self.mapOptions.center)
        var marker = new google.maps.Marker({
          position: self.mapOptions.center, icon: '/img/popscorepinblue1.png', map: self.map, title:
          self.id,
        });
      },
      excelExport() {
        let data = {
          locationName: this._id,
        };

        axiosDataApi
          .post("space/export", data, {responseType: "arraybuffer"})
          .then(response => {
            if (response.status === 200) {
              const contentDisposition = response.headers["content-disposition"];
              const fileName = contentDisposition
                .split("=")[1]
                .replace(/\"/gi, "");
              const url = window.URL.createObjectURL(new Blob([response.data]));
              const link = document.createElement("a");
              link.href = url;
              link.setAttribute("download", fileName);
              document.body.appendChild(link);
              link.click();
            } else if (response.status === 204) {
              this.messageDialog = true;
              this.message = "No data found.";
            }
          })
          .catch(error => {
            console.log(error.message)
            this.message = "Something went wrong. Please let the dev team know - " + error + " - ";
            this.messageDialog = true;
          });
      },
      zoomControl(context) {
        var self = context
        var controlDiv = document.createElement('div')
        var controlWrapper = document.createElement('div')
        var zoomInButton = document.createElement('div')
        var zoomOutButton = document.createElement('div')
        controlDiv.index = 1
        controlDiv.style.padding = '0px'
        controlWrapper.style.cursor = 'pointer'
        controlWrapper.style.textAlign = 'center'
        controlWrapper.style.width = '32px'
        controlWrapper.style.height = '70px'
        controlWrapper.style.marginRight = '20px'
        controlWrapper.style.marginBottom = '20px'
        controlDiv.appendChild(controlWrapper)
        zoomInButton.style.width = '32px'
        zoomInButton.style.height = '32px'
        zoomInButton.style.marginBottom = '10px'
        zoomInButton.style.backgroundImage = 'url("/img/zoominred.png")'
        controlWrapper.appendChild(zoomInButton)
        zoomOutButton.style.width = '32px'
        zoomOutButton.style.height = '32px'
        zoomOutButton.style.backgroundImage = 'url("/img/zoomoutred.png")'
        controlWrapper.appendChild(zoomOutButton)
        google.maps.event.addDomListener(zoomInButton, 'click', function () {
          self.map.setZoom(self.map.getZoom() + 1)
        });
        google.maps.event.addDomListener(zoomOutButton, 'click', function () {
          self.map.setZoom(self.map.getZoom() - 1)
        });
        return controlDiv
      },
      refreshCharts() {
        const vm = this;
        vm.loading = true;
        vm.missingData = false;
        getSpaceData(vm._id).then((response) => {
          if (response === undefined) {
            vm.missingData = true;
            return;
          }
          if (response.status === false) {
            vm.message = response.message;
            vm.missingData = true;
            return;
          }
          vm.chartData = response;
          vm.totalVolume = response.totalVolume;
          vm.qualified = response.qualified;
          let lng = response.longitude;
          let lat = response.latitude;
          vm.mapOptions.center = {"lat": lat, "lng": lng};
          vm.initMap();
        }).catch(() => {
          vm.$emit('sessionOver');
        }).finally(() => {
          vm.loading = false;
        });
      }
    },
    mounted() {
      const vm = this;
      vm._id = this.$route.query._id;
      this.refreshCharts();
    },
    watch: {}
  }
</script>

<!-- Adding scoped styled scss -->
<style scoped lang="scss">
    #map {
        width: 100%;
        height: 350px;
    }

    p, div {
        color: #1e1e1e;
    }

    .normalize {
        height: 330px;
        @media (min-height: 900px) {
            height: 321px;
        }
        @media (min-height: 975px) {
            height: 371px;
        }
        @media (min-height: 1075px) {
            height: 391px;
        }
        @media (min-height: 1125px) {
            height: auto;
        }
        @media screen and (max-width: 1263px) {
            height: 331px !important;
        }
    }

    .slide-fade-enter-active {
        transition: all .3s ease;
    }

    .slide-fade-leave-active {
        transition: all 0s ease-out;
    }

    .slide-fade-enter, .slide-fade-leave-to
        /* .slide-fade-leave-active below version 2.1.8 */
    {
        transform: translateX(10px);
        opacity: 0;
    }

    .activator span {
        color: white;
    }

    .close {
        width: 30px;
        height: 50px;
        cursor: pointer;
        background-color: #FFFFFF;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        margin-top: 65px;
        margin-left: -30px;
        -webkit-box-shadow: -3px 2px 9px -6px #000000 !important;
        box-shadow: -3px 2px 9px -6px #000000 !important;

        i {
            margin: 13px 6px;
        }
    }

    .side-bar {
        width: 100vw;
        height: 100vh;
        background-color: white;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 6;
        -webkit-box-shadow: 0px 2px 10px -6px #000000 !important;
        box-shadow: 0px 2px 10px -6px #000000 !important;
    }

    .content {
        margin-top: -60px;
    }

    .estimated-audience {
        margin-top: 6px;
        margin-left: 15px;
        margin-bottom: 0;
        color: #8c8d8c;
        font-weight: bold;
        font-size: 13px !important;
        line-height: 1.5em;
    }

    .light-border {
        height: calc(100% - 17px);
        border: 1px solid #d2d2d2;
        border-radius: 8px;
    }

    .estimated-footfall {
        margin-top: 15px;
        margin-left: 15px;
        color: #8c8d8c;
        font-weight: bold;
        font-size: 13px !important;
        line-height: 1.5em;
    }

    .info-text {
        margin-top: 15px;
        margin-left: 15px;
        color: #8c8d8c;
        font-weight: bold;
        font-size: 18px !important;
        line-height: 1.5em;
    }


    .number {
        font-size: 20px;
        color: #0080FF;
        font-weight: normal;
    }

    .small-text {
        font-size: 12px;
        color: #a4a5a4;
    }

    .bottom-border {
        border-bottom: 1px solid #d2d2d2;
        height: 240px;
    }

    .title-section {
        margin: 15px 15px 5px 15px;

        h1 {
            color: #443F76;
            font-size: 19px;
        }

        h2 {
            color: #C1C2C1;
            font-size: 14px;
        }
    }

    .centered-text {
        text-align: center;
    }

    .darken-background {
        background-color: #f3f3f3;
        padding: 10px 0 10px 0;
        border-bottom: 1px solid #929499;

        div, span {
            font-size: 12.5px;
        }

        @media (max-width: 1270px) {
            div, span {
                font-size: 11px;
            }
        }
        @media (max-width: 1115px) {
            div, span {
                font-size: 9.5px;
            }
        }
    }

    .lighten-text {
        color: #8D8D8D;
    }

    .footfall {
        margin: 23px 0 0 15px;
        width: 35px;
        height: 35px;
        background-color: #0080FF;
        -webkit-mask-size: cover;
        mask-size: cover;
        -webkit-mask-image: url('/img/homepage/footfall.svg');
        mask-image: url('/img/homepage/footfall.svg');
    }
    .info {
        margin: 23px 0 0 15px;
        width: 35px;
        height: 35px;
        background-color: #0080FF;
        -webkit-mask-size: cover;
        mask-size: cover;
        -webkit-mask-image: url('/img/homepage/info.svg');
        mask-image: url('/img/homepage/info.svg');
    }

    .crop {
        overflow: hidden;
        /*white-space:nowrap;*/
        text-overflow: ellipsis;
        width: 205px;
        /*height: 60px;*/
        min-height: 40px;
        max-height: 60px;
        letter-spacing: 0.01em !important;
    }

    @media(max-width: 1263px) {
        .add-margin {
            margin-left: 16px;
        }
    }

    .ct-legend {
        padding-bottom: 10px;
        padding-left: calc(50% - 123px);
        position: relative;
        z-index: 10;

        li {
            position: relative;
            padding-left: 23px;
            margin-bottom: 3px;
            display: inline;
            margin-left: 5px;
        }

        li:before {
            width: 12px;
            height: 12px;
            position: absolute;
            left: 7px;
            top: 3px;
            content: '';
            border: 3px solid transparent;
            border-radius: 2px;
        }

        li.inactive:before {
            background: transparent;
        }

        &.ct-legend-inside {
            //position: absolute;
            //top: 0;
            //left: 0;
        }

        $ct-series-colors: (
                #016061,
                #01b4b5,
                #01d0d2,
                #d17905,
                #453d3f,
                #59922b,
                #0544d3,
                #6b0392,
                #f05b4f,
                #dda458,
                #eacf7d,
                #86797d,
                #b2c326,
                #6188e2,
                #a748ca
        ) !default;

        @for $i from 0 to length($ct-series-colors) {
            .ct-series-#{$i}:before {
                background-color: nth($ct-series-colors, $i + 1);
                border-color: nth($ct-series-colors, $i + 1);
            }
        }
    }
</style>