<template>
    <v-container fill-height fluid grid-list-xl>
        <v-layout justify-center wrap>
            <v-flex xs12>
                <v-btn depressed color="green" @click="addSpace()">Add new space</v-btn>
                <v-btn v-if="spaceSearchType !== ''" depressed color="green" @click="updateMultiple()">Bulk update status</v-btn>
            </v-flex>
            <v-flex xs12 sm6 md4 class="ma-0 py-0 mt-2 pt-1">
                <v-select class="custom-v-card currency"
                          v-model="selectedScraper" :items="scrapers" label="Select Scraper" persistent-hint required
                          @input="newPage()"></v-select>
            </v-flex>
            <v-flex xs12 sm6 md8>
                <v-layout row wrap>
                    <v-flex>
                        <v-text-field class="mr-4 mt-2 purple-input" label="Search spaces.." hide-details color="purple"
                                      v-model="spaceSearchFilter"/>
                    </v-flex>
                    <v-flex style="flex-grow:0">
                        <v-btn depressed color="blue" @click="search('title')">Search in title</v-btn>
                        <v-btn depressed color="blue" @click="search('description')">Search in description</v-btn>
                        <v-btn depressed color="blue" @click="search('titleName')">Search in titleName</v-btn>
                    </v-flex>
                </v-layout>
            </v-flex>
            <v-flex md12>
                <material-card color="blue" :title="'All Spaces ' + spacesCount">
                    <v-data-table :headers="headers" :items="spaces" hide-actions>
                        <template slot="headerCell" slot-scope="{ header }">
                            <span class="subheading font-weight-light   text--darken-3" v-text="header.text"/>
                        </template>
                        <template slot="items" slot-scope="{ item, index }">
                            <td>{{index + 1 + ((activePage-1) * 100)}}</td>
                            <td>{{item.title}}</td>
                            <td>
                                <v-img :src="newImageToThumbnailMedium(item.featuredImage, item.scraper)"></v-img>
                            </td>
                            <td>{{item.scraper}}</td>
                            <td>{{item.status}}</td>
                            <td>{{item.address.city}}</td>
                            <td>{{item.address.country}}</td>
                            <td>{{timeConverter(item.timestamp)}}</td>
                            <td>
                                <v-btn depressed color="blue" @click="details(item)">Details</v-btn>
                            </td>
<!--                            <td>-->
<!--                                <v-btn depressed color="pink" @click="data(item)">Data</v-btn>-->
<!--                            </td>-->
                        </template>
                    </v-data-table>
                </material-card>
                <v-dialog v-model="messageDialog" max-width="500">
                    <v-card>
                        <v-card-title class="headline">Message</v-card-title>
                        <v-card-text>
                            {{message}}
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="green darken-1" flat="flat" @click="messageDialog=false">Okay
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                <v-dialog v-model="statusDialog" max-width="500">
                    <v-card>
                        <v-card-title class="headline">Caution!</v-card-title>
                        <v-card-text>
                            You are about to change the status of multiple spaces at once. Do you want to PUBLISH or UNPUBLISH all
                            {{spacesCount}} of them? <br>
                            {{statusDialogMessage}}
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="red darken-1" flat="flat" @click="confirmStatusChange(true)">Publish
                            </v-btn>
                            <v-btn color="red darken-1" flat="flat" @click="confirmStatusChange(false)">Unpublish
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-flex>
            <v-flex xs12>
                <v-layout grid-list-md row wrap class="py-4 spacesWrapper text-xs-center text-md-center">
                    <v-pagination color="blue" class="pagination" light v-model="activePage" total-visible="10" :length="paginationAmount"
                                  @input="newPage"></v-pagination>
                </v-layout>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
  export default {
    components: {},
    data() {
      return {

        headers: [
          {sortable: false, text: 'Id', value: '_id'},
          {sortable: false, text: 'title', value: 'title'},
          {sortable: false, text: 'Featured Image', value: 'featuredImage'},
          {sortable: false, text: 'Scraper', value: 'scraper'},
          {sortable: false, text: 'Status', value: 'status'},
          {sortable: false, text: 'City', value: 'city'},
          {sortable: false, text: 'Country', value: 'country'},
          {sortable: false, text: 'Created at', value: 'createdAt'},
          {sortable: false, text: 'Action', value: 'action'}
        ],
        spaceSearchFilter: '',
        spaceSearchType: '',
        spaces: [],
        displayOnPage: 100,
        activePage: 1,
        paginationAmount: 0,
        spacesCount: 0,
        scrapers: [],
        selectedScraper: "",
        statusDialog: false,
        message: "",
        messageDialog: false,
        statusDialogMessage: ""
      }
    },
    created() {
      this.getInitialSpaces();
    },
    methods: {
      addSpace() {
        this.$router.push({path: 'spaces/create'})
      },
      details(space) {
        let route = this.$router.resolve({path: 'spaces/details', query: {spaceId: space._id}})
        window.open(route.href, '_blank');
      },
      data(space) {
        let route = this.$router.resolve({path: 'spaces/data', query: {_id: space._id}})
        window.open(route.href, '_blank');
      },
      newPage() {
        window.scrollTo(0, 0);
        var self = this;
        self.spaces = [];
        if (self.activePage === 1 && (self.selectedScraper !== '' || self.spaceSearchFilter !== '')) this.getInitialSpaces();
        else {
          let searchParam = '';
          if (this.spaceSearchFilter !== '' && this.spaceSearchType !== '') {
            searchParam = 'searchType=' + this.spaceSearchType + '&keywords=' + encodeURIComponent(this.spaceSearchFilter) + "&";
          }
          axiosPopertee.get(`spaces?` + searchParam + `page=${self.activePage - 1}` + '&scraper=' + this.selectedScraper).then(response => {
            self.spaces = response.data.spaces

          })
        }
      },
      getInitialSpaces() {
        let searchParam = '';
        if (this.spaceSearchFilter !== '' && this.spaceSearchType !== '') {
          searchParam = 'searchType=' + this.spaceSearchType + '&keywords=' + encodeURIComponent(this.spaceSearchFilter) + "&";
        }
        axiosPopertee.get('spaces/count?' + 'scraper=' + this.selectedScraper + "&" + searchParam).then(response => {
          this.spacesCount = response.data.spacesCount;
          this.paginationAmount = Math.ceil(this.spacesCount / this.displayOnPage);
          axiosPopertee.get('spaces?' + searchParam + "page=0" + '&scraper=' + this.selectedScraper).then(response => {
            this.spaces = response.data.spaces
          })
        })
      },
      search(searchType) {
        if (this.spaceSearchFilter !== '') {
          this.activePage = 1;
          this.spaceSearchType = searchType;
        }
        this.newPage();
      },
      updateMultiple() {
        this.statusDialog = true;
        if (process.env.NODE_ENV === 'production') {
          this.statusDialogMessage = "These changes will be applied also to staging spaces right away."
        } else {
          this.statusDialogMessage =
            "Please be aware that these changes wont be applied to production spaces."
        }
      },
      confirmStatusChange(status) {
        this.statusDialog = false;
        let data = {
          status: status,
          keywords: this.spaceSearchFilter,
          searchType: this.spaceSearchType,
          scraper: this.selectedScraper
        };
        axiosPopertee.put('spaces/multiple/status', data).then(response => {
          if (process.env.NODE_ENV === 'production') {
            axiosPoperteeStaging.put('spaces/multiple/status', data).then(response => {
              console.log(response)
            })
          }
          this.message = response.data.message;
          this.messageDialog = true;
          this.search(this.spaceSearchType)
        }).catch(error => {
          this.message = "Something went wrong. Please let the dev team know - " + error + " - " + error.response.data.message;
          this.messageDialog = true;
        });
      },
    },
    beforeRouteEnter(to, from, next) {
      next(vm => {
        axiosPopertee.get('spaces/distinctScrapers').then(response => {
          vm.scrapers = response.data.scrapers
        })
      })
    }
  }
</script>
<style scoped>
    .pagination {
        margin: 0 auto 10px;
    }
</style>
