<template>
    <v-container fill-height grid-list-md>
        <v-layout justify-center wrap>
            <material-card color="blue" title="Space info" style="width:100%">
                <v-container grid-list-md>
                    <v-layout row wrap>
                        <v-flex xs12 md6>
                            Clicks: {{space.clicks}}
                            <br>
                            Top: {{space.top}}
                            <br>
                            Featured: {{space.featured}}
                            <br>
                            Scraper: {{space.scraper}}
                            <br>
                        </v-flex>
                        <v-flex v-if="space.editLogHistory.length > 0" xs12 md6>
                            <v-expansion-panel>
                                <v-expansion-panel-content>
                                    <div slot="header">Last Edits:</div>
                                    <p class="px-3 " v-for="(edit, key) in space.editLogHistory" :key="key">
                                        Last edited by: <span class="subheading"> {{edit.editBy}} </span> on <span class="subheading">{{timeConverter(edit.editDate)}}</span>
                                    </p>
                                </v-expansion-panel-content>
                            </v-expansion-panel>
                        </v-flex>

                    </v-layout>
                </v-container>
            </material-card>
            <material-card color="blue" title="Edit space" style="width:100%">
                <v-card-text>
                    <v-form ref="form" v-model="valid">
                        <p v-if="errors.length">
                            <span>Please correct the following error(s):</span>
                            <v-flex xs12 sm12 md12 v-for="(error, index) in errors" :key=index>
                                <v-alert :value="true" type="error" outline>{{error}}</v-alert>
                            </v-flex>
                        </p>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12 sm12 md12>
                                    <v-text-field light hint="Space Title" v-model="space.title" label="Space title"
                                                  :rules="spaceNameRules" required></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm12 md6>
                                    <v-checkbox label="Featured space" v-model="space.featured"></v-checkbox>
                                </v-flex>
                                <v-flex xs12>
                                    <span>Space Types</span>
                                </v-flex>
                                <v-flex md3 class="ma-0 py-0" v-for="type in types" :key="type.label">
                                    <v-checkbox class="pt-0 mt-0" v-model="type.checked" :value="type.checked" color="black"
                                                :label="type.label" @change="typeChange(type)"></v-checkbox>
                                </v-flex>
                                <v-flex xs12 sm12 md12>
                                    <v-textarea name="input-7-1" box auto-grow light hint="Please enter space description"
                                                v-model="space.description" label="Space description" :rules="spaceDescriptionRules"
                                                required></v-textarea>
                                </v-flex>
                                <v-flex xs12>
                                    <span>Space Features</span>
                                </v-flex>
                                <v-flex md3 class="ma-0 py-0" v-for="feature in features" :key="feature.label">
                                    <v-checkbox class="mb-0 mt-0" v-model="feature.checked" color="black" :value="feature.checked"
                                                :label="feature.label" @change="featureChange(feature)"></v-checkbox>
                                </v-flex>
                                <v-flex xs12>
                                    <span>Space Gallery</span>
                                </v-flex>
                                <v-flex xs12>
                                    <v-layout wrap row justify-start>
                                        <v-flex md3 xs6 v-for="img in space.images" :key="img" class="spaceDetailsImgWrapper">
                                            <img :src="newImageToThumbnailMedium(img , space.scraper)" alt="" class="spaceDetailsImg">
                                            <v-btn color="error" small round absolute top right floating icon @click="removeImage(img)">
                                                <v-icon>mdi-close</v-icon>
                                            </v-btn>
                                        </v-flex>
                                    </v-layout>
                                    <v-btn v-if="space.images.length > 0" color="pink" class="reorderBtn" @click="imageReorder()">Reorder
                                        Images
                                    </v-btn>
                                </v-flex>
                                <v-flex xs12 sm6 md6>
                                    <v-text-field light hint="Please enter space dimensions" v-model="space.dimensions"
                                                  label="Space dimensions" required></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md6 class="ma-0 py-0 mt-2 pt-1">
                                    <v-select class="custom-v-card currency" :menu-props="{contentClass:'currencyDialog'}"
                                              v-model="space.status" :items="statusItems" item-text="statusText" item-value="statusValue"
                                              label="Status" persistent-hint required></v-select>
                                </v-flex>
                                <v-flex xs12 sm12 md12>
                                    <vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions"></vue-dropzone>
                                </v-flex>

								<v-flex xs12 sm12 class="ma-0 py-0">
	                                <input ref="autoCompleteMap" placeholder="Enter spaces location" class="search-location where-input" type="text"/>
	                                You can drag & drop the marker on the map to select the street, city...
	                                <div id="map"></div>
                                </v-flex>
                            	<v-flex xs6>
							        <v-card>
							        	<v-card-title class="px-0">Address:<b> {{googlePlace.addressLine1}}</b></v-card-title>
							        </v-card>
							    </v-flex>
							    <v-flex xs6>
							        <v-card>
							        	<v-card-title class="px-0">City:<b> {{googlePlace.city}}</b></v-card-title>
							        </v-card>
							    </v-flex>
								<v-flex xs4>
									<v-card>
										<v-card-title class="px-0">City Sector:<b> {{googlePlace.citySector}}</b></v-card-title>
									</v-card>
								</v-flex>
								<v-flex xs4>
									<v-card>
										<v-card-title class="px-0">City Region:<b> {{googlePlace.region}}</b></v-card-title>
									</v-card>
								</v-flex>
								<v-flex xs4>
									<v-card>
										<v-card-title class="px-0">Country:<b> {{googlePlace.country}}</b></v-card-title>
									</v-card>
								</v-flex>
								<v-flex xs12 sm4 md4>
                                    <v-select class="custom-v-card currency" :menu-props="{contentClass:'currencyDialog'}" v-model="ratesFormat.currency" :items="currencyItems" item-text="currencyText" item-value="currencyValue" label="Currency" persistent-hint required></v-select>
                                </v-flex>
                                <v-flex xs12 sm4 md4>
									<v-select class="custom-v-card period" :menu-props="{contentClass:'pricePeriodDialog'}" v-model="ratesFormat.period" :items="pricePeriod" item-text="pricePeriodText" item-value="pricePeriodValue" label="Price Period" persistent-hint required></v-select>
                                </v-flex>
                                <v-flex xs12 sm4 md4>
                                    <v-text-field light v-model="ratesFormat.value" hint="Enter price" label="Price of space" required clearable></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm12 md12>
                                    Leave field "Price of space" blank or 0 if you would like no price to be assigned.
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-form>
                </v-card-text>
                <v-card-actions class="addSpaceBtn">
                    <v-btn color="blue" class="submitButton" type="submit" @click="updateSpace()">Update Space</v-btn>
                    <v-flex xs6 sm4 md2>
                        <v-btn class="mx-3 font-weight-light" color="error" @click="deleteSpace()"> Delete Space</v-btn>
                    </v-flex>
                </v-card-actions>
            </material-card>
            <v-dialog v-model="messageDialog" max-width="500">
                <v-card>
                    <v-card-title class="headline">Message</v-card-title>
                    <v-card-text>
                        {{message}}
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="green darken-1" flat="flat" @click="redirectToSpaces()">Okay
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            <v-dialog v-model="confirmDialog" max-width="500">
                <v-card>
                    <v-card-title class="headline">Caution!</v-card-title>
                    <v-card-text>
                        Are you sure you want to delete this space - {{space.title}} ?
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="red darken-1" flat="flat" @click="confirmDeleteSpace(false)">Cancel
                        </v-btn>
                        <v-btn color="red darken-1" flat="flat" @click="confirmDeleteSpace(true)">Okay
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-layout>
    </v-container>
</template>
<script>
  import vue2Dropzone from 'vue2-dropzone'
  import 'vue2-dropzone/dist/vue2Dropzone.min.css'
  import $ from "jquery"

  export default {
    components: {vueDropzone: vue2Dropzone},
    data() {
      return {
      	googlePlace: {},
        mapOptions: {
          // streetViewControl: false,
          center: {"lat": 51.5073509, "lng": -0.118092},
          zoom: 8,
          mapTypeId: 'terrain',
          disableDefaultUI: false,
          mapTypeControl: false,
          gestureHandling: 'greedy',
          noClear: true,
          scrollwheel: true,
          panControl: true,
          zoomControl: false,
          scaleControl: true,
          overviewMapControl: true,
          rotateControl: true,
          backgroundColor: '#007BB1',
          linksControl: true,
          disableDoubleClickZoom: false,
          streetViewControl: false,
        },
        autoCompleteMap: '',
        dropzoneOptions: {
          maxFilesize: 500, // in MB
          maxFiles: 30,
          parallelUploads: 10, // How many files should be uploaded in one drag&drop
          acceptedFiles: "image/*",
          clickable: true,
          sortable: true,
          cursor: 'move',
          addRemoveLinks: true,
          thumbnailWidth: 350,
          autoProcessQueue: false,
          url: 'https://httpbin.org/post',
        },
        valid: true,
        space: {title: "", description: "", editLogHistory: [], images: []},
        images: [],
        removedImages: [],
        statusItems: [
          {statusText: 'Incomplete', statusValue: 'INCOMPLITED'},
          {statusText: 'Submitted', statusValue: 'SUBMITTED'},
          {statusText: 'Not published', statusValue: 'UNPUBLISHED'},
          {statusText: 'Published', statusValue: 'PUBLISHED'},
        ],
        selectedFeatures: [],
        selectedTypes: [],
        features: [],
        types: [],
        map: '',
        currencyItems: [{currencyText: '€ EUR', currencyValue: 0}, {currencyText: '£ GBP', currencyValue: 1}],
        ratesFormat: {"currency": 0, "value": 0, "period": 1},
        pricePeriod: [{pricePeriodText: 'Per hour', pricePeriodValue: 0}, {pricePeriodText: 'Per day', pricePeriodValue: 1}, {pricePeriodText: 'Per week', pricePeriodValue: 2}, {pricePeriodText: 'Per month', pricePeriodValue: 3}, {pricePeriodText: 'Minimum Spend', pricePeriodValue: 4}],
        spaceNameRules: [(v) => !!v || 'Space title should be added', (v) => v.length >= 3 ||
          'Space title must not be less than 3 characters'],
        spaceDescriptionRules: [(v) => !!v || 'Space description should be added', (v) => v.length >= 3 ||
          'Space description must not be less than 3 characters'],
        message: "",
        messageDialog: false,
        confirmDialog: false,
        errors: [],
        deleted: false
      }
    },
    created() {

    },
    mounted() {

    },
    methods: {
      imageReorder() {
        this.$router.push({path: '/spaces/images', query: {spaceId: this.space._id}})
      },
      typeChange(type) {
        if (type.checked === null) {
          for (let i = this.selectedTypes.length - 1; i >= 0; i--) {
            if (this.selectedTypes[i] === type.label) {
              this.selectedTypes.splice(i, 1);
            }
          }
        } else {
          this.selectedTypes.push(type.label);
        }
        console.log(this.selectedTypes)
      },
      removeImage(removedImageName) {
        this.removedImages.push(removedImageName);
        for (let i = this.space.images.length - 1; i >= 0; i--) {
          if (this.space.images[i] === removedImageName) {
            this.space.images.splice(i, 1);
          }
        }
      },
      featureChange(feature) {
        if (feature.checked === null) {
          for (let i = this.selectedFeatures.length - 1; i >= 0; i--) {
            if (this.selectedFeatures[i] === feature.label) {
              this.selectedFeatures.splice(i, 1);
            }
          }
        } else {
          this.selectedFeatures.push(feature.label);
        }
        console.log(this.selectedFeatures)
      },
      initMap() {
        let self = this;
        self.map = new google.maps.Map(document.getElementById('map'), self.mapOptions)

      },
      handleEvent(event) {
        var self = this
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({'latLng': event.latLng}, function (results, status) {
          if (status === google.maps.GeocoderStatus.OK) {
            self.setAddressFromMap(results[0])
          } else {
            // alert('Cannot determine address at this location. '+status)
          }
        })
      },
      checkGoogleAuto() {
        var self = this
        var marker = new google.maps.Marker({map: self.map, position: self.map.center, draggable: true});
        marker.addListener('dragend', self.handleEvent);
        self.autoCompleteMap = new google.maps.places.Autocomplete((self.$refs.autoCompleteMap), {types: ['geocode']});
        var autocompleteLsr = google.maps.event.addListener(self.autoCompleteMap, 'place_changed', function () {
          let place = self.autoCompleteMap.getPlace()
          // console.log(JSON.stringify(place))
          if (!place.geometry) {
            window.alert("Autocomplete's returned place contains no geometry")
            return;
          }
          if (place.geometry.viewport) {
            self.map.fitBounds(place.geometry.viewport)
          } else {
            self.map.setCenter(place.geometry.location)
            self.map.setZoom(14)
          }
          marker.setPosition(place.geometry.location);
          marker.setVisible(true);
          self.setAddressFromMap(place);
        })
      },
      setAddressFromMap(place) {
        let self = this;
        self.space.address.country = ""
        self.space.address.city = ""
        self.space.address.citySector = ""
        self.space.address.region = ""
        self.space.address.addressLine1 = ""
        var adr = place.address_components;
        for (var i = 0; i < adr.length; i++) {
          var type = adr[i].types[0]
          var value = adr[i].long_name;
          if (type === 'street_number') {
          } else if (type === 'route') {
            self.space.address.addressLine1 = value
          } else if (type === 'postal_town' || type === 'locality') {
            self.space.address.city = value;
          } else if (type === 'neighborhood') {
            self.space.address.citySector = value;
          } else if (type === 'administrative_area_level_1') {
            self.space.address.region = value
          } else if (type === 'country') {
            self.space.address.country = value
          }
        }
        var g = place.geometry.location;
        self.space.address.geolocation.coordinates[1] = g.lat()
        self.space.address.geolocation.coordinates[0] = g.lng()
        self.googlePlace = self.space.address
      },
      updateSpace() {
        let self = this;
        let formData = new FormData();
        this.errors = [];
        if (this.space.scraper === "popertee") {
          if (this.space.title.trim().length === 0) this.errors.push("Space title is required.");
          if (this.space.description.trim().length === 0) this.errors.push("Space description is required.");
          if (self.$refs.myVueDropzone.getAcceptedFiles().length === 0 && this.space.images.length === this.removedImages.length)
            this.errors.push("At least 1 image is required.");
          if (this.space.address.geolocation.coordinates.length < 2 || this.space.address.city === "" || this.space.address.country === "")
            this.errors.push("Location is required.");
          if (this.selectedTypes.length === 0) this.errors.push("At least one type is required.");
          if (this.selectedFeatures.length === 0) this.errors.push("At least one feature is required.");
          if (this.errors.length > 0) {
            window.scrollTo(0, 0);
            return;
          }
        }
        if (self.ratesFormat.value !== null && self.ratesFormat.value > 0) {
          self.space.rates.push(self.ratesFormat);
        } else {
          self.space.rates = [];
        }
        self.space.types = [];
        self.space.features = [];
        $.each(self.selectedTypes, function (i, type) {
          let strJson = {"label": "", "ref": 0};
          strJson.label = type;
          strJson.ref = i;
          self.space.types.push(strJson)
        });
        $.each(self.selectedFeatures, function (i, feature) {
          let strJson = {"label": "", "ref": 0};
          strJson.label = feature;
          strJson.ref = i;
          self.space.features.push(strJson)
        });

        formData.append('space', new Blob([JSON.stringify(self.space)], {type: "application/json"}));
        formData.append('removedImages', new Blob([JSON.stringify(self.removedImages)], {type: "application/json"}));
        $.each(self.$refs.myVueDropzone.getAcceptedFiles(), function (index, file) {
          formData.append('file', file)
        });

        axiosPopertee.put('spaces', formData,)
          .then(response => {
            if (response.data.status) {
              this.space = response.data.space;
            }
            this.message = response.data.message;
            this.messageDialog = true;
          }).catch(error => {
          this.message = "Something went wrong. Please let the dev team know - " + error + " - " + error.response.data.message;
          this.messageDialog = true;
        });
      },
      deleteSpace() {
        this.confirmDialog = true;
      },
      confirmDeleteSpace(status) {
        this.confirmDialog = false;
        if (status) {
          axiosPopertee.delete('spaces?id=' + this.space._id).then(response => {
            if (process.env.NODE_ENV === 'production' && this.space.scraper !== 'popertee') {
              axiosPoperteeStaging.delete('spaces?id=' + this.space._id).then(response => {
                console.log(response)
              })
            }
            this.deleted = true;
            this.message = response.data.message;
            this.messageDialog = true;
          }).catch(error => {
            this.message = "Something went wrong. Please let the dev team know - " + error + " - " + error.response.data.message;
            this.messageDialog = true;
          });
        }
      },
      redirectToSpaces() {
        this.messageDialog = false;
        if (this.deleted) {
          this.$router.push({path: '/spaces'})
        }
      }
    },
    beforeRouteEnter(to, from, next) {
      next(vm => {
        vm.spaceId = vm.$route.query.spaceId
        axiosPopertee.get('spaces/getById?id=' + vm.spaceId).then(response => {
          vm.space = response.data.space;
          console.log(JSON.stringify(vm.space.rates))
          let lng = vm.space.address.geolocation.coordinates[0];
          let lat = vm.space.address.geolocation.coordinates[1];
          vm.googlePlace = vm.space.address
          vm.mapOptions.center = {"lat": lat, "lng": lng};
          if (vm.space.clicks === null || vm.space.clicks === undefined) {
            vm.space.clicks = 0;
          }
          vm.initMap();
          vm.checkGoogleAuto();
          for (let i = 0; i < vm.space.features.length; i++) {
            vm.selectedFeatures.push(vm.space.features[i].label)
          }
          for (let i = 0; i < vm.space.types.length; i++) {
            vm.selectedTypes.push(vm.space.types[i].label)
          }
          if(vm.space.rates[0] !== undefined){
          	vm.ratesFormat = vm.space.rates[0]
          }

          axiosPopertee.get('spaces/features', {},).then(function (r) {

              for (let j = 0; j < r.data.features.length; j++) {
                if (vm.selectedFeatures.includes(r.data.features[j])) {
                  vm.features.push({label: r.data.features[j], checked: true})
                } else {
                  vm.features.push({label: r.data.features[j], checked: false})
                }
              }
            }
          )
          axiosPopertee.get('spaces/types', {},).then(function (r) {
            for (let j = 0; j < r.data.types.length; j++) {
              if (vm.selectedTypes.includes(r.data.types[j])) {
                vm.types.push({label: r.data.types[j], checked: true})
              } else {
                vm.types.push({label: r.data.types[j], checked: false})

              }
            }

          })

        })
      })
    },
  }

</script>
<style>
    #map {
        width: 100%;
        height: 350px;
    }

    .addSpaceBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px !important;
    }

    .spaceDetailsImgWrapper {
        position: relative;
    }

    .spaceDetailsImg {
        width: 100%;
        height: 140px;
        object-fit: cover;
    }

    .reorderBtn {
        margin-left: calc(100% - 140px);
    }
</style>
