<template>
    <v-container fill-height grid-list-md>
        <v-layout justify-center wrap>
            <material-card color="blue" title=" Fill out form to add space" style="width:100%">
                <v-card-text>
                    <v-form ref="form" v-model="valid">
                        <p v-if="errors.length">
                            <span>Please correct the following error(s):</span>
                            <v-flex xs12 sm12 md12 v-for="(error, index) in errors" :key=index>
                                <v-alert :value="true" type="error" outline>{{error}}</v-alert>
                            </v-flex>
                        </p>
                        <v-btn style="z-index:144;top:10px;right:10px;" round icon absolute flat small @click="enquireDialog = false">
                            <v-icon class="material-icon">clear</v-icon>
                        </v-btn>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12 sm12 md12>
                                    <v-text-field light hint="Please enter space name" v-model="space.title" label="Space Name"
                                                  :rules="spaceNameRules" required></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm12 md6>
                                    <v-checkbox label="Featured space" v-model="space.featured"></v-checkbox>
                                </v-flex>
                                <v-flex xs12>
                                    <span>Select space type</span>
                                </v-flex>
                                <v-flex md3 class="ma-0 py-0" v-for="(type, key) in types" :key="type">
                                    <v-checkbox class="pt-0 mt-0" v-model="selectedTypes" :value="type" color="black"
                                                :label="type"></v-checkbox>
                                </v-flex>
                                <v-flex xs12 sm12 md12>
                                    <v-text-field light hint="Please enter space description" v-model="space.description"
                                                  label="Space description" :rules="spaceDescriptionRules" required></v-text-field>
                                </v-flex>
                                <v-flex xs12>
                                    <span>Select space features</span>
                                </v-flex>
                                <v-flex md3 class="ma-0 py-0" v-for="(feature, key) in features" :key="feature + 1">
                                    <v-checkbox class="mb-0 mt-0" v-model="selectedFeatures" color="black" :value="feature"
                                                :label="feature"></v-checkbox>
                                </v-flex>
                                <v-flex xs12>
                                </v-flex>
                                <v-flex xs12 sm6 md6>
                                    <v-text-field light hint="Please enter space dimensions" v-model="space.dimensions"
                                                  label="Space dimensions" required></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md6 class="ma-0 py-0 mt-2 pt-1">
                                    <v-select class="custom-v-card currency"
                                              v-model="space.status" :items="statusItems" item-text="statusText" item-value="statusValue"
                                              label="Status" persistent-hint required></v-select>
                                </v-flex>
                                <v-flex xs12 sm12 md12>
                                    <vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions"></vue-dropzone>
                                </v-flex>
	                            <v-flex xs12 sm12 class="ma-0 py-0">
	                                <input ref="autoCompleteMap" placeholder="Enter spaces location" class="search-location where-input" type="text"/>
	                                You can drag & drop the marker on the map to select the street, city...
	                                <div id="map"></div>
                                </v-flex>
                            	<v-flex xs6>
							        <v-card>
							        	<v-card-title class="px-0">Address:<b> {{googlePlace.addressLine1}}</b></v-card-title>
							        </v-card>
							    </v-flex>
							    <v-flex xs6>
							        <v-card>
							        	<v-card-title class="px-0">City:<b> {{googlePlace.city}}</b></v-card-title>
							        </v-card>
							    </v-flex>
								<v-flex xs4>
									<v-card>
										<v-card-title class="px-0">City Sector:<b> {{googlePlace.citySector}}</b></v-card-title>
									</v-card>
								</v-flex>
								<v-flex xs4>
									<v-card>
										<v-card-title class="px-0">City Region:<b> {{googlePlace.region}}</b></v-card-title>
									</v-card>
								</v-flex>
								<v-flex xs4>
									<v-card>
										<v-card-title class="px-0">Country:<b> {{googlePlace.country}}</b></v-card-title>
									</v-card>
								</v-flex>
                                <v-flex xs12 sm4 md4>
                                    <v-select class="custom-v-card currency" :menu-props="{contentClass:'currencyDialog'}" v-model="ratesFormat.currency" :items="currencyItems" item-text="currencyText" item-value="currencyValue" label="Currency" persistent-hint required></v-select>
                                </v-flex>
                                <v-flex xs12 sm4 md4>
									<v-select class="custom-v-card period" :menu-props="{contentClass:'pricePeriodDialog'}" v-model="ratesFormat.period" :items="pricePeriod" item-text="pricePeriodText" item-value="pricePeriodValue" label="Price Period" persistent-hint required></v-select>
                                </v-flex>
                                <v-flex xs12 sm4 md4>
                                    <v-text-field light v-model="ratesFormat.value" hint="Enter price" label="Price of space" required clearable></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm12 md12>
                                  Leave field "Price of space" blank or 0 if you would like no price to be assigned.
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-form>
                </v-card-text>
                <v-card-actions class="addSpaceBtn">
                    <v-btn color="blue" class="submitButton" type="submit" @click="createSpace()">Add Space</v-btn>
                </v-card-actions>
            </material-card>
            <v-dialog v-model="messageDialog" max-width="500">
                <v-card>
                    <v-card-title class="headline">Message</v-card-title>
                    <v-card-text>
                        {{message}}
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="green darken-1" flat="flat" @click="details()">Okay
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-layout>
    </v-container>
</template>

<script>
  import vue2Dropzone from 'vue2-dropzone'
  import 'vue2-dropzone/dist/vue2Dropzone.min.css'

  export default {
    components: {vueDropzone: vue2Dropzone},
    computed: {},
    data() {
      return {
      	googlePlace: {},
        mapOptions: {
          center: {"lat": 51.5073509, "lng": -0.118092},
          zoom: 8,
          mapTypeId: 'terrain',
          disableDefaultUI: false,
          mapTypeControl: false,
          gestureHandling: 'greedy',
          noClear: true,
          rotateControl: true,
          scrollwheel: true,
          panControl: true,
          zoomControl: false,
          scaleControl: true,
          overviewMapControl: true,
          backgroundColor: '#007BB1',
          linksControl: true,
          disableDoubleClickZoom: false,
          streetViewControl: false,
        },
        autoCompleteMap: '',
        dropzoneOptions: {
          maxFilesize: 500, // in MB
          maxFiles: 35,
          parallelUploads: 10, // How many files should be uploaded in one drag&drop
          acceptedFiles: "image/jpeg,image/png,image/gif,image/bmp",
          clickable: true,
          addRemoveLinks: true,
          // paramName: "document",
          url: 'https://httpbin.org/post',
          thumbnailWidth: 350,
          autoProcessQueue: false
        },
        valid: true,
        images: [],
        statusItems: [
          {statusText: 'Incomplete', statusValue: 'INCOMPLITED'},
          {statusText: 'Published', statusValue: 'PUBLISHED'},
          {statusText: 'Submit', statusValue: 'SUBMITTED'},
        ],
        spaceNameRules: [(v) => !!v || 'Space name should be added', (v) => v.length >= 3 || 'Space name must not be less than 3 characters'],
        spaceDescriptionRules: [(v) => !!v || 'Space description should be added', (v) => v.length >= 3 || 'Space description must not be less than 3 characters'],
        selectedFeatures: [],
        selectedTypes: [],
        features: [],
        types: [],
        map: '',
        currencyItems: [{currencyText: '€ EUR', currencyValue: 0}, {currencyText: '£ GBP', currencyValue: 1}],
        ratesFormat: {"currency": 0, "value": 0, "period": 1},
        pricePeriod: [{pricePeriodText: 'Per hour', pricePeriodValue: 0}, {pricePeriodText: 'Per day', pricePeriodValue: 1}, {pricePeriodText: 'Per week', pricePeriodValue: 2}, {pricePeriodText: 'Per month', pricePeriodValue: 3}, {pricePeriodText: 'Minimum Spend', pricePeriodValue: 4}],
        space: {
          "title": "",
          "description": "",
          "address": {
            "addressLine1": "",
            "city": "",
            "citySector": "",
            "region": "",
            "country": "",
            "geolocation": {
              "type": "Point",
              "coordinates": []
            }
          },
          "rates": [],
          "types": [],
          "features": [],
          "dimensions": 1,
          "featured": false
        },
        message: "",
        messageDialog: false,
        errors: []
      }
    },
    beforeRouteEnter(to, from, next) {
      next(vm => {
        axiosPopertee.get('spaces/features', {},).then(function (r) {
          vm.features = r.data.features
        });
        axiosPopertee.get('spaces/types', {},).then(function (r) {
          vm.types = r.data.types
        });
        vm.initMap();
        vm.checkGoogleAuto()
      })
    },
    created() {

    },
    mounted() {

    },
    methods: {
      initMap() {
        let self = this;
        self.map = new google.maps.Map(document.getElementById('map'), self.mapOptions)

      },
      handleEvent(event) {
        var self = this
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({'latLng': event.latLng}, function (results, status) {
          if (status === google.maps.GeocoderStatus.OK) {
            self.setAddressFromMap(results[0])
          } else {
            // alert('Cannot determine address at this location. '+status)
          }
        })
      },
      checkGoogleAuto() {
        var self = this
        var marker = new google.maps.Marker({map: self.map, position: self.map.center, draggable: true});
        marker.addListener('dragend', self.handleEvent);
        self.autoCompleteMap = new google.maps.places.Autocomplete((self.$refs.autoCompleteMap), {types: ['geocode']});
        var autocompleteLsr = google.maps.event.addListener(self.autoCompleteMap, 'place_changed', function () {
          let place = self.autoCompleteMap.getPlace();
          if (!place.geometry) {
            window.alert("Autocomplete's returned place contains no geometry");
            return;
          }
          if (place.geometry.viewport) {
            self.map.fitBounds(place.geometry.viewport)
          } else {
            self.map.setCenter(place.geometry.location)
            self.map.setZoom(14)
          }
          marker.setPosition(place.geometry.location);
          marker.setVisible(true);
          self.setAddressFromMap(place);
        })
      },
      setAddressFromMap(place) {
        let self = this;
        self.space.address.country = ""
        self.space.address.city = ""
        self.space.address.citySector = ""
        self.space.address.region = ""
        self.space.address.addressLine1 = ""

        var adr = place.address_components
        for (var i = 0; i < adr.length; i++) {
          var type = adr[i].types[0]
          var value = adr[i].long_name
          if (type === 'street_number') {
          } else if (type === 'route') {
            self.space.address.addressLine1 = value
          } else if (type === 'postal_town' || type === 'locality') {
            self.space.address.city = value;
          } else if (type === 'neighborhood') {
            self.space.address.citySector = value;
          } else if (type === 'administrative_area_level_1') {
            self.space.address.region = value
          } else if (type === 'country') {
            self.space.address.country = value
          }
        }
        var g = place.geometry.location;
        self.space.address.geolocation.coordinates[1] = g.lat()
        self.space.address.geolocation.coordinates[0] = g.lng()

        self.googlePlace = self.space.address
      },

      createSpace() {
        let self = this;
        let formData = new FormData();
        self.errors = [];
        if (self.space.title.trim().length === 0) self.errors.push("Space title is required.");
        if (self.space.description.trim().length === 0) self.errors.push("Space description is required.");
        if (self.$refs.myVueDropzone.getAcceptedFiles().length === 0) self.errors.push("At least 1 image is required.");
        if (self.space.address.geolocation.coordinates.length < 2 || self.space.address.city === "" || self.space.address.country === "")
          self.errors.push("Location is required.");
        if (self.selectedTypes.length === 0) self.errors.push("At least one type is required.");
        if (self.selectedFeatures.length === 0) self.errors.push("At least one feature is required.");
        if (self.errors.length > 0) {
          window.scrollTo(0, 0);
          return;
        }
        self.space.rates = [];
        if (self.ratesFormat.value !== null && self.ratesFormat.value > 0) {
          self.space.rates.push(self.ratesFormat);
        } else {
          self.space.rates = [];
        }
        $.each(self.selectedTypes, function (i, type) {
          let strJson = {"label": "", "ref": 0};
          strJson.label = type;
          strJson.ref = i;
          self.space.types.push(strJson)
        });
        $.each(self.selectedFeatures, function (i, feature) {
          let strJson = {"label": "", "ref": 0};
          strJson.label = feature;
          strJson.ref = i;
          self.space.features.push(strJson)
        });
        console.log(JSON.stringify(self.space))
        formData.append('space', new Blob([JSON.stringify(self.space)], {type: "application/json"}));
        $.each(self.$refs.myVueDropzone.getAcceptedFiles(), function (index, file) {
          formData.append('file', file)
        });
        axiosPopertee.post('spaces', formData).then(response => {
          if (response.data.status) {
            this.space = response.data.space;
          }
          this.message = response.data.message;
          this.messageDialog = true;
        }).catch(error => {
          this.message = "Something went wrong. Please let the dev team know - " + error + " - " + error.response.data.message;
          this.messageDialog = true;
        });
      },
      details() {
        this.messageDialog = false;
        if (this.space._id !== undefined) {
          this.$router.push({path: '/spaces/details', query: {spaceId: this.space._id}})
        }
      }
    },

  };
</script>
<style>
    #map {
        width: 100%;
        height: 350px;
    }

    .addSpaceBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px !important;
    }
</style>
