<template>
    <v-container fill-height fluid>
        <v-layout justify-center wrap>
            <v-flex md4>
            <v-card-actions >
                <v-btn depressed color="green" @click="updatePositions()">Update Positions</v-btn>
                <v-btn depressed color="green" @click="createTeamMember()">Add new member</v-btn>
            </v-card-actions>
            </v-flex>
            <v-flex md8>
                Use mouse Drag 'n' Drop to reorder the position of elements on the page
            </v-flex>
            <v-flex md12>
                <material-card color="blue" title="Team Members">
                    <v-layout row wrap class="py-3 px-0 mx-2 mb-2 tableHeader">
                        <v-flex xs1>Position</v-flex>
                        <v-flex xs1>Name</v-flex>
                        <v-flex xs2>Title</v-flex>
                        <v-flex xs2>Image</v-flex>
                        <v-flex xs3>Linkedin</v-flex>
                        <v-flex xs1>Advisor</v-flex>
                        <v-flex xs2 class="text-xs-center">Actions</v-flex>
                    </v-layout>
                    <v-layout class="px-3" row wrap>
                        <v-flex xs12>
                            <draggable v-model="members" :options="{draggable:'.item'}">
                                <div v-for="(item, index) in members" :key="index" class="item tableRow py-2">
                                    <v-layout row wrap>
                                        <v-flex xs1>{{item.position=index + 1}}</v-flex>
                                        <v-flex xs1>{{item.name}}</v-flex>
                                        <v-flex xs2>{{item.title}}</v-flex>
                                        <v-flex xs2>
                                            <v-img style="height:120px;width:90%;margin:0 auto;"
                                                   :src="imageToThumbnailMedium(item.picture)"></v-img>
                                        </v-flex>
                                        <v-flex xs3><a :href="item.linkedinUrl" target="_blank">{{item.linkedinUrl}}</a></v-flex>

                                        <v-flex xs1>{{item.advisor}}</v-flex>
                                        <v-flex xs2 class="text-xs-center">
                                            <v-btn depressed color="blue" @click="editTeamMember(item)">Details</v-btn>
                                        </v-flex>

                                    </v-layout>
                                </div>
                            </draggable>
                        </v-flex>
                    </v-layout>
                </material-card>
                <v-dialog v-model="messageDialog" max-width="500">
                    <v-card>
                        <v-card-title class="headline">Message</v-card-title>
                        <v-card-text>{{message}}</v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="green darken-1" flat="flat" @click="messageDialog=false">Okay
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
  import draggable from 'vuedraggable'

  export default {
    components: {draggable},
    data() {
      return {
        members: [],
        messageDialog: false,
        message: ""
      }
    },
    created() {
    },
    mounted() {
    },
    methods: {
      createTeamMember() {
        this.$router.push({path: 'team/create'})
      },
      editTeamMember(member) {
        this.$router.push({path: 'team/details', query: {id: member.id}})
      },
      updatePositions() {
        let data = {
          members: this.members
        };
        axiosPopertee.post('v3/ourTeam/saveAll', data).then(response => {
          if (response.data.status) {
            this.members = response.data.members;
          }
          this.message = response.data.message;
          this.messageDialog = true;
        }).catch(error => {
          this.message = "Something went wrong. Please let the dev team know - " + error + " - " + error.response.data.message;
          this.messageDialog = true;
        });
      },
    },
    beforeRouteEnter(to, from, next) {
      next(vm => {
        axiosPopertee.get('v3/ourTeam').then(response => {
          vm.members = response.data.members
        })
      })
    },
  }
</script>
<style>
    .tableHeader {
        border-bottom: 1px solid #ddd;
    }

    .tableRow {
        border-bottom: 1px solid #eee;
    }
</style>
