<template>
    <v-container fill-height grid-list-md>
        <material-card color="green" title="Create new team member" style="width:100%">
            <v-card-text>
                <v-form ref="form" v-model="valid">
                    <p v-if="errors.length">
                        <span>Please correct the following error(s):</span>
                        <v-flex xs12 sm12 md12 v-for="(error, index) in errors" :key=index>
                            <v-alert :value="true" type="error" outline>{{error}}</v-alert>
                        </v-flex>
                    </p>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex xs12 sm12 md12>
                                <v-text-field light hint="Please enter name" v-model="teamMember.name" label="Name"
                                              required></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm12 md12>
                                <v-text-field light hint="Please enter title" v-model="teamMember.title" label="Title"
                                              required></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm12 md12>
                                <v-text-field light hint="Please enter linkedin url" v-model="teamMember.linkedinUrl" label="Linkedin"
                                              required></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm12 md12>
                                <v-checkbox label="Advisor?" v-model="teamMember.advisor"></v-checkbox>
                            </v-flex>
                            <v-flex xs12 sm12 md12> Picture
                                <vue-dropzone ref="myVueDropzone" id="images" :options="dropzoneOptions"></vue-dropzone>
                            </v-flex>
                            <v-flex xs12 sm12 md12>
                                <v-textarea name="input-7-1" box auto-grow light hint="Share some background information"
                                            v-model="teamMember.background" label="Background"
                                            required></v-textarea>
                            </v-flex>
                            <v-flex xs12 sm12 md12>
                                <v-textarea name="input-7-1" box auto-grow light hint="What is the current position?"
                                            v-model="teamMember.currentPosition" label="Current Position"
                                            required></v-textarea>
                            </v-flex>
                            <v-flex xs12 sm12 md12>
                                <v-textarea name="input-7-1" box auto-grow light hint="Share a fun fact"
                                            v-model="teamMember.funFact" label="Fun fact"
                                            required></v-textarea>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-form>
            </v-card-text>
            <v-card-actions>
                <v-btn block color="blue" class="submitButton" type="submit" @click="createTeamMember()">Submit</v-btn>
            </v-card-actions>
        </material-card>
        <v-dialog v-model="messageDialog" max-width="500">
            <v-card>
                <v-card-title class="headline">Message</v-card-title>
                <v-card-text>
                    {{message}}
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" flat="flat" @click="redirectToOurTeam()">Okay
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-container>
</template>
<script>
  import vue2Dropzone from 'vue2-dropzone'
  import 'vue2-dropzone/dist/vue2Dropzone.min.css'

  export default {
    components: {vueDropzone: vue2Dropzone},
    data() {
      return {
        teamMember: {
          title: "",
          advisor: false,
          name: "",
          funFact: "",
          background: "",
          linkedinUrl: "",
          currentPosition: ""
        },
        valid: true,
        message: "",
        messageDialog: false,
        errors: [],
        dropzoneOptions: {
          maxFilesize: 500, // in MB
          maxFiles: 1, acceptedFiles: "image/*",
          clickable: true,
          addRemoveLinks: true,
          url: 'https://httpbin.org/post',
          thumbnailWidth: 350,
          autoProcessQueue: false
        },
      }
    },
    created() {
    },
    mounted() {
    },
    methods: {
      redirectToOurTeam() {
        this.messageDialog = false;
        this.$router.push({path: '/team'})
      },
      createTeamMember() {
        this.errors = [];
        let formData = new FormData();
        if (this.teamMember.title.trim().length === 0) this.errors.push("Title is required.");
        if (this.teamMember.name.trim().length === 0) this.errors.push("Name is required.");
        if (this.$refs.myVueDropzone.getAcceptedFiles().length === 0) this.errors.push("Picture is required.");
        if (this.errors.length > 0) {
          window.scrollTo(0, 0);
          return;
        }
        formData.append("name", this.teamMember.name);
        formData.append("title", this.teamMember.title);
        formData.append("advisor", this.teamMember.advisor);
        $.each(this.$refs.myVueDropzone.getAcceptedFiles(), function (index, file) {
          formData.append('image', file)
        });
        if (this.teamMember.currentPosition.trim() !== "") {
          formData.append("currentPosition", this.teamMember.currentPosition);
        }
        if (this.teamMember.funFact.trim() !== "") {
          formData.append("funFact", this.teamMember.funFact);
        }
        if (this.teamMember.background.trim() !== "") {
          formData.append("background", this.teamMember.background);
        }
        if (this.teamMember.linkedinUrl.trim() !== "") {
          formData.append("linkedinUrl", this.teamMember.linkedinUrl);
        }


        axiosPopertee.post('v3/ourTeam', formData)
          .then(response => {
            if (response.data.status) {
              this.space = response.data.space;
            } else {
            }
            this.message = response.data.message;
            this.messageDialog = true;
          }).catch(error => {
          this.message = "Something went wrong. Please let the dev team know - " + error + " - " + error.response.data.message;
          this.messageDialog = true;
        });
      }
    }
  }
</script>

