<template>
    <v-container fill-height grid-list-md>
        <material-card color="blue" title="Edit team member" style="width:100%">
            <v-card-text>
                <v-form ref="form" v-model="valid">
                    <p v-if="errors.length">
                        <span>Please correct the following error(s):</span>
                        <v-flex xs12 sm12 md12 v-for="(error, index) in errors" :key=index>
                            <v-alert :value="true" type="error" outline>{{error}}</v-alert>
                        </v-flex>
                    </p>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex xs12 sm12 md12>
                                <v-text-field light hint="Please enter name" v-model="teamMember.name" label="Name"
                                              required></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm12 md12>
                                <v-text-field light hint="Please enter title" v-model="teamMember.title" label="Title"
                                              required></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm12 md12>
                                <v-text-field light hint="Please enter linkedin url" v-model="teamMember.linkedinUrl" label="Linkedin"
                                              required></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm12 md12>
                                <v-checkbox label="Advisor?" v-model="teamMember.advisor"></v-checkbox>
                            </v-flex>
                            <v-flex xs12 v-if="teamMember.picture">
                                <span class="subheading">Logo</span>
                                <v-layout wrap row justify-start>
                                    <v-flex md3 xs6 class="teamMemberDetailsImgWrapper">
                                        <img :src="imageToThumbnailMedium(teamMember.picture)" alt="" class="teamMemberDetailsImg">
                                        <v-btn color="error" small round absolute top right floating icon
                                               @click="removeOldImage(teamMember.picture)">
                                            <v-icon>mdi-close</v-icon>
                                        </v-btn>
                                    </v-flex>
                                </v-layout>
                            </v-flex>
                            <v-flex xs12 sm12 md12> Upload new picture
                                <vue-dropzone ref="myVueDropzone" id="images" :options="dropzoneOptions"
                                              @vdropzone-file-added="newImageUploaded"
                                              @vdropzone-removed-file="removeNewImage"></vue-dropzone>                            </v-flex>
                            <v-flex xs12 sm12 md12>
                                <v-textarea name="input-7-1" box auto-grow light hint="Share some background information"
                                            v-model="teamMember.background" label="Background"
                                            required></v-textarea>
                            </v-flex>
                            <v-flex xs12 sm12 md12>
                                <v-textarea name="input-7-1" box auto-grow light hint="What is the current position?"
                                            v-model="teamMember.currentPosition" label="Current Position"
                                            required></v-textarea>
                            </v-flex>
                            <v-flex xs12 sm12 md12>
                                <v-textarea name="input-7-1" box auto-grow light hint="Share a fun fact"
                                            v-model="teamMember.funFact" label="Fun fact"
                                            required></v-textarea>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-form>
            </v-card-text>
            <v-card-actions class="addTeamMemberButton">
                <v-flex xs6 sm4 md2>
                    <v-btn block color="blue" class="submitButton" type="submit" @click="saveTeamMember()">Update</v-btn>
                </v-flex>
                <v-flex xs6 sm4 md2>
                    <v-btn class="mx-3 font-weight-light" color="error" @click="deleteMember()"> Delete member</v-btn>
                </v-flex>
            </v-card-actions>
        </material-card>
        <v-dialog v-model="messageDialog" max-width="500">
            <v-card>
                <v-card-title class="headline">Message</v-card-title>
                <v-card-text>
                    {{message}}
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" flat="flat" @click="redirectToOurTeam()">Okay
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="confirmDialog" max-width="500">
            <v-card>
                <v-card-title class="headline">Caution!</v-card-title>
                <v-card-text>
                    Are you sure you want to delete this partner ?
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="red darken-1" flat="flat" @click="confirmDeleteMember(false)">Cancel
                    </v-btn>
                    <v-btn color="red darken-1" flat="flat" @click="confirmDeleteMember(true)">Okay
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-container>
</template>
<script>
  import vue2Dropzone from 'vue2-dropzone'
  import 'vue2-dropzone/dist/vue2Dropzone.min.css'

  export default {
    components: {vueDropzone: vue2Dropzone},
    data() {
      return {
        teamMember: {},
        deleted: false,
        newImage: undefined,
        valid: true,
        message: "",
        messageDialog: false,
        confirmDialog: false,
        errors: [],
        dropzoneOptions: {
          maxFilesize: 500, // in MB
          maxFiles: 1, acceptedFiles: "image/*",
          clickable: true,
          addRemoveLinks: true,
          url: 'https://httpbin.org/post',
          thumbnailWidth: 350,
          autoProcessQueue: false
        },
      }
    },
    created() {
    },
    mounted() {
    },
    methods: {
      removeOldImage() {
        this.teamMember.picture = undefined;
      },
      removeNewImage() {
        this.newImage = undefined;
      },
      newImageUploaded(file) {
        this.newImage = file;
      },
      deleteMember() {
        this.confirmDialog = true;
      },
      confirmDeleteMember(status) {
        this.confirmDialog = false;
        if (status) {
          axiosPopertee.delete('v3/ourTeam?id=' + this.teamMember.id).then(response => {
            this.message = response.data.message;
            this.messageDialog = true;
            this.deleted = true;
          }).catch(error => {
            this.message = "Something went wrong. Please let the dev team know - " + error + " - " + error.response.data.message;
            this.messageDialog = true;
          });
        }
      },
      redirectToOurTeam() {
        this.messageDialog = false;
        if (this.deleted) {
          this.$router.push({path: '/team'})
        }
      },
      saveTeamMember() {
        this.errors = [];
        let formData = new FormData();
        if (this.teamMember.title.trim().length === 0) this.errors.push("Title is required.");
        if (this.teamMember.name.trim().length === 0) this.errors.push("Name is required.");
        if (this.errors.length > 0) {
          window.scrollTo(0, 0);
          return;
        }
        formData.append("name", this.teamMember.name);
        formData.append("title", this.teamMember.title);
        formData.append("advisor", this.teamMember.advisor);
        formData.append("id", this.teamMember.id);
        if (this.newImage !== undefined) {
          formData.append("image", this.newImage);
        }
        if (this.teamMember.picture !== "" && this.teamMember.picture !== undefined) {
          formData.append("imageString", this.teamMember.picture);
        }
        if (this.teamMember.currentPosition !== null && this.teamMember.currentPosition !== undefined &&
          this.teamMember.currentPosition.trim() !== "") {
          formData.append("currentPosition", this.teamMember.currentPosition);
        }
        if (this.teamMember.funFact !== null && this.teamMember.funFact !== undefined &&
          this.teamMember.funFact.trim() !== "") {
          formData.append("funFact", this.teamMember.funFact);
        }
        if (this.teamMember.background !== null && this.teamMember.background !== undefined &&
          this.teamMember.background.trim() !== "") {
          formData.append("background", this.teamMember.background);
        }
        if (this.teamMember.linkedinUrl !== null && this.teamMember.linkedinUrl !== undefined &&
          this.teamMember.linkedinUrl.trim() !== "") {
          formData.append("linkedinUrl", this.teamMember.linkedinUrl);
        }


        axiosPopertee.post('v3/ourTeam', formData)
          .then(response => {
            if (response.data.status) {
              this.teamMember = response.data.teamMember;
            }
            this.message = response.data.message;
            this.messageDialog = true;
          }).catch(error => {
          this.message = "Something went wrong. Please let the dev team know - " + error + " - " + error.response.data.message;
          this.messageDialog = true;
        });
      }
    },

    beforeRouteEnter(to, from, next) {
      next(vm => {
        axiosPopertee.get('v3/ourTeam/getMember?id=' + vm.$route.query.id).then(response => {
          if (response.data.status) {
            vm.teamMember = response.data.teamMember;
          } else {
            vm.messageDialog = true;
            vm.message = response.data.message;
          }
        }).catch(error => {
          vm.messageDialog = true;
          vm.message = "Something went wrong. Please let the dev team know - " + error + " - " + error.response.data.message;
        });
      })
    }
  }
</script>
<style scoped>
    .addTeamMemberButton {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px !important;
    }

    .teamMemberDetailsImgWrapper {
        position: relative;
    }

    .teamMemberDetailsImg {
        width: 100%;
        height: 240px;
        object-fit: contain;
    }

</style>

