<template>
    <v-container fill-height fluid grid-list-xl>
        <v-layout justify-center wrap>
            <v-flex xs12 md10>
                <material-card color="green" title="New User Account" text="Create User Account">
                    <v-form>
                        <p v-if="errors.length">
                            <span>Please correct the following error(s):</span>
                            <v-flex xs12 sm12 md12 v-for="(error, index) in errors" :key=index>
                                <v-alert :value="true" type="error" outline>{{error}}</v-alert>
                            </v-flex>
                        </p>
                        <v-container py-0>
                            <v-layout wrap>
                                <v-flex xs12 md4>
                                    <v-text-field type="email" label="Email Address" class="purple-input" v-model="user.email"/>
                                </v-flex>
                                <v-flex xs12 md4>
                                    <v-checkbox color="success" label="Active Profile" v-model="user.status"/>
                                </v-flex>
                                <v-flex xs12 md6>
                                    <v-text-field label="First Name" class="purple-input" v-model="user.firstName"/>
                                </v-flex>
                                <v-flex xs12 md6>
                                    <v-text-field label="Last Name" class="purple-input" v-model="user.lastName"/>
                                </v-flex>
                                <v-flex xs6 md3>
                                    <v-checkbox color="success" label="Insights Request" v-model="user.beta"/>
                                </v-flex>
                                <v-flex xs6 md4>
                                    <v-checkbox color="success" label="Approved Insight Request" v-model="user.approvedBeta"/>
                                </v-flex>
                                <v-flex xs6 md2>
                                    <v-checkbox color="success" label="Pro User" v-model="user.pro"></v-checkbox>
                                </v-flex>
                                <v-flex xs6 md3>
                                    <v-checkbox color="success" label="Newsletter" v-model="user.newsletter"/>
                                </v-flex>
                                <v-flex xs12 md4>
                                    <v-text-field label="Company Name" class="purple-input" v-model="user.companyName"/>
                                </v-flex>
                                <v-flex xs12 md4>
                                    <v-text-field label="Company Role" class="purple-input" v-model="user.companyRole"/>
                                </v-flex>

                                <v-flex xs12 text-xs-right>
                                    <v-btn class="mx-0 font-weight-light" color="success" @click="createNewUser()">Save User</v-btn>
                                </v-flex>

                            </v-layout>
                        </v-container>
                    </v-form>
                </material-card>
                <v-dialog v-model="messageDialog" max-width="500">
                    <v-card>
                        <v-card-title class="headline">Message</v-card-title>
                        <v-card-text>
                            {{message}}
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="green darken-1" flat="flat" @click="messageDialog=false">Okay
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>

  export default {
    components: {},
    data() {
      return {
        user: {
          firstName: "",
          lastName: "",
          email: "",
          status: true,
          beta: false,
          approvedBeta: false,
          pro: false,
          newsletter: false,
          companyName: "",
          companyRole: ""
        },
        message: "",
        messageDialog: false,
        errors: []
      }
    },
    created() {
    },
    mounted() {
    },
    methods: {
      redirectToUsers() {
        this.messageDialog = false;
        this.$router.push({path: '/users'})
      },
      createNewUser() {
        this.errors = [];
        if (this.user.firstName.trim().length === 0) this.errors.push("First name required.");
        if (this.user.lastName.trim().length === 0) this.errors.push("Last name required.");
        if (this.user.email.trim().length === 0) this.errors.push("Email required.");
        if (this.user.companyName.trim().length === 0) this.errors.push("Company required.");
        if (this.user.companyRole.trim().length === 0) this.errors.push("Role required.");
        if (this.errors.length > 0) {
          window.scrollTo(0, 0);
          return;
        }
        axiosPopertee.post('v3/users/createUser', this.user)
          .then(response => {
            if (response.data.status) {
              this.user = response.data.user;
            }
            this.message = response.data.message;
            this.messageDialog = true;
          }).catch(error => {
          this.message = "Something went wrong. Please let the dev team know - " + error + " - " + error.response.data.message;
          this.messageDialog = true;
        });
      }
    }
  }
</script>
