<template>
    <v-container fill-height fluid grid-list-xl>
        <v-layout justify-center wrap>
            <v-flex xs12 md10>
                <material-card color="blue" title="User Info" style="width:100%">
                    <v-container grid-list-md>
                        <v-layout row wrap>
                            <v-flex xs12 md6>
                                Beta: {{user.beta && user.approvedBeta}}
                                <br>
                                Pro: {{user.pro}}
                                <br>
                                Created by admin: {{user.createdByAdmin}}
                                <br>
                                Newsletter: {{user.newsletter}}
                                <br>
                                Admin: {{admin}}
                                <br>
                                Signed up on: {{timeConverter(user.timestamp)}}
                                <br>
                                Sign up provider: {{user.provider}}
                                <br>
                            </v-flex>
                            <v-flex v-if="user.loginHistory.length > 0" xs12 md6>
                                <v-expansion-panel class="userLoginHistory">
                                    <v-expansion-panel-content>
                                        <div slot="header">Login history:</div>
                                        <p class="px-3 " v-for="(login, key) in user.loginHistory" :key="key">
                                            Logged in on <span class="subheading">{{login.loggedIn}}</span>
                                        </p>
                                    </v-expansion-panel-content>
                                </v-expansion-panel>

                            </v-flex>

                        </v-layout>
                    </v-container>
                </material-card>
                <material-card color="blue" title="User Details" text="Edit User Details">
                    <v-card-text>
                        <v-form ref="form" v-model="valid">
                            <p v-if="errors.length">
                                <span>Please correct the following error(s):</span>
                                <v-flex xs12 sm12 md12 v-for="(error, index) in errors" :key=index>
                                    <v-alert :value="true" type="error" outline>{{error}}</v-alert>
                                </v-flex>
                            </p>
                            <v-container py-0>
                                <v-layout wrap>
                                    <v-flex xs12 md4>
                                        <v-text-field label="User Id" v-model="user.id" readonly/>
                                    </v-flex>
                                    <v-flex xs12 md4>
                                        <v-text-field label="Email Address" class="purple-input" v-model="user.email" readonly/>
                                    </v-flex>
                                    <v-flex>
                                        <v-checkbox color="success" label="Admin" v-model="admin"></v-checkbox>
                                    </v-flex>
                                    <v-flex xs12 md4>
                                        <v-checkbox color="success" label="Active Profile" v-model="user.status"/>
                                    </v-flex>
                                    <v-flex xs12 md6>
                                        <v-text-field label="First Name" class="purple-input" v-model="user.firstName"/>
                                    </v-flex>
                                    <v-flex xs12 md6>
                                        <v-text-field label="Last Name" class="purple-input" v-model="user.lastName"/>
                                    </v-flex>
                                    <v-flex xs12 md4>
                                        <v-text-field label="Approved Since" class="purple-input" v-model="user.betaSince" readonly/>
                                    </v-flex>
                                    <v-flex xs12 md4>
                                        <v-text-field label="Company Name" class="purple-input" v-model="user.companyName"/>
                                    </v-flex>
                                    <v-flex xs12 md4>
                                        <v-text-field label="Company Role" class="purple-input" v-model="user.companyRole"/>
                                    </v-flex>
                                    <v-flex xs12>
                                        <v-layout row wrap>
                                            <v-flex>
                                                <v-checkbox color="success" label="Insights Request" v-model="user.beta" readonly/>
                                            </v-flex>
                                            <v-flex>
                                                <v-checkbox color="success" label="Approved Insights Request" v-model="user.approvedBeta"/>
                                            </v-flex>
                                            <v-flex>
                                                <v-checkbox color="success" label="Pro User" v-model="user.pro"></v-checkbox>
                                            </v-flex>
                                            <v-flex>
                                                <v-checkbox color="success" label="Newsletter" v-model="user.newsletter"/>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-form>
                    </v-card-text>
                    <v-card-actions class="addUserBtn">
                        <v-btn color="blue" class="submitButton" type="submit" @click="updateUser()">Update Profile
                        </v-btn>
                        <v-flex xs6 sm4 md2>
                            <v-btn class="mx-3 font-weight-light" color="error" @click="deleteUser()"> Delete User
                            </v-btn>
                        </v-flex>
                    </v-card-actions>
                </material-card>
                <v-dialog v-model="messageDialog" max-width="500">
                    <v-card>
                        <v-card-title class="headline">Message</v-card-title>
                        <v-card-text>
                            {{message}}
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="green darken-1" flat="flat" @click="redirectToUsers()">Okay
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                <v-dialog v-model="confirmDialog" max-width="500">
                    <v-card>
                        <v-card-title class="headline">Caution!</v-card-title>
                        <v-card-text>
                            Are you sure you want to delete this user - {{user.firstName}} {{user.lastName}} ?
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="red darken-1" flat="flat" @click="confirmDeleteUser(false)">Cancel
                            </v-btn>
                            <v-btn color="red darken-1" flat="flat" @click="confirmDeleteUser(true)">Okay
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
  export default {
    components: {},
    data() {
      return {
        valid: true,
        user: {},
        message: "",
        messageDialog: false,
        confirmDialog: false,
        admin: false,
        errors: []
      }
    },
    created() {
    },
    mounted() {
    },
    methods: {
      updateUser() {
        this.errors = [];
        if (this.user.firstName.trim().length === 0) this.errors.push("First name required.");
        if (this.user.lastName.trim().length === 0) this.errors.push("Last name required.");
        if (this.errors.length > 0) {
          window.scrollTo(0, 0);
          return;
        }
        this.user.admin = this.admin;
        axiosPopertee.put('v3/users/updateUser', this.user)
          .then(response => {
            if (response.data.status) {
              this.user = response.data.user;
            }
            this.message = response.data.message;
            this.messageDialog = true;
          }).catch(error => {
          this.message = "Something went wrong. Please let the dev team know - " + error + " - " + error.response.data.message;
          this.messageDialog = true;
        });
      },
      deleteUser() {
        this.confirmDialog = true;
      },
      confirmDeleteUser(status) {
        this.confirmDialog = false;
        if (status) {
          axiosPopertee.delete('v3/users/delete?id=' + this.user.id).then(response => {
            this.message = response.data.message;
            this.messageDialog = true;
          }).catch(error => {
            this.message = "Something went wrong. Please let the dev team know - " + error + " - " + error.response.data.message;
            this.messageDialog = true;
          });
        }
      },
      redirectToUsers() {
        this.messageDialog = false;
        this.$router.push({path: '/users'})
      }
    },
    beforeRouteEnter(to, from, next) {
      next(vm => {
        vm.userId = vm.$route.query.userId
        axiosPopertee.get('v3/users/getById?id=' + vm.userId).then(response => {
          vm.user = response.data.user;
          for (let i = 0; i < vm.user.roles.length; i++) {
            if (vm.user.roles[i].name === 'ADMIN') {
              vm.admin = true;
              return;
            }
          }
        })
      })
    }
  }
</script>
<style>
    .addUserBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px !important;
    }
</style>