<template>
    <v-container fill-height fluid grid-list-xl>

        <v-layout row justify-center wrap>
            <v-flex xs4>
                <v-btn depressed color="green" @click="createNewUser">Create a new User</v-btn>
            </v-flex>
            <v-flex xs8>
              <v-layout row wrap>
                  <v-flex >
                    <v-text-field class="mr-4 mt-2 purple-input" label="Search..." hide-details color="purple" v-model="userSearchFilter"/>
                  </v-flex>
                  <v-flex style="flex-grow:0" >
                    <v-btn depressed color="blue" @click="search()">Search users</v-btn>
                  </v-flex>
              </v-layout>
            </v-flex>

            <v-flex md12 xs12>
                <material-card color="blue" title="All Users" text="All users">
                    <v-data-table :headers="headers" :items="users" hide-actions>
                        <template slot="headerCell" slot-scope="{ header }">
                            <span class="subheading font-weight-light  text--darken-3" v-text="header.text"/>
                        </template>
                        <template slot="items" slot-scope="{ item }">
                            <td>{{item.id}}</td>
                            <td>{{item.firstName}} {{item.lastName}}</td>
                            <td>{{item.email}}</td>
                            <td>{{item.pro}}</td>
                            <td v-if="item.beta && item.approvedBeta">true</td>
                            <td v-if="item.beta && !item.approvedBeta">Requested</td>
                            <td v-if="!item.beta ">false</td>
                            <td>{{item.companyName}}</td>
                            <td>
                                <v-layout class="text-md-left featuredSpaceLayout" wrap row>
                                    <v-flex md12>
                                        <v-btn depressed color="green" @click="details(item)">Details</v-btn>
                                    </v-flex>
                                </v-layout>
                            </td>

                        </template>
                    </v-data-table>
                </material-card>
            </v-flex>
          <v-flex xs12 md12>
            <v-layout grid-list-md row wrap class="py-4 spacesWrapper text-xs-center text-md-center">
                <v-pagination class="pagination" color="blue" v-model="activePage" total-visible="10" :length="paginationAmount" @input="newPage()"></v-pagination>
          </v-layout>
        </v-flex>
        </v-layout>


    </v-container>
</template>
<script>
  export default {
    components: {},
    data() {
      return {
        headers: [
          {sortable: false, text: 'User Id', value: 'id'},
          {sortable: false, text: 'User', value: 'user'},
          {sortable: false, text: 'Email', value: 'mail'},
          {sortable: false, text: 'Pro', value: 'pro'},
          {sortable: false, text: 'Insights', value: 'insights'},
          {sortable: false, text: 'Company', value: 'companyName'},
          {sortable: false, text: 'Action', value: 'action'},
        ],
        userSearchFilter: '',
        users: [],
        filteredUsers: [],

        displayOnPage: 73,
        activePage: 1,
        paginationAmount: 0,
        usersCount: 0,

      }
    },
    created() {
      this.getInitialUsers()
    },
    mounted() {
    },
    methods: {
      getInitialUsers() {
        let self = this
        let searchParam = '';
        if (this.userSearchFilter !== '') {
          searchParam = "keyword=" + this.userSearchFilter + "&";
        }
        axiosPopertee.get('v3/users/totalPages?' + searchParam).then(response => {
          self.usersCount = response.data.pages * self.displayOnPage
          self.paginationAmount = response.data.pages
          axiosPopertee.get('v3/users/all/paginated?' + searchParam + 'page=0').then(response => {
            self.users = response.data.users
          })
        })
      },
      newPage() {
        window.scrollTo(0, 0);
        let self = this;
        self.users = [];
        if (self.activePage === 1) {
          this.getInitialUsers()
        } else {
          let searchParam = '';
          if (this.userSearchFilter !== '') {
            searchParam = "keyword=" + this.userSearchFilter + "&";
          }
          axiosPopertee.get('v3/users/all/paginated?' + searchParam + `page=${self.activePage - 1}`).then(response => {
            self.users = response.data.users
          })
        }
      },
      details(user) {
        this.$router.push({path: 'users/details', query: {userId: user.id}})
      },
      createNewUser() {
        this.$router.push({path: 'users/create'})
      },
      search() {
        if (this.userSearchFilter !== '') {
          this.activePage = 1;
          this.newPage();
        }
      }
    }
  }

</script>
<style scoped>
.pagination{
  margin: 0px auto 10px;
}
</style>
