<template>
  <v-app>
    <core-filter v-if="$route.name !== 'Login'" />

    <core-toolbar v-if="$route.name !== 'Login'" />

    <core-drawer v-if="$route.name !== 'Login'" />

    <core-view />
  </v-app>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
export default {
	computed: {
       ...mapGetters(['getAccessToken', 'isAdmin', 'getExp', 'getRefreshToken', ]),
    },
	created() {
		if(this.isAdmin == undefined && this.isAdmin  == 'false') this.redirectToLogin()
		else if(this.getAccessToken == undefined && this.getAccessToken == null) this.redirectToLogin()
		else if(this.isAdmin  == 'true'){
			var expired = this.getExp
	        // var refreshT = this.getRefreshToken
	        var currentTime = Math.floor(Date.now() / 1000)
	        if (currentTime > expired) {
	        	this.$router.push({path: '/logout'})
	        } else {
	    		axiosPopertee.defaults.headers.common['Authorization'] = `Bearer ${this.getAccessToken}`
	        }
		} else this.redirectToLogin()
    },
    mounted() {
    },
    methods: {
        ...mapActions(['logout']),
        redirectToLogin() {
        	if(window.location.pathname !== '/login') {
        		this.$router.push({path: '/login', query: {ref: location.href}})
        	}
        }
    },
};
</script>
<style lang="scss">
@import '@/styles/index.scss';

/* Remove in 1.2 */
.v-datatable thead th.column.sortable i {
  vertical-align: unset;
}
</style>
